<div class = "f-calendar-selector desc-icon">
    <span class = "main-legend-icon calendar-icon-holder">
        <i class = "fa f-std-centered fa-calendar-check-o"></i>

        {% if f_triggered_reservation and f_triggered_reservation == true %}
            <i class = "fa sub-legend-icon f-triggered fa-exclamation"></i>
        {% endif %}
    </span>
</div>