<div class = "f-calendar-selector desc-icon">
    <span class = "main-legend-icon calendar-icon-holder">
        <i class = "fa f-std-centered fa-calendar-o"></i>
        <i class = "fa fa-clock-o sub-legend-icon f-offset"></i>

    </span>
</div>