<div class = "f-calendar-selector desc-icon">
    <span class = "calendar-icon-holder">
        <i class = "fa f-std-centered fa-question-circle descriptor-b"></i>
        {#<i class = "fa sub-legend-icon inner-60 f-std-centered descriptor-b fa-question"></i>#}
    </span>
</div>