<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'admin/templates/partials/head_info.twig'%}
    <title>{% block title %} {% endblock %}</title>
</head>


<body>


    <div class = "a-level-holder">


        <div class = "content-wrap">
            <div class = "content">


                {% include 'admin/templates/std_header.twig'%}

                <section id = "content">
                    <!-- main content, will be injected via Twig -->
                    {% block content %} {% endblock %}
                </section>


            </div>
        </div>

        <div class="push"></div>

    </div>

    {% include 'templates/std_footer.twig'%}


{% include 'admin/templates/partials/foot_info.twig'%}

{% block additional_js %} {% endblock %}

</body>
</html>