<div class = "horizontal-section inner-70pct info" style="display:none;" id = "info-panel">
    <div class = "">
        <div class = "status-container live">
            <h4 class = "status">Informacije</h4>
        </div>
    </div>
</div>