{% extends "admin/templates/default.twig" %}

{% block title %}
    Admin login
{% endblock %}

{% block content %}


    <div class = "main-block-cont">
        <div class = "black-horiz-spacer-10"></div>

        <div class = "main-title-box">
            <div class = "inner-cont flag"></div>
            <div class = "inner-cont page-title">
                <h1>Prijava administratora</h1>
            </div>
        </div>
        <div class = "black-horiz-spacer-5"></div>

        <div class = "main-content-box">
            {% include "admin/templates/partials/admin_messages.twig" %}

            <div class = "inner-cont">
                <div class = "form-container">

                    <form method = "post" name = "admin-login" id = "admin-login"  onsubmit="return false;"
                          action = "{{ urlFor('admin.login.post') }}">
                        <div class = "inputs-container">


                            <div class = "vertical-section text-centered ">
                                <div class = "">

                                    <input type="text" name="username" id="username" required
                                           maxlength="255" spellcheck="false" autocomplete="off" tabindex="1"
                                           class = "std-text-input std-input-width req"/>
                                    <label id="username-label" class = "req" for = "username" data-info="KorisniÄko ime"></label>

                                </div>
                            </div>

                            <div class = "vertical-section text-centered ">
                                <div class = "">

                                    <input type="password" name="password" id="password" required
                                           maxlength="255" spellcheck="false" autocomplete="off" tabindex="2"
                                           class = "std-text-input std-input-width req"/>
                                    <label id="password-label" class = "req" for = "password" data-info="Lozinka"></label>

                                </div>
                            </div>

                            <div class = "vertical-section text-centered">
                                <div class = "">

                                    <input type="checkbox" name="remember-me" id="remember-me"
                                           class = "cb-input remember-me " tabindex="3">
                                    <div class = "checkbox-div-cont f-std-input-width">
                                        <label for = "remember-me" data-info="Zapamti me">
                                            <span>Zapamti me?</span>
                                        </label>
                                    </div>

                                </div>
                            </div>

                        </div>



                        {% include "admin/templates/partials/live_status.container.twig" %}

                        <input type = "hidden" name = "csrf-token" value = "{{ csrf_token }}">

                        <div class = "submitter-cont">
                            <div class = "">
                                <div class = "submitter submit bbb-flag-v-cibona-blue" tabindex="4"
                                     onclick="validateAndSubmitAdminLogin('admin-login')">
                                    <span>PRIJAVA</span>
                                </div>
                                <div class="submitter bbb-flag-v-cibona-blue reversed cancel">
                                    <a href = "{{ urlFor('home') }}" tabindex="5">ODUSTANI</a>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>

    </div>

    <script>
        $(document).ready(function(){
            function valSub() {
                if(formSubmittingActive == true) {
                    validateAndSubmitAdminLogin('admin-login');
                    return false;
                }
            }
            $('#admin-login').keydown(function(e) {
                if (e.keyCode == 13) {
                    valSub();
                }
            });
            $('.submitter.submit').keydown(function(e) {

                if (e.keyCode == 13) {
                    valSub();
                }
            });
        });
    </script>

{% endblock %}

{% block additional_js %}
    <script src="public/code/js/admin/validation.js"></script>
{% endblock %}