@import "modules/_modules.import";

@import 'bourbon'; // http://bourbon.io/



#google-container {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: $background;

  @include MQ(M) {
    height: 300px;
  }

  @include MQ(L) {
    height: 520px;
  }
}

#cd-google-map {
  position: relative;

  address {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 1em 1em;
    background-color: rgba($cibona-blue, .9);
    color: $light-blue-gray-light;
    @include font-size(13px);
    box-sizing: border-box;

    @include MQ(M) {
      @include font-size(15px);
      text-align: center;
    }

    a {
      @include pp-transition(background-color .25s ease-out, color .25s ease-out, border .25s ease-out);
      text-decoration: underline;
      padding: 0.1em 0.2em;
      &:hover {
        background-color: $light-blue-gray-light;
        color: $dark-dark-blue;
      }
    }
  }
}

#cd-zoom-in, #cd-zoom-out {
  height: 32px;
  width: 32px;
  cursor: pointer;
  margin-left: 10px;
  background-color: rgba($cibona-blue, .9);
  background-repeat: no-repeat;
  background-size: 32px 64px;
  background-image: url('../graphics/cd-icon-controller.svg');

  .no-touch &:hover {
    background-color: rgba($cibona-blue, 1);
  }

  @include MQ(M) {
    margin-left: 50px;
  }
}

#cd-zoom-in {
  background-position: 50% 0;
  margin-top: 10px;
  margin-bottom: 1px;

  @include MQ(M) {
    margin-top: 50px;
  }
}

#cd-zoom-out {
  background-position: 50% -32px;
}