@import "modules/modules.import";

html,
body,
.container,
.content-wrap {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.container {
  /*background: #373a47;*/
}



.content-wrap {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.content {
  position: relative;
  min-height: 100%;
}

.content::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 25;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  content: '';
  opacity: 0;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);

  -webkit-transition: opacity 0.4s, -webkit-transform 0s 0.4s;
  transition: opacity 0.4s, transform 0s 0.4s;

  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

button:focus {
  outline: none;
}


.menu-button-cont {

  padding: 0;
  border: none;

  color: transparent;
  background: transparent;

  &.opener {
    position: fixed;
    z-index: 1000;
    margin: 2em 1.5em;
    padding: 0;

    border: none;

    color: transparent;
    background: transparent;
    bottom: 0;
    cursor: pointer;
  }
  &.user-icon {
    //    bottom: .3em;
  }


}


//@media screen and (max-width:924px)
//{
//  .menu-button-cont.opener .home-icon-cont {
//    font-size: 2.0em;
//  }
//}
//@media screen and (min-width:925px) and (max-width:1150px)
//{
//  .menu-button-cont.opener .home-icon-cont {
//    font-size: 2.2em;
//  }
//}
//
//@media screen and (min-width:1151px) and (max-width:1280px)
//{
//  .menu-button-cont.opener .home-icon-cont {
//    font-size: 2.4em;
//  }
//}
//
//@media screen and (min-width:1281px) and (max-width:1600px)
//{
//  .menu-button-cont.opener .home-icon-cont {
//    font-size: 2.6em;
//  }
//}
//
//@media screen and (min-width:1601px) and (max-width:1900px)
//{
//  .menu-button-cont.opener .home-icon-cont {
//    font-size: 2.8em;
//  }
//}
//@media screen and (min-width:1901px)
//{
//  .menu-button-cont.opener .home-icon-cont {
//    font-size: 3em;
//  }
//}
//
//.menu-button-cont.opener .home-icon-cont {
//  @include pp-transition(font-size 0s linear 0.3s);
//}




.home-icon-cont {
//  vertical-align: middle;
  text-align: center;
  .thumbnail {
    position: relative;
  }
  .pic-cont {
    margin: 0 auto;
  }
}


$opener-button-border-radius: 0;

.menu-button-cont.opener {
  .home-icon-cont {
    bottom: .5em;

    .thumbnail {

      @include box-shadow(0 0 6px 0 rgba(102,102,102,.4));

//      @include graditent-dark-blue-radial();
//      @include gradient-horizontal-bbb-flag-cibona-blue();

      &.no-avatar {
        @include gradient-vertical-bbb-flag-cibona-blue();

      }

      &.yes-avatar {
        @include gradient-vertical-black-white-flag();
//        @include box-shadow(1px 1px 4px rgba(102,102,102,.4));
      }

      .pic-cont .fa
      {
        display: inline-table;
        height: 100%;
        &:before {
          vertical-align: middle;
          display: table-cell;
        }
      }

      &.user-icon {
        color: $light-blue-gray-light;
      }
    }

    .user {
      width: 6em;
      height: 6.25em;

      @include rounded($opener-button-border-radius);
    }

    .pic-cont {

//      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
//      width: 78%;
//      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    .pic-cont, .no-show {
      position: absolute;
    }

    .no-show
    {
      z-index: 30;
      width: 100%;
      height: 100%;
      top: 0; left:0;
    }

    .thumbnail > .no-show {
      height: 100%;
      background-color: rgba(0,0,0,.7);
      @include rounded($opener-button-border-radius);
      font-size: 2.0em;
      display: inline-table;
    }

    .thumbnail > .no-show {

      visibility:hidden;
      opacity:0;
      @include pp-transition(visibility 0s linear 0.3s, opacity 0.3s linear);
    }

    .thumbnail > .no-show i {
      opacity: .85;
      color:white;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }

    .thumbnail .pic-cont .fa {
      display: inline-table;
      height: 100%;
      font-size: 3em;
    }

    .thumbnail .pic-cont .fa:before{
      vertical-align: middle;
      display: table-cell;
    }

    &:hover > .thumbnail .no-show {
      position: absolute;
      left: 0;
      width: 100%;
      text-align: center;

      visibility:visible;
      opacity:1;
      transition-delay:0s;
    }
  }
}

/* Close Button */
.close-button {
  width: 10em;
  height: 2.2em;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  font-size: 1.1em;
  border: none;
  background: transparent;
  color: white;
  padding: 0.4em 0.5em 0.8em 0.2em;
  /* padding-top: 0.3em; */
  text-align: right;
  &:hover {
    color: $red-close-icons;
  }
}



/* Menu */
.menu-wrap {
  a, span, h4, h5, p, blockquote {
    font-family: MuseoSans;
    font-weight: 700;
  }
  a, p {
    color: $light-blue-gray-dark;
  }
  p {
    color: $light-blue-gray-light;
  }

  a:hover,
  a:focus {
    background-color: $light-blue-gray-dark;
    color: $dark-dark-blue;
  }

  position: absolute;
  z-index: 1001;
  width: 20em;
  height: 100%;
  background:$cibona-blue;

  padding-top: 3em; //em 1.0em 0 1.0em;
//  font-size: 1.16em;

  -webkit-transform: translate3d(-320px,0,0);
  transform: translate3d(-21em,0,0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);

  .jukebox-container {

    p {
      padding: 0.3em 1em 0.5em 3em;
      text-align: right;
    }
    h5 {
      padding: 0 1em 0 1em;
    }
  }
//  @include box-shadow(inset 0 0 3em #3A1F0C);

  a.logout{
    border-top: 2px dashed $light-blue-gray-dark;
  }

  h4 {
    color: white;
    font-size: 1.25em;
    padding: 2px 5px;
    border-bottom: 2px dashed $light-blue-gray-dark;
  }

  h5 {
    color: white;
    font-size: 1em;
    padding: 1px 5px;
  }

  h5.username {
//    border-top: 2px dashed $light-blue-gray-dark;
  }

  h4, h5 {
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
  }

  .menu {

//    padding-right: 1em;
    .icon-list {
      padding-left: 1em;
      padding-right: 1em;
    }

    .user-basic-info {
      text-align: right;
      margin-bottom: 1.25em;
      width: 19em;
//      padding-left: 1em;

      & > div {
        display:inline-block;
        padding: 0;
        margin: 0;
        text-align:left;
        vertical-align: middle;
      }
      & > .full-w {
        width: 100%;
        padding-left: 1em;
      }
      & > .w-80 {
        width: 15em;
      }
      & > .w-20 {
        width: 4em;

        .menu-button-cont.menu-icon {
          .home-icon-cont {

            .thumbnail {
              margin: 0 auto;
            }
            .user {
              width: 3.5em;
              height: 3.5em;
            }

            .pic-cont {
              border-radius: 50%;
              width: 100%;
              height: 100%;
              @include box-shadow(inset 0 0 1.5em 0.125em rgba(250, 235, 215, 0.1),
                0 0 1.5em 0.25em rgba(58, 31, 12, 0.50));

              white-space: nowrap;

              & > .v-align-helper {
                display: inline-block;
                height: 100%;
                vertical-align: middle;
              }
              & > img {
                max-width: 95%;
                max-height: 95%;
                border-radius: 50%;
                vertical-align: middle;
              }
            }

          }
        }
      }
    }
  }



  a:hover, a:focus {
    outline: none;
  }

  button:focus {
    outline: none;
  }
}

button {
  cursor: pointer;
}




.menu,
.icon-list {
  height: 100%;
}

.icon-list {
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.icon-list a {
  font-size: 1em;
  display: block;
  padding: 0.75em 0.5em;
  -webkit-transform: translate3d(0,500px,0);
  transform: translate3d(0,500px,0);
}

.icon-list,
.icon-list a {
  -webkit-transition: -webkit-transform 0s 0.4s;
  transition: transform 0s 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.icon-list a:nth-child(2) {
  -webkit-transform: translate3d(0,1000px,0);
  transform: translate3d(0,1000px,0);
}

.icon-list a:nth-child(3) {
  -webkit-transform: translate3d(0,1500px,0);
  transform: translate3d(0,1500px,0);
}

.icon-list a:nth-child(4) {
  -webkit-transform: translate3d(0,2000px,0);
  transform: translate3d(0,2000px,0);
}

.icon-list a:nth-child(5) {
  -webkit-transform: translate3d(0,2500px,0);
  transform: translate3d(0,2500px,0);
}

.icon-list a:nth-child(6) {
  -webkit-transform: translate3d(0,3000px,0);
  transform: translate3d(0,3000px,0);
}

.icon-list a span {
  margin-left: 10px;
  font-weight: 700;
}

/* Shown menu */
.show-menu .menu-wrap {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.show-menu .icon-list,
.show-menu .icon-list a {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.show-menu .icon-list a {
  -webkit-transition-duration: 0.9s;
  transition-duration: 0.9s;

  text-decoration: none;
}

.show-menu .icon-list a.menu-link {
   @include pp-transition(background-color .25s ease-out, color .25s ease-out, transform 0.9s cubic-bezier(0.7,0,0.3,1));

}
.show-menu .content::before {
  opacity: 1;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}


// ..?

//*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }


.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }