<div class = "chat-conversation-holder" data-chat-cr-user-id = "{{ user.id }}" >

    <div class = "chatroom-title-container">
        <div class = "chatroom-title inline-table">
            <span>Započni chat s korisnikom: {{ user.username }}</span>
        </div>
    </div>


    <div class = "messages-container">
    </div>


    <div class = "submit-message">
        <div class = "textarea-holder">
            <textarea placeholder="Tvoja poruka..." spellcheck="false" class = "textarea-submitter creating"></textarea>
        </div><!--
        --><div class = "submitter-holder">
            <div class = "submitter-cont">
                <div class = "">
                    <div class = "submitter submit bbb-flag-v-cibona-blue creator">
                        <span class = "f-div-fw-mobile-mid">POŠALJI</span>
                        <i class = "f-div-non-fw-mobile-mid fa fa-fw fa-envelope-o"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>