<div class = "vertical-section info inner-70pct" style="display:none;" id = "info-panel">
    <div class = "">
        <div class = "status-container live">
            <h4 class = "status">Informacije</h4>
        </div>
    </div>
</div>