<div class = "calendar-widget-holder widget-content clearfix-helper">
    <div class = "calendar-overlay">
        <div class = "calendar-container">
            {% include wrapper %}
        </div>
    </div>
</div>