@import '../modules/_modules.import';





$game-icon-td-w: 3em;
$game-label-td-w: 15em;
$game-info-td-w: 2.5em;
$game-ext-link-td-w: 3em;
//  $booking-cancelation-td-w: 8em;

$game-std-row-h: 2.375em;

#hot-games {
  max-width: $game-icon-td-w + $game-label-td-w + $game-info-td-w + $game-ext-link-td-w;
  text-align: center;
  margin-left: 0.5em;
  margin-right: 0.5em;
  @include responsive-w-min($mobile-mid-bp) {
    margin-left: 1em;
    margin-right: 1em;
  }



  .profile-stats {
    span {
      font-size: 0.90em;
      @include responsive-w-min($mobile-mid-bp) {
        font-size: 0.95em;
      }
    }
    .tr {
      height: 2em;
      text-align: left;
      display: inline-block;
      .td {
        display: inline-table;
        height: 100%;
        span {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
    .td.thl {
      width: 6em;
      @include responsive-w-min($mobile-mid-bp) {
        width: 7.5em;
      }
      text-align: left;
      &.thl-big {
        width: 14.5em;
        @include responsive-w-min($mobile-mid-bp) {
          width: 18em;
        }
      }
    }
    .td.cont {
      text-align: center;
      width: 2.5em;
      @include responsive-w-min($mobile-mid-bp) {
        width: 3em;
      }
    }
  }

  .std-item {
    &.profile-hot-game {
      max-width: $game-icon-td-w + $game-label-td-w - 4em + $game-info-td-w + $game-ext-link-td-w;
      @include responsive-w-min($mobile-mid-bp) {
        max-width: $game-icon-td-w + $game-label-td-w + $game-info-td-w + $game-ext-link-td-w;
      }
      display: block;
      text-align: center;
      margin: 0 auto;

      .inner-box {
        padding: 4px 0 3px 0;
      }
      section.td {
        border: 0;
        display: table-cell;
        vertical-align: top;
        &.icon {
          width: $game-icon-td-w - 0.5em;

          @include responsive-w-min($mobile-mid-bp) {
            width: $game-icon-td-w;
          }
          .icon-holder {
            width: $game-icon-td-w - 0.5em;
            @include responsive-w-min($mobile-mid-bp) {
              width: $game-icon-td-w;
            }
            height: $game-std-row-h;
            background-color: $light-blue-gray-light;

            .game-icon-cont {
              .game-icon {
                width: 1.75em;
                @include responsive-w-min($mobile-mid-bp) {
                  width: 2em;
                }
                position: relative;
                height: $game-std-row-h;

                .pic-cont {
                  & > .icon {
                    font-size: 1.7em;
                    @include responsive-w-min($mobile-mid-bp) {
                      font-size: 1.9em;
                    }
                    color: $dark-dark-blue;
                    &.victory {
                      color: $green-badge-transparent-overlay;
                    }
                    &.loss {
                      color: $red-loss;
                    }
                    &.draw {
                      color: $orange-warning;
                    }
                    &.fa-question {
                      color: $cibona-blue-transp10;
                    }
                  }
                }
                .overlay-pic-cont {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  top: 0;
                  left: 0;
                  clip: rect(auto 20px auto auto);
                  clip: rect(auto, 20px, auto, auto);
                  @include responsive-w-min($mobile-mid-bp) {
                    clip: rect(auto 24px auto auto);
                    clip: rect(auto, 24px, auto, auto);
                  }
                  .icon-o {
                    font-size: 1.7em;
                    @include responsive-w-min($mobile-mid-bp) {
                      font-size: 1.9em;
                    }
                    &.fa-exclamation {
                      //                    color: $green-badge-transparent-overlay;
                    }
                    &.victory {
                      color: $green-badge-transparent-overlay;
                    }
                    &.loss {
                      color: $red-loss;
                    }
                    &.draw {
                      color: $orange-warning;
                    }
                    &.fa-question {
                      color: $cibona-blue-transp10;
                    }
                  }
                }
              }
            }
          }
        }

        &.label {
          max-width: $game-label-td-w - 4em;
          padding: 0 0.25em;
          position: relative;
          @include responsive-w-min($mobile-mid-bp) {
            max-width: $game-label-td-w;
          }
          & > span {
            font-size: 0.95em;
          }

          .info-overlay, .info-overlay-right {
            display: none;
            position: absolute;
            top: 0;
            z-index: 2;

            left: -($game-icon-td-w - 0.5em);
            width: calc(100% + (#{$game-icon-td-w} - 0.5em));
            @include responsive-w-min($mobile-mid-bp) {
              width: $game-label-td-w;
              left: 0;
            }
//            right: $game-info-td-w;
            color: $dark-dark-blue;
            background-color: $light-blue-gray-light;

            height: 100%;


            .info-holder {
              position: relative;
              display: inline-table;
              height: 100%;
              width: 100%;
              & > div {
                display: inline-table;
                width: 100%;
                span {
                  @include font-size(14px);
                }
              }
              & > span {
                display: table-cell;
                vertical-align: middle;
                @include font-size(14px);
              }
            }
          }
        }


        &.info {
          width: $game-info-td-w;
          position: relative;

          .icon-holder {
            width: $game-info-td-w;
            height: $game-std-row-h;
            cursor: pointer;
            @include pp-transition(all .25s ease-out);

            .info-icon-cont {
              .info-icon {
                width: 2em;
                height: $game-std-row-h;
                position: relative;
                .pic-cont {
                  & > .icon {
                    color: $light-blue-gray-dark;
                    @include pp-transition(all .15s ease-out);
                  }
                }
              }
            }
            &:hover, &.clicked {
              background-color: $light-blue-gray-dark;
              .info-icon .pic-cont > .icon {
//                text-shadow: 0px 0px 0.3em $light-blue-gray-light;
                color: $dark-dark-blue;
              }
            }
          }
        }


        &.ext-link {
          width: $game-ext-link-td-w;
          position: relative;

          .icon-holder {
            width: $game-ext-link-td-w;
            height: $game-std-row-h;
  //              cursor: pointer;
            @include pp-transition(all .25s ease-out);
            .ext-link-icon-cont {
              .ext-link-icon {
                width: 2em;
                height: $game-std-row-h;
                position: relative;
                .pic-cont {
                  & > .icon {
                    @include pp-transition(all .25s ease-out);
                  }
                }
              }
            }
            .ext-link-icon-cont:hover {
              background-color: $cibona-blue;
              color: $light-blue-gray-light;
              .pic-cont > .icon {
                color: $red-close-icons;
              }
            }
          }
        }
      }
    }
  }
}