/*********************
 BREAKPOINTS
 *********************//* "X" icons hover *//* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edf0f4+0,eaeef1+100 */@-webkit-keyframes horizontal-alarm-frames {
  10% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  12% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  14% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  16% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  18% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  22% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  35% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  37% {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
  }
  39% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  41% {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
  43% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  45% {
    -webkit-transform: scale(1.6);
    -ms-transform: scale(1.6);
    transform: scale(1.6);
  }
  47% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes horizontal-alarm-frames {
  10% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  12% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  14% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  16% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  18% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  22% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  35% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  37% {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
  }
  39% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  41% {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
  43% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  45% {
    -webkit-transform: scale(1.6);
    -ms-transform: scale(1.6);
    transform: scale(1.6);
  }
  47% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes horizontal-alarm-frames {
  10% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  12% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  14% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  16% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  18% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  22% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  35% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  37% {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
  }
  39% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  41% {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
  43% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  45% {
    -webkit-transform: scale(1.6);
    -ms-transform: scale(1.6);
    transform: scale(1.6);
  }
  47% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes horizontal-alarm-frames {
  10% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  12% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  14% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  16% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  18% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  22% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  35% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  37% {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
  }
  39% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  41% {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
  43% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  45% {
    -webkit-transform: scale(1.6);
    -ms-transform: scale(1.6);
    transform: scale(1.6);
  }
  47% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes alarm-text-shadow-frames {
  18% {
    text-shadow: none;
  }
  20% {
    text-shadow: 0px 0px 25px red;
  }
  22% {
    text-shadow: none;
  }
  43% {
    text-shadow: none;
  }
  45% {
    text-shadow: 0px 0px 25px red;
  }
  47% {
    text-shadow: none;
  }
}
@-moz-keyframes alarm-text-shadow-frames {
  18% {
    text-shadow: none;
  }
  20% {
    text-shadow: 0px 0px 25px red;
  }
  22% {
    text-shadow: none;
  }
  43% {
    text-shadow: none;
  }
  45% {
    text-shadow: 0px 0px 25px red;
  }
  47% {
    text-shadow: none;
  }
}
@-o-keyframes alarm-text-shadow-frames {
  18% {
    text-shadow: none;
  }
  20% {
    text-shadow: 0px 0px 25px red;
  }
  22% {
    text-shadow: none;
  }
  43% {
    text-shadow: none;
  }
  45% {
    text-shadow: 0px 0px 25px red;
  }
  47% {
    text-shadow: none;
  }
}
@keyframes alarm-text-shadow-frames {
  18% {
    text-shadow: none;
  }
  20% {
    text-shadow: 0px 0px 25px red;
  }
  22% {
    text-shadow: none;
  }
  43% {
    text-shadow: none;
  }
  45% {
    text-shadow: 0px 0px 25px red;
  }
  47% {
    text-shadow: none;
  }
}
@-webkit-keyframes highlight-anchored {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  10% {
    background-color: #246173;
  }
  100% {
    background-color: initial;
  }
}
@-moz-keyframes highlight-anchored {
  0% {
    background-color: rgba(0, 0, 0, .1);
  }
  10% {
    background-color: #246173;
  }
  100% {
    background-color: rgba(0, 0, 0, .1);
  }
}
.std-item.booking {
  width: 100%;
  text-align: left;
}
.std-item.booking .icon-holder {
  width: 3em;
  background-color: #12408d;
  height: 2.5em;
}
.std-item.booking .icon-holder .booking-icon-cont .booking-icon {
  width: 2em;
  height: 2em;
}
.std-item.booking .icon-holder .booking-icon-cont .booking-icon .pic-cont {
  border-radius: 50%;
}
.std-item.booking .icon-holder .booking-icon-cont .booking-icon .pic-cont > .icon {
  color: white;
  font-size: 1em;
}
.std-item.booking.booking-allowed .icon-holder {
  background-color: #edf0f4;
}
.std-item.booking.booking-allowed .icon-holder .booking-icon-cont .booking-icon .pic-cont > .icon {
  color: #0c131d;
}
.std-item.booking.booking-disallowed .icon-holder {
  background-color: #12408d;
}
.std-item.booking.booking-disallowed .icon-holder .booking-icon-cont .booking-icon .pic-cont {
  -webkit-box-shadow: inset 0px 0px 1.5em 0.125em rgba(250, 235, 225, 0.1), 0px 0px 1.3em 0.2em rgba(50, 40, 40, 0.40);
  -moz-box-shadow: inset 0px 0px 1.5em 0.125em rgba(250, 235, 225, 0.1), 0px 0px 1.3em 0.2em rgba(50, 40, 40, 0.40);
  box-shadow: inset 0px 0px 1.5em 0.125em rgba(250, 235, 225, 0.1), 0px 0px 1.3em 0.2em rgba(50, 40, 40, 0.40);
}
.std-item.booking.booking-disallowed .icon-holder .booking-icon-cont .booking-icon .pic-cont > .icon {
  color: #edf0f4;
}
.std-item.booking.booking-ended .icon-holder {
  background-color: #0c131d;
}
.std-item.booking.booking-ended .icon-holder .booking-icon-cont .booking-icon .pic-cont {
  -webkit-box-shadow: inset 0 0 1.5em 0.125em rgba(250, 235, 225, 0.15), 0 0 1.5em 0.25em rgba(220, 230, 230, 0.35);
  -moz-box-shadow: inset 0 0 1.5em 0.125em rgba(250, 235, 225, 0.15), 0 0 1.5em 0.25em rgba(220, 230, 230, 0.35);
  box-shadow: inset 0 0 1.5em 0.125em rgba(250, 235, 225, 0.15), 0 0 1.5em 0.25em rgba(220, 230, 230, 0.35);
}
.std-item.booking.booking-ended .icon-holder .booking-icon-cont .booking-icon .pic-cont > .icon {
  color: #edf0f4;
}
.std-item.booking section.td {
  font-size: initial;
  border: 0;
  display: inline-block;
  width: 4.25em;
  margin: 2px 0 2px 0;
}
.std-item.booking.item:target {
  -webkit-animation: highlight-anchored 4s 1;
  -moz-animation: highlight-anchored 4s 1;
  color: darkorange;
}
