/*********************
 BREAKPOINTS
 *********************//* "X" icons hover *//* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edf0f4+0,eaeef1+100 */@-webkit-keyframes horizontal-alarm-frames {
  10% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  12% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  14% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  16% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  18% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  22% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  35% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  37% {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
  }
  39% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  41% {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
  43% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  45% {
    -webkit-transform: scale(1.6);
    -ms-transform: scale(1.6);
    transform: scale(1.6);
  }
  47% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes horizontal-alarm-frames {
  10% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  12% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  14% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  16% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  18% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  22% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  35% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  37% {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
  }
  39% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  41% {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
  43% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  45% {
    -webkit-transform: scale(1.6);
    -ms-transform: scale(1.6);
    transform: scale(1.6);
  }
  47% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes horizontal-alarm-frames {
  10% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  12% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  14% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  16% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  18% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  22% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  35% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  37% {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
  }
  39% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  41% {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
  43% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  45% {
    -webkit-transform: scale(1.6);
    -ms-transform: scale(1.6);
    transform: scale(1.6);
  }
  47% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes horizontal-alarm-frames {
  10% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  12% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  14% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  16% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  18% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  22% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  35% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  37% {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
  }
  39% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  41% {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
  43% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  45% {
    -webkit-transform: scale(1.6);
    -ms-transform: scale(1.6);
    transform: scale(1.6);
  }
  47% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes alarm-text-shadow-frames {
  18% {
    text-shadow: none;
  }
  20% {
    text-shadow: 0px 0px 25px red;
  }
  22% {
    text-shadow: none;
  }
  43% {
    text-shadow: none;
  }
  45% {
    text-shadow: 0px 0px 25px red;
  }
  47% {
    text-shadow: none;
  }
}
@-moz-keyframes alarm-text-shadow-frames {
  18% {
    text-shadow: none;
  }
  20% {
    text-shadow: 0px 0px 25px red;
  }
  22% {
    text-shadow: none;
  }
  43% {
    text-shadow: none;
  }
  45% {
    text-shadow: 0px 0px 25px red;
  }
  47% {
    text-shadow: none;
  }
}
@-o-keyframes alarm-text-shadow-frames {
  18% {
    text-shadow: none;
  }
  20% {
    text-shadow: 0px 0px 25px red;
  }
  22% {
    text-shadow: none;
  }
  43% {
    text-shadow: none;
  }
  45% {
    text-shadow: 0px 0px 25px red;
  }
  47% {
    text-shadow: none;
  }
}
@keyframes alarm-text-shadow-frames {
  18% {
    text-shadow: none;
  }
  20% {
    text-shadow: 0px 0px 25px red;
  }
  22% {
    text-shadow: none;
  }
  43% {
    text-shadow: none;
  }
  45% {
    text-shadow: 0px 0px 25px red;
  }
  47% {
    text-shadow: none;
  }
}
@-webkit-keyframes ring-frames {
  0% {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  2% {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  4% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
  6% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  8% {
    -webkit-transform: rotate(-22deg);
    -ms-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }
  10% {
    -webkit-transform: rotate(22deg);
    -ms-transform: rotate(22deg);
    transform: rotate(22deg);
  }
  12% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
  14% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  16% {
    -webkit-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }
  18% {
    -webkit-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
  }
  20% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-moz-keyframes ring-frames {
  0% {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  2% {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  4% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
  6% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  8% {
    -webkit-transform: rotate(-22deg);
    -ms-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }
  10% {
    -webkit-transform: rotate(22deg);
    -ms-transform: rotate(22deg);
    transform: rotate(22deg);
  }
  12% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
  14% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  16% {
    -webkit-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }
  18% {
    -webkit-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
  }
  20% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-o-keyframes ring-frames {
  0% {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  2% {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  4% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
  6% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  8% {
    -webkit-transform: rotate(-22deg);
    -ms-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }
  10% {
    -webkit-transform: rotate(22deg);
    -ms-transform: rotate(22deg);
    transform: rotate(22deg);
  }
  12% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
  14% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  16% {
    -webkit-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }
  18% {
    -webkit-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
  }
  20% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes ring-frames {
  0% {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  2% {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  4% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
  6% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  8% {
    -webkit-transform: rotate(-22deg);
    -ms-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }
  10% {
    -webkit-transform: rotate(22deg);
    -ms-transform: rotate(22deg);
    transform: rotate(22deg);
  }
  12% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
  14% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  16% {
    -webkit-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }
  18% {
    -webkit-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
  }
  20% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes highlight-anchored {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  10% {
    background-color: #246173;
  }
  100% {
    background-color: initial;
  }
}
@-moz-keyframes highlight-anchored {
  0% {
    background-color: rgba(0, 0, 0, .1);
  }
  10% {
    background-color: #246173;
  }
  100% {
    background-color: rgba(0, 0, 0, .1);
  }
}
.std-item.message {
  display: inline-block;
  padding-top: 4px;
  margin: 4px auto 1px auto;
  text-align: center;
  border-top: 2px dashed #0c131d;
  -webkit-transition: all 0.45s ease-out;
  -moz-transition: all 0.45s ease-out;
  -o-transition: all 0.45s ease-out;
  -ms-transition: all 0.45s ease-out;
  transition: all 0.45s ease-out;
}
.std-item.message:first-of-type {
  border-top-color: transparent;
}
.std-item.message .icon-holder {
  width: 3em;
  background-color: #12408d;
  height: 2em;
  -webkit-transition: all 0.45s ease-out;
  -moz-transition: all 0.45s ease-out;
  -o-transition: all 0.45s ease-out;
  -ms-transition: all 0.45s ease-out;
  transition: all 0.45s ease-out;
}
.std-item.message .icon-holder .message-icon-cont .message-icon {
  width: 1.75em;
  height: 1.75em;
}
.std-item.message .icon-holder .message-icon-cont .message-icon .pic-cont {
  border-radius: 50%;
  -webkit-transition: all 0.45s ease-out;
  -moz-transition: all 0.45s ease-out;
  -o-transition: all 0.45s ease-out;
  -ms-transition: all 0.45s ease-out;
  transition: all 0.45s ease-out;
}
.std-item.message .icon-holder .message-icon-cont .message-icon .pic-cont > .icon {
  -webkit-transition: all 0.45s ease-out;
  -moz-transition: all 0.45s ease-out;
  -o-transition: all 0.45s ease-out;
  -ms-transition: all 0.45s ease-out;
  transition: all 0.45s ease-out;
  color: white;
  font-size: 1em;
}
.std-item.message.has-not-been-read {
  border-top-color: #12408d;
}
.std-item.message.has-not-been-read .icon-holder {
  background-color: #12408d;
}
.std-item.message.has-not-been-read .icon-holder .message-icon-cont .message-icon .pic-cont {
  -webkit-box-shadow: inset 0px 0px 1.5em 0.125em rgba(250, 235, 225, 0.1), 0px 0px 1.3em 0.2em rgba(50, 40, 40, 0.40);
  -moz-box-shadow: inset 0px 0px 1.5em 0.125em rgba(250, 235, 225, 0.1), 0px 0px 1.3em 0.2em rgba(50, 40, 40, 0.40);
  box-shadow: inset 0px 0px 1.5em 0.125em rgba(250, 235, 225, 0.1), 0px 0px 1.3em 0.2em rgba(50, 40, 40, 0.40);
}
.std-item.message.has-not-been-read .icon-holder .message-icon-cont .message-icon .pic-cont > .icon {
  color: #edf0f4;
}
.std-item.message.has-been-read .icon-holder {
  background-color: #0c131d;
}
.std-item.message.has-been-read .icon-holder .message-icon-cont .message-icon .pic-cont {
  -webkit-box-shadow: inset 0 0 1.5em 0.125em rgba(250, 235, 225, 0.15), 0 0 1.5em 0.25em rgba(220, 230, 230, 0.35);
  -moz-box-shadow: inset 0 0 1.5em 0.125em rgba(250, 235, 225, 0.15), 0 0 1.5em 0.25em rgba(220, 230, 230, 0.35);
  box-shadow: inset 0 0 1.5em 0.125em rgba(250, 235, 225, 0.15), 0 0 1.5em 0.25em rgba(220, 230, 230, 0.35);
}
.std-item.message.has-been-read .icon-holder .message-icon-cont .message-icon .pic-cont > .icon {
  color: #edf0f4;
}
.std-item.message section.td {
  border: 0;
  display: table-cell;
  margin: 2px 0 2px 0;
  vertical-align: top;
}
.std-item.message section.td.icon {
  width: 4em;
}
.std-item.message section.td.message {
  font-family: MuseoSans;
  font-weight: 700;
  width: 34em;
  text-align: left;
}
.std-item.message section.td.message .time-label-holder {
  width: 15em;
  height: 2em;
  display: inline-table;
  position: relative;
  padding: 0 0.5em;
  box-sizing: border-box;
  border-bottom: 2px solid #0c131d;
  -webkit-transition: all 0.45s ease-out;
  -moz-transition: all 0.45s ease-out;
  -o-transition: all 0.45s ease-out;
  -ms-transition: all 0.45s ease-out;
  transition: all 0.45s ease-out;
  color: #0c131d;
}
.std-item.message section.td.message .time-label-holder > span {
  display: table-cell;
  vertical-align: middle;
  font-size: 0.85em;
}
.std-item.message section.td.message .message-holder {
  padding: 0.25em 0.5em;
}
.std-item.message section.td.message .message-holder ol, .std-item.message section.td.message .message-holder ul {
  list-style: square inside none;
  text-indent: -1em;
  padding-left: 1em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
.std-item.message section.td.message .message-holder .std-item.sender {
  margin-top: 4px;
  margin-left: 6px;
  min-width: 6em;
  padding: 3px 2px 2px 2px;
  border-top: 1px solid #0c131d;
  display: inline-block;
}
.std-item.message section.td.message .message-holder .msg-sender-icon-holder {
  width: 2.375em;
  height: 2.375em;
  background-color: #eaeef1;
  color: #0c131d;
  margin-left: 6px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
}
.std-item.message section.td.message .message-holder .msg-sender-icon-holder .pic-cont > img {
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
}
.std-item.message section.td.message .message-holder .sender-label {
  display: inline-table;
  height: 2.375em;
  vertical-align: top;
}
.std-item.message section.td.message .message-holder .sender-label > span {
  display: table-cell;
  vertical-align: middle;
  padding: 0px 6px;
  font-size: 0.9em;
  opacity: 0.9;
}
.std-item.message section.td.message .message-holder .std-item.active-booking-user {
  margin-top: 4px;
  margin-left: 6px;
  min-width: 6em;
  padding: 3px 2px 2px 2px;
  display: inline-block;
  vertical-align: top;
}
.std-item.message section.td.message .message-holder .active-booking-user-icon-holder {
  width: 2.375em;
  height: 2.375em;
  background-color: #eaeef1;
  color: #0c131d;
  margin-left: 6px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
}
.std-item.message section.td.message .message-holder .active-booking-user-icon-holder .pic-cont > img {
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
}
.std-item.message section.td.message .message-holder .active-booking-user-label {
  display: inline-table;
  height: 2.375em;
  vertical-align: top;
}
.std-item.message section.td.message .message-holder .active-booking-user-label > span {
  display: table-cell;
  vertical-align: middle;
  padding: 0px 6px;
  font-size: 0.9em;
}
.std-item.message section.td.has-been-read-status {
  width: 3em;
}
.std-item.message section.td.has-been-read-status .status-holder {
  display: inline-table;
  width: 100%;
  height: 100%;
}
.std-item.message section.td.has-been-read-status .status-holder a {
  line-height: 2em;
  width: 3em;
  cursor: pointer;
  display: block;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.std-item.message section.td.has-been-read-status .status-holder a span {
  vertical-align: middle;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.std-item.message section.td.has-been-read-status .status-holder a span.selector {
  color: #12408d;
  font-size: 1.4em;
  width: 100%;
  text-align: left;
  margin-left: 0.5em;
}
.std-item.message section.td.has-been-read-status .status-holder a span.exclamation-alarm {
  position: absolute;
  right: 0;
  top: 0.5em;
  color: orangered;
  -webkit-animation: ring-frames 2.5s ease infinite;
  -moz-animation: ring-frames 2.5s ease infinite;
  -o-animation: ring-frames 2.5s ease infinite;
  animation: ring-frames 2.5s ease infinite;
}
.std-item.message section.td.has-been-read-status .status-holder a.active:hover {
  background-color: #12408d;
}
.std-item.message section.td.has-been-read-status .status-holder a.active:hover span.selector {
  color: #edf0f4;
}
.std-item.message section.td.has-been-read-status .status-holder a.active:hover span.selector:not(.fa-spin):before {
  content: '\f046';
}
.std-item.message.has-not-been-read section.td.message .time-label-holder {
  background-color: #12408d;
  color: white;
  border-bottom: 2px solid #12408d;
}
.std-item.message.has-been-read section.td.message .time-label-holder {
  color: #edf0f4;
  background-color: #0c131d;
  border-bottom: 2px solid #0c131d;
}
