/*********************
 BREAKPOINTS
 *********************//* "X" icons hover *//* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edf0f4+0,eaeef1+100 */@-webkit-keyframes horizontal-alarm-frames {
  10% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  12% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  14% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  16% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  18% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  22% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  35% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  37% {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
  }
  39% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  41% {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
  43% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  45% {
    -webkit-transform: scale(1.6);
    -ms-transform: scale(1.6);
    transform: scale(1.6);
  }
  47% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes horizontal-alarm-frames {
  10% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  12% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  14% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  16% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  18% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  22% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  35% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  37% {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
  }
  39% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  41% {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
  43% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  45% {
    -webkit-transform: scale(1.6);
    -ms-transform: scale(1.6);
    transform: scale(1.6);
  }
  47% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes horizontal-alarm-frames {
  10% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  12% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  14% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  16% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  18% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  22% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  35% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  37% {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
  }
  39% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  41% {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
  43% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  45% {
    -webkit-transform: scale(1.6);
    -ms-transform: scale(1.6);
    transform: scale(1.6);
  }
  47% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes horizontal-alarm-frames {
  10% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  12% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  14% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  16% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  18% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  22% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  35% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  37% {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
  }
  39% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  41% {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
  43% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  45% {
    -webkit-transform: scale(1.6);
    -ms-transform: scale(1.6);
    transform: scale(1.6);
  }
  47% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes alarm-text-shadow-frames {
  18% {
    text-shadow: none;
  }
  20% {
    text-shadow: 0px 0px 25px red;
  }
  22% {
    text-shadow: none;
  }
  43% {
    text-shadow: none;
  }
  45% {
    text-shadow: 0px 0px 25px red;
  }
  47% {
    text-shadow: none;
  }
}
@-moz-keyframes alarm-text-shadow-frames {
  18% {
    text-shadow: none;
  }
  20% {
    text-shadow: 0px 0px 25px red;
  }
  22% {
    text-shadow: none;
  }
  43% {
    text-shadow: none;
  }
  45% {
    text-shadow: 0px 0px 25px red;
  }
  47% {
    text-shadow: none;
  }
}
@-o-keyframes alarm-text-shadow-frames {
  18% {
    text-shadow: none;
  }
  20% {
    text-shadow: 0px 0px 25px red;
  }
  22% {
    text-shadow: none;
  }
  43% {
    text-shadow: none;
  }
  45% {
    text-shadow: 0px 0px 25px red;
  }
  47% {
    text-shadow: none;
  }
}
@keyframes alarm-text-shadow-frames {
  18% {
    text-shadow: none;
  }
  20% {
    text-shadow: 0px 0px 25px red;
  }
  22% {
    text-shadow: none;
  }
  43% {
    text-shadow: none;
  }
  45% {
    text-shadow: 0px 0px 25px red;
  }
  47% {
    text-shadow: none;
  }
}
@-webkit-keyframes ring-frames {
  0% {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  2% {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  4% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
  6% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  8% {
    -webkit-transform: rotate(-22deg);
    -ms-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }
  10% {
    -webkit-transform: rotate(22deg);
    -ms-transform: rotate(22deg);
    transform: rotate(22deg);
  }
  12% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
  14% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  16% {
    -webkit-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }
  18% {
    -webkit-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
  }
  20% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-moz-keyframes ring-frames {
  0% {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  2% {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  4% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
  6% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  8% {
    -webkit-transform: rotate(-22deg);
    -ms-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }
  10% {
    -webkit-transform: rotate(22deg);
    -ms-transform: rotate(22deg);
    transform: rotate(22deg);
  }
  12% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
  14% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  16% {
    -webkit-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }
  18% {
    -webkit-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
  }
  20% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-o-keyframes ring-frames {
  0% {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  2% {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  4% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
  6% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  8% {
    -webkit-transform: rotate(-22deg);
    -ms-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }
  10% {
    -webkit-transform: rotate(22deg);
    -ms-transform: rotate(22deg);
    transform: rotate(22deg);
  }
  12% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
  14% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  16% {
    -webkit-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }
  18% {
    -webkit-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
  }
  20% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes ring-frames {
  0% {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  2% {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  4% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
  6% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  8% {
    -webkit-transform: rotate(-22deg);
    -ms-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }
  10% {
    -webkit-transform: rotate(22deg);
    -ms-transform: rotate(22deg);
    transform: rotate(22deg);
  }
  12% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
  14% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  16% {
    -webkit-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }
  18% {
    -webkit-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
  }
  20% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes highlight-anchored {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  10% {
    background-color: #246173;
  }
  100% {
    background-color: initial;
  }
}
@-moz-keyframes highlight-anchored {
  0% {
    background-color: rgba(0, 0, 0, .1);
  }
  10% {
    background-color: #246173;
  }
  100% {
    background-color: rgba(0, 0, 0, .1);
  }
}
.profile-container.main.mega {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#183293+0,122b72+100 */
  background: #183293;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #183293 0, #122b72 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #183293 0, #122b72 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #183293 0, #122b72 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#183293', endColorstr='#122b72',GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.profile-container.main.mega * {
  box-sizing: border-box;
}
.profile-container.main .velocity-animating {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}
.profile-container.main .main {
  overflow: hidden;
}
.profile-container.main main {
  opacity: 0;
  position: relative;
  pointer-events: none;
}
.profile-container.main .loading-info-cont {
  opacity: 0;
}
.profile-container.main .loading-info-cont .loading {
  width: 100%;
  padding: 1em 1em;
  background-color: rgba(18, 64, 141, .9);
  color: #edf0f4;
  font-size: 13px;
  font-size: 0.8125rem;
  box-sizing: border-box;
  margin: auto;
}
.profile-container.main #unread-messages, .profile-container.main #hot-bookings {
  vertical-align: top;
  margin-top: 1em;
  display: inline-block;
  font-family: MuseoSans;
  font-weight: 700;
  color: #edf0f4;
}
.profile-container.main #unread-messages .std-item.subtitle, .profile-container.main #hot-bookings .std-item.subtitle {
  display: inline-block;
  margin: 0 auto 0.5em auto;
}
.profile-container.main #unread-messages .std-item.subtitle > div, .profile-container.main #hot-bookings .std-item.subtitle > div {
  display: inline-table;
  height: 2em;
  vertical-align: top;
  background-color: #edf0f4;
}
.profile-container.main #unread-messages .std-item.subtitle > div:first-of-type, .profile-container.main #hot-bookings .std-item.subtitle > div:first-of-type {
  padding-left: 1em;
}
.profile-container.main #unread-messages .std-item.subtitle > div:last-of-type, .profile-container.main #hot-bookings .std-item.subtitle > div:last-of-type {
  padding-right: 3em;
}
.profile-container.main #unread-messages .std-item.subtitle .subtitle-holder, .profile-container.main #hot-bookings .std-item.subtitle .subtitle-holder {
  color: #0c131d;
}
.profile-container.main #unread-messages .std-item.subtitle .subtitle-holder span, .profile-container.main #hot-bookings .std-item.subtitle .subtitle-holder span {
  display: table-cell;
  vertical-align: middle;
  padding: 0px 8px;
}
.profile-container.main #unread-messages .std-item.subtitle .icon-holder, .profile-container.main #hot-bookings .std-item.subtitle .icon-holder {
  width: 3em;
}
.profile-container.main #unread-messages .std-item.subtitle .icon-holder .message-icon-cont .message-icon, .profile-container.main #hot-bookings .std-item.subtitle .icon-holder .message-icon-cont .message-icon {
  width: 1.75em;
  height: 1.75em;
}
.profile-container.main #unread-messages .std-item.subtitle .icon-holder .message-icon-cont .message-icon .pic-cont > .icon, .profile-container.main #hot-bookings .std-item.subtitle .icon-holder .message-icon-cont .message-icon .pic-cont > .icon {
  color: #0c131d;
  font-size: 1em;
}
.profile-container.main #unread-messages .external-link-holder, .profile-container.main #hot-bookings .external-link-holder {
  display: block;
  width:  - 2em;
  -webkit-transition: all 0.35s ease-out;
  -moz-transition: all 0.35s ease-out;
  -o-transition: all 0.35s ease-out;
  -ms-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
  background-color: #12408d;
  color: #edf0f4;
  text-align: center;
  padding: 3px 0;
  margin: 1em;
}
.profile-container.main #unread-messages .external-link-holder:hover, .profile-container.main #hot-bookings .external-link-holder:hover {
  background-color: #edf0f4;
  color: #0c131d;
}
.profile-container.main #unread-messages {
  width: 31em;
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
}
.profile-container.main #unread-messages .std-item.profile-home-message {
  width: 31em;
  display: block;
  text-align: center;
}
.profile-container.main #unread-messages .std-item.profile-home-message .inner-box {
  padding: 6px 0 4px 0;
}
.profile-container.main #unread-messages .std-item.profile-home-message:not(:last-of-type) {
  border-bottom: 2px dashed #edf0f4;
}
.profile-container.main #unread-messages .std-item.profile-home-message section.td {
  border: 0;
  display: table-cell;
  vertical-align: top;
}
.profile-container.main #unread-messages .std-item.profile-home-message section.td.message {
  width: 28em;
  text-align: left;
}
.profile-container.main #unread-messages .std-item.profile-home-message section.td.message .time-label-holder {
  width: 14em;
  height: 1.75em;
  display: inline-table;
  position: relative;
  padding: 0 0.5em;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease-out;
  -moz-transition: all 0.45s ease-out;
  -o-transition: all 0.45s ease-out;
  -ms-transition: all 0.45s ease-out;
  transition: all 0.45s ease-out;
  color: #0c131d;
}
.profile-container.main #unread-messages .std-item.profile-home-message section.td.message .time-label-holder > span {
  display: table-cell;
  vertical-align: middle;
  font-size: 0.8em;
}
.profile-container.main #unread-messages .std-item.profile-home-message section.td.message .message-holder {
  padding: 0.25em 0.5em;
  color: #edf0f4;
}
.profile-container.main #unread-messages .std-item.profile-home-message section.td.message .message-holder span {
  font-size: 0.95em;
}
.profile-container.main #unread-messages .std-item.profile-home-message section.td.message .message-holder ol, .profile-container.main #unread-messages .std-item.profile-home-message section.td.message .message-holder ul {
  list-style: square inside none;
  text-indent: -1em;
  padding-left: 1em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  font-size: 0.95em;
}
.profile-container.main #unread-messages .std-item.profile-home-message section.td.message .message-holder .std-item.sender {
  margin-top: 4px;
  margin-left: 6px;
  min-width: 6em;
  padding: 3px 2px 2px 2px;
  border-top: 1px solid #edf0f4;
  display: inline-block;
}
.profile-container.main #unread-messages .std-item.profile-home-message section.td.message .message-holder .msg-sender-icon-holder {
  width: 2.375em;
  height: 2.375em;
  background-color: #eaeef1;
  color: #edf0f4;
  margin-left: 6px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
}
.profile-container.main #unread-messages .std-item.profile-home-message section.td.message .message-holder .msg-sender-icon-holder .pic-cont > img {
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
}
.profile-container.main #unread-messages .std-item.profile-home-message section.td.message .message-holder .sender-label {
  display: inline-table;
  height: 2.375em;
  vertical-align: top;
}
.profile-container.main #unread-messages .std-item.profile-home-message section.td.message .message-holder .sender-label > span {
  display: table-cell;
  vertical-align: middle;
  padding: 0px 6px;
  font-size: 0.9em;
  opacity: 0.9;
}
.profile-container.main #unread-messages .std-item.profile-home-message section.td.message .message-holder .std-item.active-booking-user {
  margin-top: 4px;
  margin-left: 6px;
  min-width: 6em;
  padding: 3px 2px 2px 2px;
  display: inline-block;
  vertical-align: top;
}
.profile-container.main #unread-messages .std-item.profile-home-message section.td.message .message-holder .active-booking-user-icon-holder {
  width: 2.375em;
  height: 2.375em;
  background-color: #eaeef1;
  color: #0c131d;
  margin-left: 6px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
}
.profile-container.main #unread-messages .std-item.profile-home-message section.td.message .message-holder .active-booking-user-icon-holder .pic-cont > img {
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
}
.profile-container.main #unread-messages .std-item.profile-home-message section.td.message .message-holder .active-booking-user-label {
  display: inline-table;
  height: 2.375em;
  vertical-align: top;
}
.profile-container.main #unread-messages .std-item.profile-home-message section.td.message .message-holder .active-booking-user-label > span {
  display: table-cell;
  vertical-align: middle;
  padding: 0px 6px;
  font-size: 0.9em;
}
.profile-container.main #unread-messages .std-item.profile-home-message section.td.has-been-read-status {
  width: 3em;
}
.profile-container.main #unread-messages .std-item.profile-home-message section.td.has-been-read-status .status-holder {
  display: inline-table;
  width: 100%;
  height: 100%;
}
.profile-container.main #unread-messages .std-item.profile-home-message section.td.has-been-read-status .status-holder a {
  line-height: 1.75em;
  width: 3em;
  cursor: pointer;
  display: block;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.profile-container.main #unread-messages .std-item.profile-home-message section.td.has-been-read-status .status-holder a span {
  vertical-align: middle;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.profile-container.main #unread-messages .std-item.profile-home-message section.td.has-been-read-status .status-holder a span.selector {
  color: rgba(237, 240, 244, .6);
  font-size: 1.35em;
  width: 100%;
  text-align: left;
  margin-left: 0.5em;
}
.profile-container.main #unread-messages .std-item.profile-home-message section.td.has-been-read-status .status-holder a.active:hover span.selector {
  color: #edf0f4;
}
.profile-container.main #unread-messages .std-item.profile-home-message section.td.has-been-read-status .status-holder a.active:hover span.selector:not(.fa-spin):before {
  content: '\f046';
}
.profile-container.main #unread-messages .std-item.profile-home-message.has-not-been-read section.td.message .time-label-holder {
  background-color: #12408d;
  color: white;
}
.profile-container.main #unread-messages .std-item.profile-home-message.has-been-read section.td.message .time-label-holder {
  color: #0c131d;
  background-color: #edf0f4;
}
.profile-container.main #hot-bookings {
  width: 28.5em;
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
}
.profile-container.main #hot-bookings .bookings-label-holder {
  text-align: left;
}
.profile-container.main #hot-bookings .bookings-label-holder .bookings-label {
  width: 14em;
  height: 1.75em;
  display: inline-table;
  position: relative;
  padding: 0 0.5em;
  box-sizing: border-box;
  text-align: left;
  -webkit-transition: all 0.45s ease-out;
  -moz-transition: all 0.45s ease-out;
  -o-transition: all 0.45s ease-out;
  -ms-transition: all 0.45s ease-out;
  transition: all 0.45s ease-out;
  background-color: #12408d;
  color: white;
}
.profile-container.main #hot-bookings .bookings-label-holder .bookings-label > span {
  display: table-cell;
  vertical-align: middle;
  font-size: 0.8em;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking {
  width: 28.5em;
  display: block;
  text-align: center;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking .inner-box {
  padding: 4px 0 3px 0;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking section.td {
  border: 0;
  display: table-cell;
  vertical-align: top;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking section.td.icon {
  width: 3em;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking section.td.icon .icon-holder {
  width: 3em;
  height: 2.375em;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking section.td.icon .icon-holder .booking-icon-cont .booking-icon {
  width: 2em;
  position: relative;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking section.td.icon .icon-holder .booking-icon-cont .booking-icon .pic-cont > .icon {
  font-size: 1.5em;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking section.td.icon .icon-holder .booking-icon-cont .booking-icon .overlay-pic-cont {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking section.td.label {
  width: 15em;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking section.td.label span {
  font-size: 0.95em;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking section.td.info {
  width: 2.5em;
  position: relative;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking section.td.info .info-overlay, .profile-container.main #hot-bookings .std-item.profile-hot-booking section.td.info .info-overlay-right {
  display: none;
  position: absolute;
  top: 0;
  height: 2.375em;
  z-index: 2;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking section.td.info .info-overlay .info-holder, .profile-container.main #hot-bookings .std-item.profile-hot-booking section.td.info .info-overlay-right .info-holder {
  position: relative;
  display: inline-table;
  height: 100%;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking section.td.info .icon-holder {
  width: 2.5em;
  height: 2.375em;
  cursor: pointer;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking section.td.info .icon-holder .info-icon-cont .info-icon {
  width: 2em;
  height: 2.375em;
  position: relative;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking section.td.info .icon-holder .info-icon-cont .info-icon .pic-cont > .icon {
  color: #eaeef1;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking section.td.info .icon-holder:hover .pic-cont > .icon {
  text-shadow: 0px 0px 0.3em #edf0f4;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking section.td.cancelation {
  width: 8em;
  position: relative;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking section.td.cancelation .icon-holder {
  width: 8em;
  height: 2.375em;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking section.td.cancelation .icon-holder .cancel-label {
  text-align: right;
  vertical-align: middle;
  display: table-cell;
  overflow: hidden;
  font-size: 0.9em;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking section.td.cancelation .icon-holder .cancelation-icon-cont .cancelation-icon {
  width: 2em;
  height: 2.375em;
  position: relative;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking section.td.cancelation .icon-holder:hover {
  background-color: #0c131d;
  color: #edf0f4;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking section.td.cancelation .icon-holder:hover .pic-cont > .icon {
  color: #ae2e15;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking.booking-not-allowed .td.info .info-overlay {
  right: 2.5em;
  color: #0c131d;
  background-color: #edf0f4;
  width: 15em;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking.booking-not-allowed .td.info .info-overlay .info-holder {
  width: 15em;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking.booking-not-allowed .td.info .info-overlay .info-holder span {
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  font-size: 0.875rem;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking.booking-not-allowed .td.icon .icon-holder {
  background-color: #edf0f4;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking.booking-not-allowed .td.icon .icon-holder .booking-icon {
  height: 2.375em;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking.booking-not-allowed .td.icon .icon-holder .booking-icon .overlay-pic-cont .icon-o {
  font-size: 2em;
  color: #0c131d;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking.booking-not-allowed .td.icon .icon-holder .booking-icon .overlay-pic-cont .icon-o.fa-check {
  color: #1f6d4d;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking.booking-not-allowed .td.icon .icon-holder .booking-icon .overlay-pic-cont .icon-o.fa-times {
  color: #8d2d24;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking.booking-not-allowed .td.icon .icon-holder .booking-icon .overlay-pic-cont .icon-o.fa-question {
  color: rgba(18, 64, 141, .9);
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking.booking-ended .td.icon .icon-holder {
  background-color: #0c131d;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking.booking-ended .td.icon .icon-holder .booking-icon {
  height: 2.375em;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking.booking-ended .td.icon .icon-holder .booking-icon .pic-cont .icon {
  color: #edf0f4;
  font-size: 1.25em;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking.booking-ended .td.icon .icon-holder .booking-icon .pic-cont .icon.fa-check {
  color: #1f6d4d;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking.booking-ended .td.icon .icon-holder .booking-icon .pic-cont .icon.fa-times {
  color: #8d2d24;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking.booking-ended .td.icon .icon-holder .booking-icon .pic-cont .icon.fa-question {
  color: #edf0f4;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking.booking-allowed .td.info .info-overlay, .profile-container.main #hot-bookings .std-item.profile-hot-booking.booking-allowed .td.info .info-overlay-right {
  color: white;
  background-color: #12408d;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking.booking-allowed .td.info .info-overlay .info-holder, .profile-container.main #hot-bookings .std-item.profile-hot-booking.booking-allowed .td.info .info-overlay-right .info-holder {
  height: 100%;
  display: inline-table;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking.booking-allowed .td.info .info-overlay .info-holder .datetime-holder, .profile-container.main #hot-bookings .std-item.profile-hot-booking.booking-allowed .td.info .info-overlay-right .info-holder .datetime-holder, .profile-container.main #hot-bookings .std-item.profile-hot-booking.booking-allowed .td.info .info-overlay .info-holder .availability-holder, .profile-container.main #hot-bookings .std-item.profile-hot-booking.booking-allowed .td.info .info-overlay-right .info-holder .availability-holder {
  display: block;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking.booking-allowed .td.info .info-overlay .info-holder .datetime-holder .datetime, .profile-container.main #hot-bookings .std-item.profile-hot-booking.booking-allowed .td.info .info-overlay-right .info-holder .datetime-holder .datetime {
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking.booking-allowed .td.info .info-overlay .info-holder .datetime-holder .datetime span.time, .profile-container.main #hot-bookings .std-item.profile-hot-booking.booking-allowed .td.info .info-overlay-right .info-holder .datetime-holder .datetime span.time {
  font-weight: 300;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking.booking-allowed .td.info .info-overlay {
  right: 2.5em;
  width: 15em;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking.booking-allowed .td.info .info-overlay .info-holder {
  width: 15em;
  text-align: left;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking.booking-allowed .td.info .info-overlay .info-holder .datetime-holder {
  width: 15em;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking.booking-allowed .td.info .info-overlay .info-holder .availability-holder {
  width: 15em;
  text-align: center;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking.booking-allowed .td.info .info-overlay .info-holder .availability-holder > span {
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking.booking-allowed .td.info .info-overlay-right {
  left: 2.5em;
  width: 8em;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking.booking-allowed .td.info .info-overlay-right .info-holder {
  width: 8em;
  text-align: left;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking.booking-allowed .td.info .info-overlay-right .info-holder .datetime-holder {
  width: 8em;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking.booking-allowed .td.icon .icon-holder {
  background-color: #12408d;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking.booking-allowed .td.icon .icon-holder .booking-icon {
  height: 2.375em;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking.booking-allowed .td.icon .icon-holder .booking-icon .pic-cont {
  color: white;
}
.profile-container.main #hot-bookings .std-item.profile-hot-booking.booking-allowed .td.icon .icon-holder .booking-icon .overlay-pic-cont .icon-o {
  color: #edf0f4;
  font-size: 0.85em;
  position: absolute;
  right: -10px;
}
.profile-container.main .general-holder {
  margin: 0 auto;
  width: 63.5em;
}
