/*********************
 BREAKPOINTS
 *********************//* "X" icons hover *//* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edf0f4+0,eaeef1+100 */@-webkit-keyframes horizontal-alarm-frames {
  10% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  12% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  14% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  16% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  18% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  22% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  35% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  37% {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
  }
  39% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  41% {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
  43% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  45% {
    -webkit-transform: scale(1.6);
    -ms-transform: scale(1.6);
    transform: scale(1.6);
  }
  47% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes horizontal-alarm-frames {
  10% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  12% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  14% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  16% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  18% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  22% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  35% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  37% {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
  }
  39% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  41% {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
  43% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  45% {
    -webkit-transform: scale(1.6);
    -ms-transform: scale(1.6);
    transform: scale(1.6);
  }
  47% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes horizontal-alarm-frames {
  10% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  12% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  14% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  16% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  18% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  22% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  35% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  37% {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
  }
  39% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  41% {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
  43% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  45% {
    -webkit-transform: scale(1.6);
    -ms-transform: scale(1.6);
    transform: scale(1.6);
  }
  47% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes horizontal-alarm-frames {
  10% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  12% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  14% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  16% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  18% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  22% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  35% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  37% {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
  }
  39% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  41% {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
  43% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  45% {
    -webkit-transform: scale(1.6);
    -ms-transform: scale(1.6);
    transform: scale(1.6);
  }
  47% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes alarm-text-shadow-frames {
  18% {
    text-shadow: none;
  }
  20% {
    text-shadow: 0px 0px 25px red;
  }
  22% {
    text-shadow: none;
  }
  43% {
    text-shadow: none;
  }
  45% {
    text-shadow: 0px 0px 25px red;
  }
  47% {
    text-shadow: none;
  }
}
@-moz-keyframes alarm-text-shadow-frames {
  18% {
    text-shadow: none;
  }
  20% {
    text-shadow: 0px 0px 25px red;
  }
  22% {
    text-shadow: none;
  }
  43% {
    text-shadow: none;
  }
  45% {
    text-shadow: 0px 0px 25px red;
  }
  47% {
    text-shadow: none;
  }
}
@-o-keyframes alarm-text-shadow-frames {
  18% {
    text-shadow: none;
  }
  20% {
    text-shadow: 0px 0px 25px red;
  }
  22% {
    text-shadow: none;
  }
  43% {
    text-shadow: none;
  }
  45% {
    text-shadow: 0px 0px 25px red;
  }
  47% {
    text-shadow: none;
  }
}
@keyframes alarm-text-shadow-frames {
  18% {
    text-shadow: none;
  }
  20% {
    text-shadow: 0px 0px 25px red;
  }
  22% {
    text-shadow: none;
  }
  43% {
    text-shadow: none;
  }
  45% {
    text-shadow: 0px 0px 25px red;
  }
  47% {
    text-shadow: none;
  }
}
@-webkit-keyframes highlight-anchored {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  10% {
    background-color: #246173;
  }
  100% {
    background-color: initial;
  }
}
@-moz-keyframes highlight-anchored {
  0% {
    background-color: rgba(0, 0, 0, .1);
  }
  10% {
    background-color: #246173;
  }
  100% {
    background-color: rgba(0, 0, 0, .1);
  }
}
.form-container {
  padding: 1em;
}
.form-container .inputs-container {
  text-align: center;
}
.form-container input {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 15;
}
.form-container input[type="password"].text-input, .form-container .std-text-input, .form-container .large-text-input, .form-container .medium-text-input, .form-container .small-text-input {
  font-family: MuseoSans;
  font-weight: 700;
  font-size: 1em;
  padding: 0.6em 3em 0.2em 1.5em;
  border: 1px solid #122b72;
  border-radius: 1.5em;
  resize: none;
  outline: none;
  color: #0c131d;
  height: 2.5em;
}
.form-container input[type="password"][required].text-input + label[placeholder], .form-container .std-text-input + label, .form-container .large-text-input + label, .form-container .medium-text-input + label, .form-container .small-text-input + label {
  font-family: 'Raleway', Arial, sans-serif;
  display: block;
  pointer-events: none;
  line-height: -webkit-calc(2.5em + 1px);
  line-height: calc(2.5em + 1px);
  margin-top: -webkit-calc(-2.5em + 1px);
  margin-top: calc(-2.5em + 1px);
  padding: 0;
  position: relative;
  text-align: left;
}
.form-container input[type="password"][required].text-input + label[placeholder]:before, .form-container .std-text-input + label:before, .form-container .large-text-input + label:before, .form-container .medium-text-input + label:before, .form-container .small-text-input + label:before {
  content: attr(data-info);
  display: inline-block;
  line-height: 1em;
  white-space: nowrap;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: #fff;
  color: #122b72;
  text-align: left;
  padding: 0 0.4em;
  font-style: italic;
  opacity: 0.7;
  position: relative;
}
.form-container input[type="password"][required].text-input + label[placeholder]:after, .form-container .std-text-input + label:after, .form-container .large-text-input + label:after, .form-container .medium-text-input + label:after, .form-container .small-text-input + label:after {
  content: '\0020';
  display: inline-block;
  line-height: 1em;
  white-space: nowrap;
  color: #122b72;
  width: 2em;
  font-family: FontAwesome;
  position: absolute;
  top: -webkit-calc(50% - 0.5em - 1px);
  top: calc(50% - 0.5em - 1px);
}
.form-container input[type="password"][required].text-input + label[placeholder].req:after, .form-container .std-text-input + label.req:after, .form-container .large-text-input + label.req:after, .form-container .medium-text-input + label.req:after, .form-container .small-text-input + label.req:after {
  content: '\f069';
  color: #bf1a1a;
}
.form-container .std-text-input + label:before {
  left: -webkit-calc(50% - 10em);
  left: calc(50% - 10em);
}
.form-container .std-text-input + label:after {
  right: -webkit-calc(50% - 11em);
  right: calc(50% - 11em);
}
.form-container .large-text-input + label:before {
  left: -webkit-calc(50% - 10em - ((32em - 24em) / 2));
  left: calc(50% - 10em - ((32em - 24em) / 2));
}
.form-container .large-text-input + label:after {
  right: -webkit-calc(50% - 11em - ((32em - 24em) / 2));
  right: calc(50% - 11em - ((32em - 24em) / 2));
}
.form-container .medium-text-input + label:before {
  left: -webkit-calc(50% - 10em - ((20em - 24em) / 2));
  left: calc(50% - 10em - ((20em - 24em) / 2));
}
.form-container .medium-text-input + label:after {
  right: -webkit-calc(50% - 11em - ((20em - 24em) / 2));
  right: calc(50% - 11em - ((20em - 24em) / 2));
}
.form-container .small-text-input + label:before {
  left: -webkit-calc(50% - 10em - ((14em - 24em) / 2));
  left: calc(50% - 10em - ((14em - 24em) / 2));
}
.form-container .small-text-input + label:after {
  right: -webkit-calc(50% - 11em - ((14em - 24em) / 2));
  right: calc(50% - 11em - ((14em - 24em) / 2));
}
.form-container input[type="password"][required]:focus, .form-container .std-text-input:focus, .form-container .large-text-input:focus, .form-container .medium-text-input:focus, .form-container .small-text-input:focus {
  border-color: #183293;
  border-width: 2px;
  padding-left: -webkit-calc(1.5em - 1px);
  padding-left: calc(1.5em - 1px);
}
.form-container input[type="password"][required]:focus + label:before, .form-container .std-text-input:focus + label:before, .form-container .large-text-input:focus + label:before, .form-container .medium-text-input:focus + label:before, .form-container .small-text-input:focus + label:before {
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transform: translate(-0.5em, -1.2em) scale(0.9, 0.9);
  -ms-transform: translate(-0.5em, -1.2em) scale(0.9, 0.9);
  transform: translate(-0.5em, -1.2em) scale(0.9, 0.9);
  opacity: 1;
  font-style: normal;
  border-left: 1px solid #183293;
}
.form-container input[type="password"][required]:valid + label:before, .form-container .std-text-input:valid + label:before, .form-container .large-text-input:valid + label:before, .form-container .medium-text-input:valid + label:before, .form-container .small-text-input:valid + label:before {
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transform: translate(-0.5em, -1.2em) scale(0.9, 0.9);
  -ms-transform: translate(-0.5em, -1.2em) scale(0.9, 0.9);
  transform: translate(-0.5em, -1.2em) scale(0.9, 0.9);
  opacity: 1;
  font-style: normal;
  border-left: 1px solid #183293;
}
.form-container input[type="password"][required]:read-only + label:before, .form-container .std-text-input:read-only + label:before, .form-container .large-text-input:read-only + label:before, .form-container .medium-text-input:read-only + label:before, .form-container .small-text-input:read-only + label:before, .form-container input[type="password"][required][readonly] + label:before, .form-container .std-text-input[readonly] + label:before, .form-container .large-text-input[readonly] + label:before, .form-container .medium-text-input[readonly] + label:before, .form-container .small-text-input[readonly] + label:before, .form-container input[type="password"][required][readonly=""] + label:before, .form-container .std-text-input[readonly=""] + label:before, .form-container .large-text-input[readonly=""] + label:before, .form-container .medium-text-input[readonly=""] + label:before, .form-container .small-text-input[readonly=""] + label:before {
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transform: translate(-0.5em, -1.2em) scale(0.9, 0.9);
  -ms-transform: translate(-0.5em, -1.2em) scale(0.9, 0.9);
  transform: translate(-0.5em, -1.2em) scale(0.9, 0.9);
  opacity: 1;
  font-style: normal;
  border-left: 1px solid #183293;
}
.form-container input[type="password"][required][readonly=""] + label:before, .form-container .std-text-input[readonly=""] + label:before, .form-container .large-text-input[readonly=""] + label:before, .form-container .medium-text-input[readonly=""] + label:before, .form-container .small-text-input[readonly=""] + label:before {
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transform: translate(-0.5em, -1.2em) scale(0.9, 0.9);
  -ms-transform: translate(-0.5em, -1.2em) scale(0.9, 0.9);
  transform: translate(-0.5em, -1.2em) scale(0.9, 0.9);
  opacity: 1;
  font-style: normal;
  border-left: 1px solid #183293;
}
.form-container input[type="password"][required]:invalid + label[placeholder][alt]:before {
  content: attr(alt);
}
.form-container select.std-text-input, .form-container select.medium-text-input, .form-container select.small-text-input, .form-container select.large-text-input {
  cursor: pointer;
}
.form-container select.std-text-input option, .form-container select.medium-text-input option, .form-container select.small-text-input option, .form-container select.large-text-input option {
  font-family: 'Raleway', Arial, sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  padding: 0;
}
.form-container input[type="radio"].rb-input, .form-container input[type="checkbox"].cb-input, .form-container input[type="file"].file-input {
  opacity: 0;
  position: absolute;
}
.form-container input[type="file"].file-input {
  left: -200%;
}
.form-container .pp-radio-div {
  height: -webkit-calc(2.5em + 2px);
  height: calc(2.5em + 2px);
}
.form-container input[type="radio"].rb-input + .radio-div-cont, .form-container input[type="checkbox"].cb-input + .radio-div-cont, .form-container input[type="file"].file-input + .radio-div-cont, .form-container input[type="radio"].rb-input + .checkbox-div-cont, .form-container input[type="checkbox"].cb-input + .checkbox-div-cont, .form-container input[type="file"].file-input + .checkbox-div-cont, .form-container input[type="radio"].rb-input + .file-div-cont, .form-container input[type="checkbox"].cb-input + .file-div-cont, .form-container input[type="file"].file-input + .file-div-cont {
  font-family: MuseoSans;
  font-weight: 700;
  font-size: 1em;
  padding: 0.5em 0.5em 0.3em 1em;
  border: 1px solid #122b72;
  border-radius: 1.5em;
  resize: none;
  outline: none;
  color: #0c131d;
  height: -webkit-calc(2.5em - 0.8em - 2px);
  height: calc(2.5em - 0.8em - 2px);
  display: inline-block;
  position: relative;
}
.form-container input[type="radio"].rb-input.sex + .radio-div-cont, .form-container input[type="checkbox"].cb-input.sex + .radio-div-cont, .form-container input[type="file"].file-input.sex + .radio-div-cont {
  width: 10em;
}
.form-container input[type="radio"].rb-input.booking-selector + .radio-div-cont, .form-container input[type="checkbox"].cb-input.booking-selector + .radio-div-cont, .form-container input[type="file"].file-input.booking-selector + .radio-div-cont {
  width: 35em;
}
.form-container input[type="radio"].rb-input + .checkbox-div-cont, .form-container input[type="checkbox"].cb-input + .checkbox-div-cont, .form-container input[type="file"].file-input + .checkbox-div-cont {
  width: 20em;
}
.form-container input[type="radio"].rb-input + .file-div-cont, .form-container input[type="checkbox"].cb-input + .file-div-cont, .form-container input[type="file"].file-input + .file-div-cont {
  -webkit-transition: width 0.45s;
  -moz-transition: width 0.45s;
  -o-transition: width 0.45s;
  -ms-transition: width 0.45s;
  transition: width 0.45s;
  min-width: 28em;
}
.form-container input[type="radio"].rb-input + .radio-div-cont > label, .form-container input[type="checkbox"].cb-input + .radio-div-cont > label, .form-container input[type="file"].file-input + .radio-div-cont > label, .form-container input[type="radio"].rb-input + .checkbox-div-cont > label, .form-container input[type="checkbox"].cb-input + .checkbox-div-cont > label, .form-container input[type="file"].file-input + .checkbox-div-cont > label, .form-container input[type="radio"].rb-input + .file-div-cont > label.button-label, .form-container input[type="checkbox"].cb-input + .file-div-cont > label.button-label, .form-container input[type="file"].file-input + .file-div-cont > label.button-label {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: normal;
  position: relative;
  display: inline-block;
  height: inherit;
  cursor: pointer;
  color: #122b72;
}
.form-container input[type="radio"].rb-input + .file-div-cont > label.selected-file, .form-container input[type="checkbox"].cb-input + .file-div-cont > label.selected-file, .form-container input[type="file"].file-input + .file-div-cont > label.selected-file {
  position: relative;
  display: none;
  height: inherit;
  width: 0%;
}
.form-container input[type="radio"].rb-input + .radio-div-cont > label, .form-container input[type="checkbox"].cb-input + .radio-div-cont > label, .form-container input[type="file"].file-input + .radio-div-cont > label, .form-container input[type="radio"].rb-input + .checkbox-div-cont > label, .form-container input[type="checkbox"].cb-input + .checkbox-div-cont > label, .form-container input[type="file"].file-input + .checkbox-div-cont > label {
  width: 100%;
}
.form-container input[type="radio"].rb-input + .file-div-cont > label.button-label, .form-container input[type="checkbox"].cb-input + .file-div-cont > label.button-label, .form-container input[type="file"].file-input + .file-div-cont > label.button-label {
  width: 100%;
}
.form-container input[type="radio"].rb-input + .radio-div-cont > label:before, .form-container input[type="checkbox"].cb-input + .radio-div-cont > label:before, .form-container input[type="file"].file-input + .radio-div-cont > label:before, .form-container input[type="radio"].rb-input + .checkbox-div-cont > label:before, .form-container input[type="checkbox"].cb-input + .checkbox-div-cont > label:before, .form-container input[type="file"].file-input + .checkbox-div-cont > label:before, .form-container input[type="radio"].rb-input + .file-div-cont > label.button-label:before, .form-container input[type="checkbox"].cb-input + .file-div-cont > label.button-label:before, .form-container input[type="file"].file-input + .file-div-cont > label.button-label:before {
  font-family: FontAwesome;
  left: 0em;
  color: #122b72;
  text-align: center;
  width: 1.5em;
  position: absolute;
  font-size: 1.5em;
  line-height: 1.5em;
  /* vertical-align: middle; */
  top: calc(50% - 0.75em);
}
.form-container input[type="radio"].rb-input + .radio-div-cont > label:before, .form-container input[type="checkbox"].cb-input + .radio-div-cont > label:before, .form-container input[type="file"].file-input + .radio-div-cont > label:before {
  content: '\f1db';
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}
.form-container input[type="radio"].rb-input + .radio-div-cont > label > span, .form-container input[type="checkbox"].cb-input + .radio-div-cont > label > span, .form-container input[type="file"].file-input + .radio-div-cont > label > span {
  line-height: 100%;
  display: inline-block;
  width: 4em;
  padding: 0 0.8em 0 2.2em;
  text-align: left;
  position: relative;
  top: 3px;
}
.form-container input[type="radio"].rb-input.sex + .radio-div-cont > label > span, .form-container input[type="checkbox"].cb-input.sex + .radio-div-cont > label > span, .form-container input[type="file"].file-input.sex + .radio-div-cont > label > span {
  width: 4em;
}
.form-container input[type="radio"].rb-input.booking-selector + .radio-div-cont > label > span, .form-container input[type="checkbox"].cb-input.booking-selector + .radio-div-cont > label > span, .form-container input[type="file"].file-input.booking-selector + .radio-div-cont > label > span {
  width: 28em;
  text-align: center;
}
.form-container input[type="radio"].rb-input + .checkbox-div-cont > label:before, .form-container input[type="checkbox"].cb-input + .checkbox-div-cont > label:before, .form-container input[type="file"].file-input + .checkbox-div-cont > label:before {
  content: '\f1db';
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}
.form-container input[type="radio"].rb-input + .checkbox-div-cont > label > span, .form-container input[type="checkbox"].cb-input + .checkbox-div-cont > label > span, .form-container input[type="file"].file-input + .checkbox-div-cont > label > span {
  line-height: 100%;
  display: inline-block;
  width: 10em;
  padding: 0 0.8em 0 2.2em;
  text-align: left;
  position: relative;
  top: 3px;
}
.form-container input[type="radio"].rb-input + .file-div-cont > label, .form-container input[type="checkbox"].cb-input + .file-div-cont > label, .form-container input[type="file"].file-input + .file-div-cont > label {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
  overflow: hidden;
}
.form-container input[type="radio"].rb-input + .file-div-cont > label.button-label:before, .form-container input[type="checkbox"].cb-input + .file-div-cont > label.button-label:before, .form-container input[type="file"].file-input + .file-div-cont > label.button-label:before {
  content: '\f0c2';
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}
.form-container input[type="radio"].rb-input + .file-div-cont > label.button-label > span, .form-container input[type="checkbox"].cb-input + .file-div-cont > label.button-label > span, .form-container input[type="file"].file-input + .file-div-cont > label.button-label > span {
  line-height: 100%;
  display: inline-block;
  padding: 0 0.8em 0 2.2em;
  text-align: left;
  position: relative;
  top: 3px;
}
.form-container input[type="radio"].rb-input + .file-div-cont > label.selected-file > span, .form-container input[type="checkbox"].cb-input + .file-div-cont > label.selected-file > span, .form-container input[type="file"].file-input + .file-div-cont > label.selected-file > span {
  line-height: 100%;
  display: inline-block;
  padding: 0 0.8em 0 2.2em;
  text-align: left;
  position: relative;
  top: 3px;
}
.form-container input[type="radio"].rb-input:focus + .radio-div-cont, .form-container input[type="checkbox"].cb-input:focus + .radio-div-cont, .form-container input[type="file"].file-input:focus + .radio-div-cont, .form-container input[type="radio"].rb-input:focus + .checkbox-div-cont, .form-container input[type="checkbox"].cb-input:focus + .checkbox-div-cont, .form-container input[type="file"].file-input:focus + .checkbox-div-cont, .form-container input[type="radio"].rb-input:focus + .file-div-cont, .form-container input[type="checkbox"].cb-input:focus + .file-div-cont, .form-container input[type="file"].file-input:focus + .file-div-cont {
  border-color: #183293;
  border-width: 2px;
  padding-left: -webkit-calc(1em - 1px);
  padding-left: calc(1em - 1px);
  padding-top: -webkit-calc(0.5em - 1px);
  padding-top: calc(0.5em - 1px);
  padding-bottom: -webkit-calc(0.3em - 1px);
  padding-bottom: calc(0.3em - 1px);
  padding-right: -webkit-calc(0.5em - 1px);
  padding-right: calc(0.5em - 1px);
}
.form-container input[type="radio"].rb-input:not(:checked) + .radio-div-cont > label:hover:before, .form-container input[type="checkbox"].cb-input:not(:checked) + .radio-div-cont > label:hover:before, .form-container input[type="file"].file-input:not(:checked) + .radio-div-cont > label:hover:before {
  color: #183293;
  content: '\f00c';
}
.form-container input[type="radio"].rb-input:not(:checked) + .checkbox-div-cont > label:hover:before, .form-container input[type="checkbox"].cb-input:not(:checked) + .checkbox-div-cont > label:hover:before, .form-container input[type="file"].file-input:not(:checked) + .checkbox-div-cont > label:hover:before {
  color: #183293;
  content: '\f00c';
}
.form-container input[type="radio"].rb-input:not(:valid) + .file-div-cont > label.button-label:hover:before, .form-container input[type="checkbox"].cb-input:not(:valid) + .file-div-cont > label.button-label:hover:before, .form-container input[type="file"].file-input:not(:valid) + .file-div-cont > label.button-label:hover:before {
  color: #183293;
  content: '\f0ee';
}
.form-container input[type="radio"].rb-input:checked + .radio-div-cont > label, .form-container input[type="checkbox"].cb-input:checked + .radio-div-cont > label, .form-container input[type="file"].file-input:checked + .radio-div-cont > label {
  color: #0c131d;
}
.form-container input[type="radio"].rb-input:checked + .radio-div-cont > label:before, .form-container input[type="checkbox"].cb-input:checked + .radio-div-cont > label:before, .form-container input[type="file"].file-input:checked + .radio-div-cont > label:before {
  content: '\f058';
  color: #0c131d;
}
.form-container input[type="radio"].rb-input:checked + .radio-div-cont > label > span, .form-container input[type="checkbox"].cb-input:checked + .radio-div-cont > label > span, .form-container input[type="file"].file-input:checked + .radio-div-cont > label > span {
  font-family: MuseoSans;
  font-weight: 700;
}
.form-container input[type="radio"].rb-input:checked + .checkbox-div-cont > label, .form-container input[type="checkbox"].cb-input:checked + .checkbox-div-cont > label, .form-container input[type="file"].file-input:checked + .checkbox-div-cont > label {
  color: #0c131d;
}
.form-container input[type="radio"].rb-input:checked + .checkbox-div-cont > label:before, .form-container input[type="checkbox"].cb-input:checked + .checkbox-div-cont > label:before, .form-container input[type="file"].file-input:checked + .checkbox-div-cont > label:before {
  content: '\f058';
  color: #0c131d;
}
.form-container input[type="radio"].rb-input:checked + .checkbox-div-cont > label > span, .form-container input[type="checkbox"].cb-input:checked + .checkbox-div-cont > label > span, .form-container input[type="file"].file-input:checked + .checkbox-div-cont > label > span {
  font-family: MuseoSans;
  font-weight: 700;
}
.form-container input[type="file"].file-input:valid + .file-div-cont > label.button-label {
  width: initial;
}
.form-container input[type="file"].file-input:valid + .file-div-cont > label.button-label:before {
  content: '\f0ee';
}
.form-container input[type="file"].file-input:valid + .file-div-cont > label.selected-file {
  min-width: 50%;
  display: inline-block;
  overflow: hidden;
  width: initial;
}
.form-container .selected-span-cont {
  position: relative;
}
.form-container .selected-span-cont .remove-selection {
  position: absolute;
  width: 2em;
  font-size: 1.5em;
  top: 0.5em;
  cursor: pointer;
}
.form-container .selected-span-cont .remove-selection:hover {
  color: #ae2e15;
}
.form-container .medium-input-width {
  width: 20em;
}
.form-container .std-input-width {
  width: 24em;
}
.form-container .large-input-width {
  width: 32em;
}
.form-container .small-input-width {
  width: 14em;
}
.form-container h4.req {
  padding: 4px 5px 5px 4px;
  color: #bf1a1a;
  display: inline-block;
}
.submitter-cont {
  padding: 3px 2em 3px 2em;
}
.submitter-cont > div {
  font-family: MuseoSans;
  font-weight: 700;
  text-align: center;
}
.submitter-cont .submitter {
  width: 12em;
  margin: 5px 10px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: all 0.22s cubic-bezier(0.295, 1.055, 0.5, 0.995);
  -moz-transition: all 0.22s cubic-bezier(0.295, 1.055, 0.5, 0.995);
  -o-transition: all 0.22s cubic-bezier(0.295, 1.055, 0.5, 0.995);
  -ms-transition: all 0.22s cubic-bezier(0.295, 1.055, 0.5, 0.995);
  transition: all 0.22s cubic-bezier(0.295, 1.055, 0.5, 0.995);
  -webkit-transition-timing-function: cubic-bezier(0.295, 1.055, 0.5, 0.995);
  /* older webkit */
  -moz-transition-timing-function: cubic-bezier(0.295, 1.055, 0.5, 0.995);
  -o-transition-timing-function: cubic-bezier(0.295, 1.055, 0.5, 0.995);
  transition-timing-function: cubic-bezier(0.295, 1.055, 0.5, 0.995);
  /* custom */
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  border-radius: 1.5em;
  border: 1px solid black;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.submitter-cont .submitter.submit {
  width: 15em;
}
.submitter-cont .submitter span, .submitter-cont .submitter a {
  color: #edf0f4;
  padding: 0.5em 0.5em;
  display: block;
  height: 100%;
}
.submitter-cont .submitter.bbb-flag-v-cibona-blue.submit:hover, .submitter-cont .submitter.bbb-flag-v-cibona-blue.submit:focus {
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8), 0 0 16px #122b72;
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8), 0 0 16px #122b72;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8), 0 0 16px #122b72;
}
.submitter-cont .submitter.bbb-flag-v-cibona-blue.submit:active {
  -webkit-box-shadow: inset 0 0 12px #000, 0 0 18px #122b72;
  -moz-box-shadow: inset 0 0 12px #000, 0 0 18px #122b72;
  box-shadow: inset 0 0 12px #000, 0 0 18px #122b72;
}
.submitter-cont .submitter.bbb-flag-v-cibona-blue.submit:active span, .submitter-cont .submitter.bbb-flag-v-cibona-blue.submit:active a {
  color: white;
}
.submitter-cont .submitter.bbb-flag-v-cibona-blue.cancel {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0c131d+0,0c131d+8,12408d+8,12408d+11,ffffff+11,ffffff+89,12408d+89,12408d+92,0c131d+92,0c131d+100 */
  background: #0c131d;
  /* Old browsers */
  background: -moz-linear-gradient(left, #0c131d 0%, #0c131d 8%, #12408d 8%, #12408d 11%, #fff 11%, #fff 89%, #12408d 89%, #12408d 92%, #0c131d 92%, #0c131d 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #0c131d), color-stop(8%, #0c131d), color-stop(8%, #12408d), color-stop(11%, #12408d), color-stop(11%, #fff), color-stop(89%, #fff), color-stop(89%, #12408d), color-stop(92%, #12408d), color-stop(92%, #0c131d), color-stop(100%, #0c131d));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #0c131d 0%, #0c131d 8%, #12408d 8%, #12408d 11%, #fff 11%, #fff 89%, #12408d 89%, #12408d 92%, #0c131d 92%, #0c131d 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #0c131d 0%, #0c131d 8%, #12408d 8%, #12408d 11%, #fff 11%, #fff 89%, #12408d 89%, #12408d 92%, #0c131d 92%, #0c131d 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #0c131d 0%, #0c131d 8%, #12408d 8%, #12408d 11%, #fff 11%, #fff 89%, #12408d 89%, #12408d 92%, #0c131d 92%, #0c131d 100%);
  /* IE10+ */
  background: linear-gradient(to right, #0c131d 0%, #0c131d 8%, #12408d 8%, #12408d 11%, #fff 11%, #fff 89%, #12408d 89%, #12408d 92%, #0c131d 92%, #0c131d 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0c131d', endColorstr='#0c131d',GradientType=1);
  /* IE6-9 */
}
.submitter-cont .submitter.bbb-flag-v-cibona-blue.cancel span, .submitter-cont .submitter.bbb-flag-v-cibona-blue.cancel a {
  color: #0c131d;
}
.submitter-cont .submitter.bbb-flag-v-cibona-blue.cancel:hover, .submitter-cont .submitter.bbb-flag-v-cibona-blue.cancel:focus {
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8), 0 0 12px #bf1a1a;
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8), 0 0 12px #bf1a1a;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8), 0 0 12px #bf1a1a;
}
.submitter-cont .submitter.bbb-flag-v-cibona-blue.cancel:active {
  -webkit-box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.8), 0 0 18px #bf1a1a;
  -moz-box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.8), 0 0 18px #bf1a1a;
  box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.8), 0 0 18px #bf1a1a;
}
.submitter-cont .submitter.bbb-flag-v-cibona-blue.cancel:active span, .submitter-cont .submitter.bbb-flag-v-cibona-blue.cancel:active a {
  color: black;
}
div.info .status-container {
  display: inline-table;
  width: 100%;
  text-align: center;
  min-height: 3em;
  border-bottom: 2px dashed #0c131d;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
div.info .status-container.successful-validation {
  background-color: #12408d;
  color: #edf0f4;
  border-color: #edf0f4;
}
div.info .status-container.successful-validation h4 {
  color: #edf0f4;
}
div.info .status-container.warning-msg {
  width: 100%;
}
div.info .status-container.warning-msg i.fa.warning {
  display: table-cell;
  vertical-align: middle;
}
div.info .status-container.warning-msg i.status.fa {
  color: #fff;
  -webkit-background-size: 15px 15px;
  -moz-background-size: 15px 15px;
  background-size: 15px 15px;
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.25, rgba(255, 255, 255, 0.05)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.05)), color-stop(0.75, rgba(255, 255, 255, 0.05)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
}
div.info .status-container.warning-msg.live i.status.fa {
  background-color: #eaaf51;
}
div.info .status-container.warning-msg.error-msg i.status.fa {
  background-color: #bf1a1a;
}
div.info .status-container.warning-msg.success-msg i.status.fa {
  background-color: #67b11c;
}
div.info .status-container.warning-msg.status-msg i.status.fa {
  background-color: #246173;
}
div.info .status-container i.status.fa {
  vertical-align: middle;
  display: table-cell;
  width: 3em;
}
div.info .status-container h4 {
  display: inline-block;
  vertical-align: middle;
  font-family: MuseoSans;
  font-weight: 700;
  text-align: center;
  padding: 0.3em 1em 0.3em 1em;
  min-height: 3em;
  line-height: 125%;
}
div.info .status-container .pp-icon-spin {
  font-size: 1.4em;
  color: #0c131d;
  vertical-align: middle;
  width: 2em;
}
div.info .status-container .pp-icon-spin.successful-validation {
  color: #edf0f4;
}
div.info .status-container.live h4, div.info .status-container.live .fa {
  color: #0c131d;
  display: table-cell;
  vertical-align: middle;
}
div.info .status-container.live.successful-validation h4, div.info .status-container.live.successful-validation .fa {
  color: #edf0f4;
}
div.info .status-container.msg {
  min-height: 3em;
  vertical-align: middle;
}
div.info .status-container.msg > h4 {
  min-height: 2em;
  vertical-align: middle;
  display: table-cell;
  color: #0c131d;
}
div.info .status-container.msg > h4.successful-validation {
  color: #edf0f4;
}
