/*********************
 BREAKPOINTS
 *********************//* "X" icons hover *//* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edf0f4+0,eaeef1+100 */@-webkit-keyframes horizontal-alarm-frames {
  10% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  12% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  14% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  16% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  18% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  22% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  35% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  37% {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
  }
  39% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  41% {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
  43% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  45% {
    -webkit-transform: scale(1.6);
    -ms-transform: scale(1.6);
    transform: scale(1.6);
  }
  47% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes horizontal-alarm-frames {
  10% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  12% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  14% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  16% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  18% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  22% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  35% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  37% {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
  }
  39% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  41% {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
  43% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  45% {
    -webkit-transform: scale(1.6);
    -ms-transform: scale(1.6);
    transform: scale(1.6);
  }
  47% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes horizontal-alarm-frames {
  10% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  12% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  14% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  16% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  18% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  22% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  35% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  37% {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
  }
  39% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  41% {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
  43% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  45% {
    -webkit-transform: scale(1.6);
    -ms-transform: scale(1.6);
    transform: scale(1.6);
  }
  47% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes horizontal-alarm-frames {
  10% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  12% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  14% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  16% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  18% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  22% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  35% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  37% {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
  }
  39% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  41% {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
  43% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  45% {
    -webkit-transform: scale(1.6);
    -ms-transform: scale(1.6);
    transform: scale(1.6);
  }
  47% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes alarm-text-shadow-frames {
  18% {
    text-shadow: none;
  }
  20% {
    text-shadow: 0px 0px 25px red;
  }
  22% {
    text-shadow: none;
  }
  43% {
    text-shadow: none;
  }
  45% {
    text-shadow: 0px 0px 25px red;
  }
  47% {
    text-shadow: none;
  }
}
@-moz-keyframes alarm-text-shadow-frames {
  18% {
    text-shadow: none;
  }
  20% {
    text-shadow: 0px 0px 25px red;
  }
  22% {
    text-shadow: none;
  }
  43% {
    text-shadow: none;
  }
  45% {
    text-shadow: 0px 0px 25px red;
  }
  47% {
    text-shadow: none;
  }
}
@-o-keyframes alarm-text-shadow-frames {
  18% {
    text-shadow: none;
  }
  20% {
    text-shadow: 0px 0px 25px red;
  }
  22% {
    text-shadow: none;
  }
  43% {
    text-shadow: none;
  }
  45% {
    text-shadow: 0px 0px 25px red;
  }
  47% {
    text-shadow: none;
  }
}
@keyframes alarm-text-shadow-frames {
  18% {
    text-shadow: none;
  }
  20% {
    text-shadow: 0px 0px 25px red;
  }
  22% {
    text-shadow: none;
  }
  43% {
    text-shadow: none;
  }
  45% {
    text-shadow: 0px 0px 25px red;
  }
  47% {
    text-shadow: none;
  }
}
@-webkit-keyframes ring-frames {
  0% {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  2% {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  4% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
  6% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  8% {
    -webkit-transform: rotate(-22deg);
    -ms-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }
  10% {
    -webkit-transform: rotate(22deg);
    -ms-transform: rotate(22deg);
    transform: rotate(22deg);
  }
  12% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
  14% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  16% {
    -webkit-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }
  18% {
    -webkit-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
  }
  20% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-moz-keyframes ring-frames {
  0% {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  2% {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  4% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
  6% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  8% {
    -webkit-transform: rotate(-22deg);
    -ms-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }
  10% {
    -webkit-transform: rotate(22deg);
    -ms-transform: rotate(22deg);
    transform: rotate(22deg);
  }
  12% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
  14% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  16% {
    -webkit-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }
  18% {
    -webkit-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
  }
  20% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-o-keyframes ring-frames {
  0% {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  2% {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  4% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
  6% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  8% {
    -webkit-transform: rotate(-22deg);
    -ms-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }
  10% {
    -webkit-transform: rotate(22deg);
    -ms-transform: rotate(22deg);
    transform: rotate(22deg);
  }
  12% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
  14% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  16% {
    -webkit-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }
  18% {
    -webkit-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
  }
  20% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes ring-frames {
  0% {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  2% {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  4% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
  6% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  8% {
    -webkit-transform: rotate(-22deg);
    -ms-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }
  10% {
    -webkit-transform: rotate(22deg);
    -ms-transform: rotate(22deg);
    transform: rotate(22deg);
  }
  12% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
  14% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  16% {
    -webkit-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }
  18% {
    -webkit-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
  }
  20% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes highlight-anchored {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  10% {
    background-color: #246173;
  }
  100% {
    background-color: initial;
  }
}
@-moz-keyframes highlight-anchored {
  0% {
    background-color: rgba(0, 0, 0, .1);
  }
  10% {
    background-color: #246173;
  }
  100% {
    background-color: rgba(0, 0, 0, .1);
  }
}
#header {
  position: relative;
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 100;
}
#header nav {
  position: relative;
  width: 100%;
  z-index: 20;
  -webkit-transition: background 0.25s ease-out;
  -moz-transition: background 0.25s ease-out;
  -o-transition: background 0.25s ease-out;
  -ms-transition: background 0.25s ease-out;
  transition: background 0.25s ease-out;
}
#header nav .logo {
  float: left;
  margin: 2px 0 0 20px;
}
#header nav a {
  color: #3c948b;
  text-decoration: none;
  -webkit-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
}
#header nav.main {
  height: 57px;
  line-height: 58px;
  font-size: 15px;
  text-transform: uppercase;
}
#header nav.main {
  left: 0;
  width: 100%;
  padding: 0px 0px;
  background-color: #12408d;
}
#header nav.main ul.menu {
  right: 20px;
  position: absolute;
  font-family: MuseoSans;
  font-weight: 700;
}
#header nav.main ul.menu li {
  position: relative;
}
#header nav.main ul.menu li {
  border-left: 1px solid #edf0f4;
}
#header nav.main ul.menu li:first-child {
  border-left: none;
}
#header nav.main ul.menu > li {
  float: left;
}
#header nav.main ul.menu li a, #header nav.main ul.menu li span {
  display: block;
  height: 57px;
  padding: 0 15px;
  color: #edf0f4;
  background-color: #12408d;
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  -moz-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  -o-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  -ms-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
}
#header nav.main ul.menu li.user-sign {
  line-height: normal;
  height: 100%;
  font-size: 25px;
  color: #edf0f4;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0c131d+0,0c131d+8,eaeef1+8,edf0f4+11,12408d+11,12408d+89,edf0f4+89,eaeef1+92,0c131d+92,0c131d+100 */
  background: #0c131d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #0c131d 0%, #0c131d 8%, #eaeef1 8%, #edf0f4 11%, #12408d 11%, #12408d 89%, #edf0f4 89%, #eaeef1 92%, #0c131d 92%, #0c131d 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0c131d), color-stop(8%, #0c131d), color-stop(8%, #eaeef1), color-stop(11%, #edf0f4), color-stop(11%, #12408d), color-stop(89%, #12408d), color-stop(89%, #edf0f4), color-stop(92%, #eaeef1), color-stop(92%, #0c131d), color-stop(100%, #0c131d));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0c131d 0%, #0c131d 8%, #eaeef1 8%, #edf0f4 11%, #12408d 11%, #12408d 89%, #edf0f4 89%, #eaeef1 92%, #0c131d 92%, #0c131d 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0c131d 0%, #0c131d 8%, #eaeef1 8%, #edf0f4 11%, #12408d 11%, #12408d 89%, #edf0f4 89%, #eaeef1 92%, #0c131d 92%, #0c131d 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0c131d 0%, #0c131d 8%, #eaeef1 8%, #edf0f4 11%, #12408d 11%, #12408d 89%, #edf0f4 89%, #eaeef1 92%, #0c131d 92%, #0c131d 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #0c131d 0%, #0c131d 8%, #eaeef1 8%, #edf0f4 11%, #12408d 11%, #12408d 89%, #edf0f4 89%, #eaeef1 92%, #0c131d 92%, #0c131d 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0c131d', endColorstr='#0c131d',GradientType=0);
  /* IE6-9 */
}
#header nav.main ul.menu li.user-sign > i {
  display: inline-block;
  padding: 0 15px;
  height: 100%;
}
#header nav.main ul.menu li.user-sign > i:before {
  position: relative;
  top: 15px;
}
#header nav.main ul.menu > li.active a, #header nav.main ul.menu > li.active span {
  font-weight: 700;
}
#header nav.main ul.menu > li a:hover, #header nav.main ul.menu > li span:hover, #header nav.main ul.menu > li.open span {
  background-color: #eaeef1;
  color: #0c131d;
}
#header nav.secondary.user {
  background-color: #fff;
  font-family: MuseoSans;
  font-weight: 700;
  text-transform: none;
}
#header nav.secondary.user img.soc-net-logo {
  vertical-align: top;
}
@media only screen and (max-width: 899px) {
  #header nav.secondary.user img.soc-net-logo {
    display: none;
  }
}
#header nav.secondary.user div.home-cont {
  margin-left: 1em;
  height: 4em;
  display: inline-table;
}
#header nav.secondary.user div.home-cont > div {
  display: table-cell;
  vertical-align: middle;
}
#header nav.secondary.user div.home-cont .home-icon-cont .thumbnail.yes-avatar {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0c131d+0,0c131d+8,eaeef1+8,edf0f4+11,12408d+11,12408d+89,edf0f4+89,eaeef1+92,0c131d+92,0c131d+100 */
  background: #0c131d;
  /* Old browsers */
  background: -moz-linear-gradient(left, #0c131d 0%, #0c131d 8%, #eaeef1 8%, #edf0f4 11%, #12408d 11%, #12408d 89%, #edf0f4 89%, #eaeef1 92%, #0c131d 92%, #0c131d 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #0c131d), color-stop(8%, #0c131d), color-stop(8%, #eaeef1), color-stop(11%, #edf0f4), color-stop(11%, #12408d), color-stop(89%, #12408d), color-stop(89%, #edf0f4), color-stop(92%, #eaeef1), color-stop(92%, #0c131d), color-stop(100%, #0c131d));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #0c131d 0%, #0c131d 8%, #eaeef1 8%, #edf0f4 11%, #12408d 11%, #12408d 89%, #edf0f4 89%, #eaeef1 92%, #0c131d 92%, #0c131d 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #0c131d 0%, #0c131d 8%, #eaeef1 8%, #edf0f4 11%, #12408d 11%, #12408d 89%, #edf0f4 89%, #eaeef1 92%, #0c131d 92%, #0c131d 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #0c131d 0%, #0c131d 8%, #eaeef1 8%, #edf0f4 11%, #12408d 11%, #12408d 89%, #edf0f4 89%, #eaeef1 92%, #0c131d 92%, #0c131d 100%);
  /* IE10+ */
  background: linear-gradient(to right, #0c131d 0%, #0c131d 8%, #eaeef1 8%, #edf0f4 11%, #12408d 11%, #12408d 89%, #edf0f4 89%, #eaeef1 92%, #0c131d 92%, #0c131d 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0c131d', endColorstr='#0c131d',GradientType=1);
  /* IE6-9 */
  -webkit-box-shadow: 1px 1px 4px rgba(102, 102, 102, .4);
  -moz-box-shadow: 1px 1px 4px rgba(102, 102, 102, .4);
  box-shadow: 1px 1px 4px rgba(102, 102, 102, .4);
}
#header nav.secondary.user div.home-cont .home-icon-cont .thumbnail {
  width: 4.5em;
  height: 3.5em;
  margin: 0 auto;
}
#header nav.secondary.user div.home-cont .home-icon-cont .thumbnail .pic-cont {
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
#header nav.secondary.user div.home-cont .welcome-name {
  width: 16em;
  padding-left: 1em;
}
@media only screen and (max-width: 1149px) {
  #header nav.secondary.user div.home-cont .welcome-name {
    display: none;
  }
}
#header nav.secondary.user div.home-cont .welcome-name .name {
  border-bottom: 2px dashed #0c131d;
}
#header nav.secondary.user div.home-cont .welcome-name .name a {
  line-height: normal;
  color: #0c131d;
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out, border 0.25s ease-out;
  -moz-transition: background-color 0.25s ease-out, color 0.25s ease-out, border 0.25s ease-out;
  -o-transition: background-color 0.25s ease-out, color 0.25s ease-out, border 0.25s ease-out;
  -ms-transition: background-color 0.25s ease-out, color 0.25s ease-out, border 0.25s ease-out;
  transition: background-color 0.25s ease-out, color 0.25s ease-out, border 0.25s ease-out;
}
#header nav.secondary.user div.home-cont .welcome-name .name a:hover {
  color: white;
  background-color: #12408d;
}
#header nav.secondary.user div.home-cont .welcome-name .name a.first-last-name {
  font-size: 1em;
  padding: 1px 0 1px 8px;
  display: block;
}
#header nav.secondary.user div.home-cont .welcome-name h5.classic {
  color: #12408d;
  padding: 1px 5px 0px 8px;
  line-height: normal;
  font-size: 0.85em;
  font-weight: 700;
}
#header nav.secondary.user ul.menu {
  display: inline-block;
  float: right;
}
#header nav.secondary.user ul.menu li {
  position: relative;
}
#header nav.secondary.user ul.menu li {
  margin-right: 12px;
}
#header nav.secondary.user ul.menu li:first-child {
  border-left: none;
}
#header nav.secondary.user ul.menu > li {
  float: left;
}
#header nav.secondary.user ul.menu > li.open:not(.active) a, #header nav.secondary.user ul.menu > li.open:not(.active) span {
  border-bottom: 2px solid #0c131d;
}
#header nav.secondary.user ul.menu li a, #header nav.secondary.user ul.menu li span {
  display: block;
  height: 4em;
  line-height: 4em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #0c131d;
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out, border 0.25s ease-out;
  -moz-transition: background-color 0.25s ease-out, color 0.25s ease-out, border 0.25s ease-out;
  -o-transition: background-color 0.25s ease-out, color 0.25s ease-out, border 0.25s ease-out;
  -ms-transition: background-color 0.25s ease-out, color 0.25s ease-out, border 0.25s ease-out;
  transition: background-color 0.25s ease-out, color 0.25s ease-out, border 0.25s ease-out;
  padding: 0 25px 0 10px;
}
#header nav.secondary.user ul.menu li a:hover, #header nav.secondary.user ul.menu li span:hover, #header nav.secondary.user ul.menu li a:focus, #header nav.secondary.user ul.menu li span:focus {
  color: white;
  background-color: #0c131d;
}
#header nav.secondary.user li.dropdown span:after {
  content: '';
  position: relative;
  font-family: FontAwesome;
  right: -15px;
}
#header nav.secondary.user li.dropdown span:after {
  content: '\f107';
}
#header nav.secondary.user li.open.dropdown span:after {
  content: '\f106';
}
#header nav.secondary.user li.dropdown:hover span:after, #header nav.secondary.user li.dropdown:focus span:after {
  content: '\f103';
}
#header nav.secondary.user li.open.dropdown:hover span:after, #header nav.secondary.user li.open.dropdown:focus span:after {
  content: '\f102';
}
#header nav.secondary.user > div {
  display: inline-block;
  width: 100%;
}
#header nav.secondary.user li.dropdown span {
  padding-right: 30px;
  cursor: pointer;
}
#header nav.secondary.user li.dropdown span .alarm {
  position: absolute;
  left: 0;
  top: 25%;
  font-size: 0.7em;
  color: orangered;
}
#header nav.secondary.user li.dropdown span .alarm.faa-horizontal {
  -webkit-animation: horizontal-alarm-frames 6s ease infinite, alarm-text-shadow-frames 6s ease infinite;
  -moz-animation: horizontal-alarm-frames 6s ease infinite, alarm-text-shadow-frames 6s ease infinite;
  -o-animation: horizontal-alarm-frames 6s ease infinite, alarm-text-shadow-frames 6s ease infinite;
  animation: horizontal-alarm-frames 6s ease infinite, alarm-text-shadow-frames 6s ease infinite;
}
#header nav.secondary.user li.dropdown.active span, #header nav.secondary.user li.no-dropdown.active a {
  border-bottom: 2px solid #12408d;
  color: #12408d;
}
#header nav.user.nav-filters {
  display: none;
  height: auto;
  line-height: auto;
  z-index: 1;
  font-size: 15px;
  font-family: MuseoSans;
  font-weight: 700;
}
#header nav.user.nav-filters .filter {
  display: none;
  overflow: hidden;
  padding: 2px 10px 2px 10px;
}
@media only screen and (min-width: 900px) {
  #header nav.user.nav-filters .filter {
    padding: 4px 20px 4px 20px;
  }
}
#header nav.user.nav-filters .list-tags {
  overflow: hidden;
  float: right;
}
#header nav.user.nav-filters .list-tags ul {
  overflow: hidden;
}
#header nav.user.nav-filters .list-tags li {
  position: relative;
  float: left;
  margin: 1px 6px 1px 6px;
  font-size: 15px;
}
#header nav.user.nav-filters .list-tags li .fa {
  font-size: 25px;
}
@media only screen and (min-width: 700px) {
  #header nav.user.nav-filters .list-tags li {
    margin: 4px 5px 4px 5px;
  }
  #header nav.user.nav-filters .list-tags li .fa {
    font-size: 15px;
  }
}
@media only screen and (min-width: 800px) {
  #header nav.user.nav-filters .list-tags li {
    margin: 2px 8px 4px 8px;
  }
}
@media only screen and (min-width: 1000px) {
  #header nav.user.nav-filters .list-tags li {
    margin: 4px 8px 4px 12px;
  }
}
#header nav.user.nav-filters .list-tags li a {
  display: block;
  padding: 8px 15px;
  color: #0c131d;
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  -moz-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  -o-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  -ms-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
}
@media only screen and (min-width: 700px) {
  #header nav.user.nav-filters .list-tags li a {
    padding: 6px 4px;
  }
}
@media only screen and (min-width: 800px) {
  #header nav.user.nav-filters .list-tags li a {
    padding: 6px 10px;
  }
}
@media only screen and (min-width: 1000px) {
  #header nav.user.nav-filters .list-tags li a {
    padding: 6px 15px;
  }
}
#header nav.user.nav-filters .list-tags li a span {
  padding: 0 2px;
}
#header nav.user.nav-filters .list-tags li a span.num-of-msg {
  width: 1.4em;
  display: inline-block;
  text-align: center;
}
@media only screen and (max-width: 699px) {
  #header nav.user.nav-filters .list-tags li a span.link-label-fw {
    display: none;
  }
}
#header nav.user.nav-filters .list-tags li a .unread-exists {
  -webkit-transition: color 0.25s ease-out, text-shadow 0.25s ease-out;
  -moz-transition: color 0.25s ease-out, text-shadow 0.25s ease-out;
  -o-transition: color 0.25s ease-out, text-shadow 0.25s ease-out;
  -ms-transition: color 0.25s ease-out, text-shadow 0.25s ease-out;
  transition: color 0.25s ease-out, text-shadow 0.25s ease-out;
  text-shadow: 1px 0px 0px red, 1px 1px 0px black, -7px -2px 13px orangered, 7px 2px 12px orangered;
  color: orangered;
}
#header nav.user.nav-filters .list-tags li a.active, #header nav.user.nav-filters .list-tags li a:hover {
  background-color: #12408d;
  color: #edf0f4;
}
#header nav.user.nav-filters .list-tags li a.active .unread-exists, #header nav.user.nav-filters .list-tags li a:hover .unread-exists {
  color: #edf0f4;
  text-shadow: 1px 0px 2px white, 2px 0px 1px black, -2px 1px 1px black, -1px 1px 0px black, 1px 0 4px #12408d, 1px 1px 0 #12408d, 2px 1px 1px #12408d, -4px -1px 5px black, 5px 2px 6px black;
}
#header nav.user.search {
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  z-index: 9;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#header nav.user.search.open {
  visibility: visible;
  opacity: 1;
}
#header .logo {
  display: inline-block;
  width: 191px;
  height: 51px;
  background: url(../graphics/fuconz_natpis_v3.png) no-repeat;
}
#header .logo a {
  display: block;
  height: 51px;
  text-indent: -34em;
  overflow: hidden;
}
