<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'templates/partials/head_info.twig'%}
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    {% if auth_user %}
        {% include 'user/chat.overlay.twig' %}
    {% endif %}


    <div class = "a-level-holder">



        <div class = "content-wrap">
            <div class = "content">
                {% include 'templates/std_header.twig'%}

                <section id = "content">
                    <!-- main content, will be injected via Twig -->
                    {% block content %} {% endblock %}
                </section>

            </div>
        </div>

        <div class="push"></div>


    </div>

    {% include 'templates/std_footer.twig'%}


{% include 'templates/partials/foot_info.twig'%}

{% if auth_user %}
    <script src="public/code/js/ch_menu.js"></script>
    <script src="public/code/js/ch.js"></script>

{% endif %}

{% block additional_js %}

{% endblock %}
</body>

</html>