<footer id = "footer">

    <div class = "inner-cont">
        <nav class = "footer">

            <div>
                <div class = "signature">
                    <span class = "fuconz">Fuconž</span> <i class="fa fa-soccer-ball-o"></i><span>Zagreb, 2015.</span>
                </div>

            </div>
        </nav>
        <div>
            <img src = "public/graphics/gh0c_banner.png">
        </div>
    </div>

</footer>