<footer id = "footer" class = "display-none">

    <div class = "inner-cont">
        <nav class = "footer">

            <div>
                <div class = "signature">
                    <span class = "fuconz">Fuconž</span> <i class="fa fa-soccer-ball-o"></i><span>Zagreb, 2015.</span>
                </div>

            </div>
        </nav>
        <div>
            <img src = "public/graphics/gh0c_banner_v2.png">
        </div>
    </div>

</footer>


<script>
    $(document).ready(function() {
        var $footer = $("#footer");
        $footer.removeClass("display-none");

    });

//
//        $footer.css('display', 'block');
//
//        $footer.velocity({
//            translateX: '-=' + 0,
//            translateY: '-=' + 40,
//            translateZ: '-=' + 0
//        }, 0);
//        return $footer.velocity({
//            opacity: 1,
//            translateX: '+=' + 0,
//            translateY: '+=' + 40,
//            translateZ: '+=' + 0
//        }, {
//            easing: null,
//            delay: 200,
//            duration: 600
//        });
//    });

</script>