{% extends "admin/templates/default.twig" %}

{% block title %}
    Admin stranice
{% endblock %}

{% block content %}


    <div class = "main-block-cont">
        <div class = "black-horiz-spacer-10"></div>

        <div class = "main-title-box">
            <div class = "inner-cont flag"></div>
            <div class = "inner-cont page-title">
                <h1>Admin stranice</h1>
            </div>
        </div>
        <div class = "black-horiz-spacer-5"></div>

        <div class = "main-content-box">
            {% include "admin/templates/partials/admin_messages.twig" %}

            <div class = "inner-cont">

                {% include "admin/templates/partials/live_status.container.twig" %}

            </div>
            <input type="hidden" name="messages-loader-url" id = "messages-loader-url" value="{{ urlFor('admin.home.load.messages.post') }}" />
            <input type="hidden" name="reservations-loader-url" id = "reservations-loader-url" value="{{ urlFor('admin.home.load.reservations.post') }}" />


            <div class = "profile-cont mega profile-container main" id = "main-profile-cont">
                <section class="main">
                    <div class = "inner-cont loading-info-cont">
                        <div class = "vertical-section text-centered">
                            <div class = "inner-70pct">
                                <div class = "loading js-loading">UÄitavanje...
                                    <i class = "fuconz-spinner fa fa-fw fa-spinner fa-spin"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <main>
                        <div class = "general-holder">
                            <section id = "unread-messages" class = "profile-grid">

                            </section>
                        </div>

                    </main>
                </section>
            </div>
            <input type = "hidden" name = "csrf-token" value = "{{ csrf_token }}">

        </div>
    </div>

{% endblock %}

{% block additional_js %}

    <script src="public/code/js/admin/profile.js"></script>

    <script src="public/code/js/admin/messages.js"></script>

{% endblock %}
