@import '../modules/_modules.import';

.chat-content-holder nav.chat-nav-filters .filter.filter-users {
  background: $cibona-blue;
  .users-container {

    $avatar-h: 30px;
    $avatar-cont-h: 36px;
//    $delta-h: 2px;
    $avatar-border-radius: 4em;

    .user {
      width: 90%;
      max-width: 30em;
      border-right: 1px solid $light-blue-gray-dark;

      height: 3em;
      margin-bottom: 0.25em;
      position: relative;
      @include responsive-h-min($mobile-h-large-bp) {
        margin-bottom: 0.375em;
        height: 3.375em;

      }
      @include responsive-w-min($tablet-bp) {
        margin-left: auto;
        margin-right: auto;
      }

      .user-info {
        display: inline-table;
        height: 100%;
        overflow: hidden;
        vertical-align: bottom;

        & > div {
          padding: 0 0 0 6px;
          .img-holder {
            width: $avatar-cont-h;
            height: $avatar-cont-h;
            @include rounded($avatar-border-radius);
            @include box-shadow(inset 0px 0px 1.5em 0.125em rgba(250, 235, 225, 0.1),
              0px 0px 0.375em 0.15em rgba(50, 40, 40, 0.40));
            text-align: center;
            display: inline-block;
            img {
              @include rounded($avatar-border-radius);
              position: relative;
              top: ($avatar-cont-h - $avatar-h)/2;
            }
            & > i {
              display: inline-table;
              //        padding: 0 15px;
              height: 100%;
              width: 100%;
              position: relative;


              &:before {
                font-size: 24px;

                display: table-cell;
                vertical-align: middle;
              }
            }
          }

          & > i {
            display: inline-table;
            //        padding: 0 15px;
            height: 100%;
            font-size: 24px;
            padding: (($avatar-cont-h - 24px)/2) 0;

            &:before {
              position: relative;
              display: table-cell;
              vertical-align: middle;
            }
          }

          & > span {
            height: $avatar-cont-h;
            padding: 0 0 0 6px;
            line-height: $avatar-cont-h;
          }
        }
      }


      .existing-conversation-info {
        display: inline-table;
        height: 100%;
        overflow: hidden;
        vertical-align: bottom;

        position: absolute;
        right: 0.25em;
        top: 0;
        width: 2em;

        text-align: center;

        & > i.fa.ico-m {
          display: table-cell;
          vertical-align: middle;

          &.not-exist {
            opacity: 0.15;
          }
          &.unread {
            color: white;
            font-size: 1.25em;
          }
        }

        & > i.fa.unread-overlay-anim {
//          color: orangered;
//
//          font-size: 0.75em;

          width: 100%;
          height: 100%;

          display: inline-table;
          @include pp-animation(horizontal-alarm-frames 6s ease infinite);
          &:before {
            display: table-cell;
            vertical-align: middle;
          }
        }

        .hot-msg-card {
          position: absolute;
          top: 15%;
          right: -2%;
          z-index: 5;
          @include responsive-w-min($mobile-mid-bp) {
            right: -7%;
          }
          font-size: 0.625em;
          .msg-card {
            color: orangered;
            margin: 0;
          }
          .number {
            margin: 0;
            font-size: 1.125em;
            color: white;
            font-family: MuseoSans;
            font-weight: 600;
          }
        }
      }


    }
  }
}