@import "../modules/_modules.import";

.navbar {
  -webkit-backface-visibility: hidden;
  min-height: 40px;
}

.navbar-fixed-top {
  border-width: 0;
}

.navbar-default {
  background-color: $cibona-blue;
  background-image: none;
  .navbar-brand {
    font-size: initial;
    padding: 0.25rem 1rem;
    margin: 0;
    height: $header-height;

    @include responsive-w-max($mobile-mid-bp - 1px) {
      padding: 4px 12px;
      width: 10em;
    }

    @include responsive-w-h-max($mobile-mid-bp - 1px, $bp-mob-h-1 - 1px) {
      padding: 4px 12px;
      width: 10em;
      height: $header-height - 0.75em;
    }

    .img-helper {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    img {
      vertical-align: middle;
      max-width: 100%;
      display: inline-block;
    }
  }
  .navbar-nav.menu {
    font-family: MuseoSans;
    font-weight: 600;
    margin-right: 0;
    & > li > a {
      line-height: 28px;
      color: $light-blue-gray-light;
      @include responsive-w-max(849px) {
        padding-left: 12px;
        padding-right: 12px;
      }
    }
    & > li:not(.user-sign) a, li:not(.user-sign) > span {
      color: $light-blue-gray-light;
      background-color: $cibona-blue;
      @include pp-transition(background-color .25s ease-out, color .25s ease-out);

    }
    li {
      border-left: 1px solid $light-blue-gray-light;
      .label-fw {
        @include responsive-w-min(768px) {
          display: none;
        }
      }

    }

    li.user-sign {
      text-transform: none;
//      height: 58px;
      color: $light-blue-gray-light;
      @include responsive-w-min(768px) {
        @include gradient-horizontal-bbb-flag-cibona-blue();
      }
      @include responsive-w-max(767px) {
        height: 48px;
      }

      & > a {
        padding-bottom: 3px;
        padding-top: 3px;
        @include responsive-w-min(768px) {
          padding-bottom: 8px;
          padding-top: 8px;
        }
      }

      & > i {
        display: inline-table;
//        padding: 0 15px;
        height: 100%;
        font-size: 16px;
        padding: 12px 6px 12px 15px;
        @include responsive-w-min(768px) {
          font-size: 28px;
          padding: 15px 10px;
        }
        &:before {
          position: relative;
          display: table-cell;
          vertical-align: middle;
        }
      }
      & > a > i {
        display: inline-table;
        //        padding: 0 15px;
        height: 100%;
        font-size: 16px;
        padding: 13px 5px 13px 5px;
        @include responsive-w-min(768px) {
          font-size: 24px;
          padding: 8px 10px;
        }
        &:before {
          position: relative;
          display: table-cell;
          vertical-align: middle;
        }
      }
      & > span {
        @include responsive-w-max(767px) {
          vertical-align: top;
          height: 48px;
          display: inline-block;
          padding: 0 5px;
          line-height: 48px;
        }
      }
      a > span {
        @include responsive-w-max(767px) {
          vertical-align: top;
          height: 42px;
          display: inline-block;
          padding: 0 5px;
          line-height: 42px;
        }
      }

      .img-holder {
         width: 42px;
         height: 42px;
         border-radius: 5em;
         @include box-shadow(inset 0px 0px 1.5em 0.125em rgba(250, 235, 225, 0.1),
           0px 0px 1.3em 0.2em rgba(50, 40, 40, 0.40));
         text-align: center;
         display: inline-block;
         img {
           border-radius: 5em;
           position: relative;
           top: 2px;
         }
       }
    }
    & > li a:hover, & > li.open span {
      background-color: $light-blue-gray-dark;
      color: $dark-dark-blue;
    }

  }

  .navbar-toggle {
    @include pp-transition(background-color .25s ease-out, color .25s ease-out);
    color: $light-blue-gray-light;
    border-color: transparent;

    @include responsive-w-h-max($mobile-mid-bp - 1px, $bp-mob-h-1 - 1px) {
      padding: 7px 10px;
      margin-top: 6px;
      margin-bottom: 6px;
    }

    &:not(.collapsed) {
      background-color: $cibona-blue-dark-overlay;
      .f-icon-menu:before {
        content: "\f057";
      }
    }

    .f-icon-menu {
      font-size: 20px;
      @include responsive-w-h-max($mobile-mid-bp - 1px, $bp-mob-h-1 - 1px) {
        font-size: 18px;
      }
    }

    &:hover, &:focus {
      background-color: $light-blue-gray-dark;
      color: $dark-dark-blue;
    }
  }

  &.main {
    text-transform: uppercase;
    font-size: 15px;

  }

}


nav a {
  text-decoration: none;
  @include pp-transition(color .25s ease-out, background-color .25s ease-out);
}



nav.secondary.user {
  position: relative;
  width: 100%;

  background-color: #ffffff;
  font-family: MuseoSans;
  font-weight: 600;
  text-transform: none;
  //
  img.soc-net-logo {
    vertical-align: top;
    @include responsive-w-max($tablet-bp - 1px) {
      display: none;
    }
//    @include responsive-h-max($bp-mob-h-1 - 1px) {
//      display: none;
//    }
  }

  div.home-cont {
    display: inline-block;
    @include responsive-w-min($tablet-bp) {
      display: none;
    }
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 1em;
    padding-right: 1em;
    @include responsive-w-max($bp-mob-h-1) {
//      width: 100%;
      padding-left: 0.375em;
      padding-right: 0.375em;
    }


    @include responsive-h-min($bp-mob-h-1) {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }


    & > a {
      display: block;
    }

    $opener-button-border-radius: 5em;

    .home-icon-cont {
      .f-thumbnail {
        .pic-cont {
          height: 100%;
          @include box-shadow(inset 0px 0px 1.5em 0.125em rgba(250, 235, 225, 0.1),
            0px 0px 1.3em 0.2em rgba(50, 40, 40, 0.40));
          padding: 3px;
          background-color: $light-blue-gray-light;
          @include rounded($opener-button-border-radius);
          text-align: center;
        }

        .pic-cont .fa {
          display: inline-table;
          height: 100%;
          font-size: 1.8em;
          color: $dark-dark-blue;
          &:before {
            vertical-align: middle;
            display: table-cell;
          }
        }

        &.user-icon {
          color: $light-blue-gray-light;
        }
      }

      .user {
        width: 2.5em;
        height: 2.5em;
        position: relative;
        margin: 0 auto;
        @include rounded($opener-button-border-radius);
      }

      .no-show {
        position: absolute;

        z-index: 30;
        width: 100%;
        height: 100%;
        top: 0; left:0;
      }

      .f-thumbnail .pic-cont img {
        @include rounded($opener-button-border-radius);
      }

      .f-thumbnail > .no-show {
        height: 100%;
        background-color: rgba(0,0,0,.7);
        @include rounded($opener-button-border-radius);
        font-size: 1.75em;
        display: inline-table;
      }

      .f-thumbnail > .no-show {
        visibility:hidden;
        opacity:0;
        @include pp-transition(visibility 0s linear 0.3s, opacity 0.3s linear);
      }

      .f-thumbnail > .no-show i {
        opacity: .85;
        color:white;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
      }


      &:hover > .f-thumbnail .no-show {
        position: absolute;
        left: 0;
        width: 100%;
        text-align: center;

        visibility:visible;
        opacity: 1;
        transition-delay:0s;
      }
    }

  }

  ul.menu {
    display: inline-block;
    float:right;
  }

  ul.menu {
    li {
      position: relative;
    }

    & > li {
      float: left;
      &.open {
        a, & > span {
          background-color: $dark-dark-blue;
          color: $light-blue-gray-light;
        }
        &:not(.active) {
          a, & > span {
            border-bottom: 2px solid $dark-dark-blue;
          }
        }
      }
      .link-icon-fw {
        @include responsive-w-min($mobile-mid-bp) {
          font-size: 1.2em;
        }
        @include responsive-w-max(569px) {
          font-size: 1.2em;
        }
      }
      .link-icon-fww {
        @include responsive-w-min($mobile-mid-bp) {
          font-size:1.2em;
        }
        @include responsive-w-max(399px) {
          font-size: 1.2em;
        }
      }

    }
    li > a, li > span {
      display: block;
      height: 3em;
      line-height: 3em;
      @include responsive-h-min($bp-mob-h-1) {
        height: 3.5em;
        line-height: 3.5em;
      }




      @include box-sizing(border-box);
      //          border-bottom: 2px dashed transparent;
      cursor: pointer;
      color: $dark-dark-blue;
      @include pp-transition(background-color .25s ease-out, color .25s ease-out, border .25s ease-out);
      padding: 0 18px 0 0.5em;

      @include responsive-w-min($mobile-mid-bp) {
        padding: 0 25px 0 10px;
      }

      &:hover, &:focus {
        color: white;
        background-color: $dark-dark-blue;

      }

      span.link-label-fw {
        @include responsive-w-max($mobile-huge-bp - 1px) {
          display: none;
        }
      }
      span.link-label-fww {
        @include responsive-w-max(399px) {
          display: none;
        }
      }
    }
    li.no-dropdown a {
      padding: 0 0.875em 0 0.875em;
      @include responsive-w-min($bp-mob-w-2) {
        padding: 0 0.75em 0 0.75em;
      }
    }
  }


  li.dropdown > span:after {
    content: '';
    position: relative;
    //        @include pp-transition(all .25s ease-out);
    font-family: FontAwesome;
    right: -8px;
    @include responsive-w-min($mobile-mid-bp) {
      right: -15px;
    }
  }

  li.dropdown > span:after {
    content: '\f107';
  }

  li.open.dropdown > span:after {
    content: '\f106';
  }

  li.dropdown:hover, li.dropdown:focus {
    & > span:after {
      content: '\f103';
    }
  }
  li.open.dropdown:hover, li.open.dropdown:focus {
    & > span:after {
      content: '\f102';
    }
  }

  & > div {
    display: inline-block;
    width: 100%;
  }

  li.dropdown > span {
    padding-right: 30px;
    cursor: pointer;



    .alarm {
      position: absolute;
      left: 28px;
      top: 20%;
      font-size: .7em;
      color: orangered;
      &.faa-horizontal {
        @include pp-animation(horizontal-alarm-frames 6s ease infinite, alarm-text-shadow-red-frames 6s ease infinite);
      }
      &.faa-horizontal-2 {
        @include pp-animation(horizontal-alarm-frames 3s ease infinite, alarm-text-shadow-red-frames 3s ease infinite);
      }
    }
  }

  li.no-dropdown > a {

    .alarm {
      position: absolute;
      left: 40px;
      @include responsive-w-min(400px) {
        left: 36px;
      }
      top: 20%;
      font-size: .7em;
      color: orangered;
      &.faa-horizontal {
        @include pp-animation(horizontal-alarm-frames 6s ease infinite, alarm-text-shadow-red-frames 6s ease infinite);
      }
      &.faa-horizontal-2 {
        @include pp-animation(horizontal-alarm-frames 2s ease infinite, alarm-text-shadow-red-frames 2s ease infinite);
      }
    }
  }



  li.dropdown.active > span,
  li.no-dropdown.active a{

    border-bottom: 2px solid $cibona-blue;
    //          border-top: 3px solid $cibona-blue;
    color: $cibona-blue;

  }


}





nav.user.nav-filters {
  position: absolute;
  width: 100%;
  display: none;
  height: auto;
  font-size: 15px;
  font-family: MuseoSans;
  font-weight: 600;
  background-color: white;
  z-index: 29;
  @include responsive-w-max(767px) {
    border-bottom: 2px solid $dark-dark-blue;
  }

  overflow: hidden;

  .filter {
    display: none;
    overflow: hidden;
    text-align: right;
    &:before {
      display: table;
      content: " ";
    }
//    padding: 2px 10px 2px 10px;
    padding: 2px 0;
    @include responsive-w-min($tablet-bp) {
      padding: 4px 0;
    }
  }

  .list-tags {
    overflow: hidden;
//    float: right;
    ul {
      overflow: hidden;
      @include responsive-w-min($tablet-bp) {
        float: right;
      }
    }
    li {
      position: relative;
//      float: left;
//      margin: 1px 6px 1px 6px;
      font-size: 15px;
      display: block;
      @include responsive-w-min($tablet-bp) {
        float:left;
        margin: 0 8px;
      }

      .fa {
        font-size: 18px;
        @include responsive-w-min($tablet-bp) {
          font-size: 15px;
        }
      }




      a {
        display: block;
        //            height: 28px;
        //            line-height: 28px;
        border-left-style: solid;
        border-right-style: solid;
        border-color: transparent;
        border-left-width: 3px;
        border-right-width: 3px;

        padding: 10px 15px;
        @include responsive-w-min($tablet-bp) {
          padding: 8px 15px;
        }
        color: $dark-dark-blue;
        @include pp-transition(background-color .25s ease-out, color .25s ease-out);

        span {
          padding: 0 2px;
          &.num-of-msg {
            width: 1.4em;
            display: inline-block;
            text-align: center;
          }
        }
//        span.link-label-fw {
//          @include responsive-w-max(699px) {
//            display: none;
//          }
//        }
        .unread-exists {
          @include pp-transition(color .25s ease-out, text-shadow .25s ease-out);

          text-shadow:
            1px 0px 0px red,
            1px 1px 0px black,
            -7px -2px 13px orangered,
            7px 2px 12px orangered;
          //              @include graditent-dark-blue-radial();
          color: orangered;
        }
      }

      a:hover {
//        background-color: $cibona-blue;
        .unread-exists {
          color: $light-blue-gray-light;
          text-shadow: 1px 0px 2px white,
          2px 0px 1px black,
          -2px 1px 1px black,
          -1px 1px 0px black,
          1px 0 4px #12408d,
          1px 1px 0 #12408d,
          2px 1px 1px #12408d,
          -4px -1px 5px black,
          5px 2px 6px black;
          //              text-shadow: 2px 0px 4px white, -2px 0px 4px white;
          //              color: $light-blue-gray-light;
        }
      }
      a.active {
//        background-color: $cibona-blue;
        border-color: $cibona-blue;
        color: $cibona-blue;
      }
      a:hover {
        background-color: $cibona-blue;
        color: $light-blue-gray-light;

      }


    }
  }
}


nav.user.search {
  position: relative;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  z-index: 9;
  @include pp-transition(all .25s ease-out);
  &.open {
    visibility: visible;
    opacity: 1;
  }
}