@import "../modules/_modules.import";


@import 'jquery-ui.custom_theme';
@import 'jquery-ui.datepicker.struct';

#content {
  clear: both;
  position: relative;
  @include pp-transition(padding .25s ease-out);

  .main-block-cont {
    position: relative;
    padding: 0;
  }

  .content-column {
    text-align: center;
  }


  .main-title-box {
    width: 100%;
    background-color: $dark-dark-blue;
    .flag {
      @include gradient-pole-black-blue-white-1();
      height: 6px;

      @include responsive-w-min(768px) {
        height: 7px;
      }
    }
    .page-title {
      text-align: center;
      font-family: MuseoSans;
      font-weight: 600;
      padding: 8px .75em 6px .75em;
      @include responsive-w-min($tablet-bp) {
        padding: 10px 1em 8px 1em;
      }
      h1{
        color: $light-blue-gray-light;
        font-size: 2em;
        text-transform: uppercase;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
        @include responsive-w-max($mobile-mid-bp) {
          font-size: 1.75em;
        }

      }
    }
  }

  .main-subtitle-box {
    width: 100%;
    background-color: $dark-dark-blue;
    .flag {
      @include gradient-pole-black-blue-white-1();
      height: 4px;
    }
    .page-title {
      text-align: center;
      font-family: MuseoSans;
      font-weight: 600;
      padding: 6px 8px 4px 8px;
      h2{
        color: $light-blue-gray-light;
        font-size: 1.5em;
//        text-transform: uppercase;
      }
    }
  }

  .main-content-box {
    width: 100%;
    background-color: white;

    .vertical-section {
      padding-top: 3px;
      padding-bottom: 3px;
      & > div {
        padding-top: 0.375em;
        padding-bottom: 0.375em;
        display: inline-block;

        &.std-item {
          padding: 0 0.5em;
        }
      }



      &.multirow {
        display: inline-block;
//        min-width: 35em;
      }

      &.multirow-special {
        display: inline-block;
        & > div {
          padding: 0.2em 0.7em;
        }
      }
      h3 {
        text-align: center;
        font-family: MuseoSans;
        font-weight: 600;
        /* font-style: italic; */
        @include font-size(16px);
        padding: 0.25em 1em;
        background-color: $dark-dark-blue;
        color: $light-blue-gray-light;
      }
      h4 a {
        color: $dark-dark-blue;
        @include pp-transition(background-color .25s ease-out, color .25s ease-out, border .25s ease-out);
        padding: 0 0.1em;
        cursor: pointer;
        font-style: bold;

        &:hover, &:focus {
          color: white;
          background-color: $dark-dark-blue;

        }
      }

    }

    .horizontal-section {
      padding-top: 3px;
      padding-bottom: 3px;
      & > div {
        padding-top: 0.375em;
        padding-bottom: 0.375em;
//        display: inline-block;

      }

      &.multirow {
        display: inline-block;
      }

      h3 {
        text-align: center;
        font-family: MuseoSans;
        font-weight: 600;
        /* font-style: italic; */
        @include font-size(16px);
        padding: 0.25em 1em;
        background-color: $dark-dark-blue;
        color: $light-blue-gray-light;
      }
      h4 a {
        color: $dark-dark-blue;
        @include pp-transition(background-color .25s ease-out, color .25s ease-out, border .25s ease-out);
        padding: 0 0.1em;
        cursor: pointer;
        font-style: bold;

        &:hover, &:focus {
          color: white;
          background-color: $dark-dark-blue;
        }
      }

    }


    .standard-f-section {
      padding-top: 3px;
      padding-bottom: 3px;
      min-width: 35em;
      & > div {
        padding-top: 0.375em;
        padding-bottom: 0.375em;

        &.std-item {
          padding: 0 0.5em;
        }
      }



      &.multirow {
        display: inline-block;
        //        min-width: 35em;
      }

      &.multirow-special {
        display: inline-block;
        & > div {
          padding: 0.2em 0.7em;
        }
      }
      h3 {
        text-align: center;
        font-family: MuseoSans;
        font-weight: 600;
        /* font-style: italic; */
        @include font-size(16px);
        padding: 0.25em 1em;
        background-color: $dark-dark-blue;
        color: $light-blue-gray-light;
      }
      h4 a {
        color: $dark-dark-blue;
        @include pp-transition(background-color .25s ease-out, color .25s ease-out, border .25s ease-out);
        padding: 0 0.1em;
        cursor: pointer;
        font-style: bold;

        &:hover, &:focus {
          color: white;
          background-color: $dark-dark-blue;

        }
      }

    }


    @import 'forms';
    @import 'tables';

    @import 'homepage';

    @import 'match';
    @import 'gmaps';

    @import 'stats';


    .std-item {
      .std-icon-holder {
        display: inline-table;
        vertical-align: top;
        .std-icon-cont {
          text-align: center;
          vertical-align: middle;
          display: table-cell;
          overflow: hidden;
          .f-thumbnail, .thumbnail {
            margin: 0 auto;
            .std-pic-cont {
              margin: 0 auto;
              width: 100%;
              height: 100%;
              display: inline-table;
              & > .v-align-helper {
                display: inline-block;
                height: 100%;
                vertical-align: middle;
              }
              & > img {
                max-width: 95%;
                max-height: 95%;
                vertical-align: middle;
              }
              & > .icon {
                display: table-cell;
                vertical-align: middle;
              }

            }
          }
        }
      }

      section.td.inline-cont {
        height: 100%;
        border: 0;
        display: inline-table;
        vertical-align: top;
        & > * {
          display: table-cell;
          vertical-align: middle;
        }
      }

    }





    @import '../content/_content.messages';
    @import '../content/_content.bookings';
    @import '../content/_content.games';

    //
    @import '../profile/_profile.home';


    @import "calendar";


  }

}

.loading-gif-div {
  z-index: 1100;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: $cibona-blue;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  i {
    font-size: 10em;
    display: inline-block;
    vertical-align: middle;
  }
}





