@import "../modules/_modules.import";

$std-input-height: 40px;
$std-textarea-height: 120px;

$std-input-width: 24em;
$large-input-width: 32em;
$medium-input-width: 20em;
$small-input-width: 14em;
$micro-input-width: 9em;
$nano-input-width: 6em;


$rb-input-w-mini: 6em;
$rb-input-w-midi: 10em;
$rb-input-w-std: 14em;
$rb-input-w-mega: 20em;
$rb-input-w-maxi: 28em;
$rb-input-w-kilo: 32em;



$label-line-height: 18px;
$input-padding-left: 20px;

$label-padding-left-delta: 28px;

.form-container {
  //  font-size: 0.95em;

  padding: 1em 0;
  @include responsive-w-min(560px) {
    padding: 1em 0.25em;
  }
  @include responsive-w-min($tablet-bp) {
    padding: 1em 1em;
  }
  .inputs-container {
    text-align: center;
  }


  input {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 15;
  }

  $padding-w1: 1em;
  $padding-w2: 2.5em;
  $padding-w3: 5em;
  .vertical-section, .horizontal-section {
//    background-color: rgba(180, 180, 20, .2); /// <<<
    @include responsive-w-max($large-input-width) {
      min-width: 100%;
    }

    & > div {
      width: 100%;
      padding: 0.375em 0;
//      background-color: rgba(80, 95, 120, .2); /// <<<

      position: relative;
      @include responsive-w-min(560px) {
        padding: 0.375em $padding-w1;
      }
      @include responsive-w-min(1024px) {
        padding: 0.375em $padding-w2;
      }
      //      @include responsive-w-min(1024px) {
      //        padding: 0.375em $padding-w3;
      //      }
    }

  }


  // inputs
  .std-text-input,
  .large-text-input,
  .medium-text-input,
  .small-text-input,
  .std-textarea-input{
    font-family: MuseoSans;
    font-weight: 600;

    width: 100%;

    font-size: 16px;

    @include pp-transition(all 0.15s ease-in-out);


    padding:   ($label-line-height/2 + 1px) 1.5em 3px $input-padding-left;
    border: 1px solid $dark-blue-dark;
    @include rounded(1.5em);
    outline: none;
    color: $dark-dark-blue;
    height: $std-input-height;
  }

  .std-text-input,
  .large-text-input,
  .medium-text-input,
  .small-text-input {

    height: $std-input-height;
  }
  .std-textarea-input {
    height: $std-textarea-height;
  }


  select.std-text-input,
  select.medium-text-input,
  select.small-text-input,
  select.large-text-input {
    cursor: pointer;

    option {
      font-family: 'Raleway',Arial,sans-serif;
      @include pp-appearance(none);
      padding: 0;
    }
  }


  // input width
  // responsive
  .medium-input-width {
    width: $medium-input-width;
    @include responsive-w-max($medium-input-width + 1em) {
      width:100%;
    }
    & + label {
      width: $medium-input-width;
      @include responsive-w-max($medium-input-width + 1em) {
        width:100%;
      }
    }
  }

  .std-input-width {
    width: $std-input-width;
    @include responsive-w-max($std-input-width + 1em) {
      width:100%;
    }
    & + label {
      width: $std-input-width;
      @include responsive-w-max($std-input-width + 1em) {
        width:100%;
      }
    }
  }
  .large-input-width {
    width: $large-input-width;
    @include responsive-w-max($large-input-width + 1em) {
      width:100%;
    }
    & + label {
      width: $large-input-width;
      @include responsive-w-max($large-input-width + 1em) {
        width:100%;
      }
    }
  }
  .small-input-width {
    width: $small-input-width;
    @include responsive-w-max($small-input-width + 1em) {
      width:100%;
    }
    & + label {
      width: $small-input-width;
      @include responsive-w-max($small-input-width + 1em) {
        width:100%;
      }
    }
  }
  .micro-input-width {
    width: $micro-input-width;
    @include responsive-w-max($micro-input-width + 1em) {
      width:100%;
    }
    & + label {
      width: $micro-input-width;
      @include responsive-w-max($micro-input-width + 1em) {
        width:100%;
      }
    }
  }

  .nano-input-width {
    width: $nano-input-width;
    @include responsive-w-max($nano-input-width + 1em) {
      width:100%;
    }
    & + label {
      width: $nano-input-width;
      @include responsive-w-max($micro-input-width + 1em) {
        width:100%;
      }
    }
  }

  .std-text-input + label,
  .large-text-input + label,
  .medium-text-input + label,
  .small-text-input + label,
  .std-textarea-input + label {
    //    background-color: rgba(0, 190, 60, .45); /// <<<<
    font-family: 'Raleway',Arial,sans-serif;
    font-weight: 100;
    display: inline-table;
    pointer-events: none;

    padding: 0;
    position: absolute;
    text-align: left;

    height: $std-input-height;
    top: 0.375em;
    left: 0;
    right: 0;
    bottom: 0.375em;
    margin: 0 auto;


    &:before {
      content: attr(data-info);
      display: inline-block;
      line-height: $label-line-height;
      white-space: nowrap;
      @include pp-transition(0.3s ease-in-out);
      background-color: white;
      color: $dark-blue-dark;
      text-align: left;
      padding: 1px 6px;
      font-style: italic;
      opacity: 0.7;
      position: relative;
      left: $label-padding-left-delta + $input-padding-left;
      //      background-color: rgba(195, 20, 30, .8); /// <<<
      top: ($std-input-height/2 - ($label-line-height/2 + 1px));
    }
    &.special-label {
      font-family: FontAwesome;
      &.availability-label {
        &:before {
          content: "\f0c0";
        }
      }
    }

    &:after {
      content: '\0020';

      display: inline-block;
      line-height: $label-line-height;
      white-space: nowrap;
      @include pp-transition(0.3s ease-in-out);

      color: $dark-blue-dark;
      width: 2.5em;
      font-family: FontAwesome;
      position: absolute;
      text-align: center;
      padding: 1px 6px;

      right: 0;
      top: ($std-input-height/2 - ($label-line-height/2 + 1px));
    }

    &.req:after {
      //      content: '\f069';
      content: '\f12a';
      color: $red-required;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);

    }

  }

  .std-text-input,
  .large-text-input,
  .medium-text-input,
  .small-text-input,
  .std-textarea-input {
    &:focus {
      border-color: $dark-blue-light;
      @include box-shadow(inset 0px 0px 1.5em 0.125em rgba(250, 235, 225, 0.1),
        0px 0px 1.3em 0.2em rgba(50, 40, 40, 0.40));
    }

//    &:valid, &:focus, &:read-only, &[readonly], &[readonly=""] {
//      & + label:before {
//        @include pp-transform-duration(0.35s);
//        @include pp-transform(translate(-($label-padding-left-delta), -($std-input-height/2)) scale(0.9, 0.9));
//        opacity: 1;
//        font-style: normal;
//        border-left: 1px solid $dark-blue-light;
//      }
//    }
//
//    &[readonly=""] {
//      & + label:before {
//        @include pp-transform-duration(0.35s);
//        @include pp-transform(translate(-($label-padding-left-delta), -($std-input-height/2)) scale(0.9, 0.9));
//        opacity: 1;
//        font-style: normal;
//        border-left: 1px solid $dark-blue-light;
//      }
//    }

    // in some browsers for some reason compiled css from nested scss above doesn't work
    &:valid + label:before {
      @include pp-transform-duration(0.35s);
      @include pp-transform(translate(-($label-padding-left-delta), -($std-input-height/2)) scale(0.9, 0.9));
      opacity: 1;
      font-style: normal;
      border-left: 1px solid $dark-blue-light;
    }
    &:focus + label:before {
      @include pp-transform-duration(0.35s);
      @include pp-transform(translate(-($label-padding-left-delta), -($std-input-height/2)) scale(0.9, 0.9));
      opacity: 1;
      font-style: normal;
      border-left: 1px solid $dark-blue-light;
    }
    &:read-only + label:before {
      @include pp-transform-duration(0.35s);
      @include pp-transform(translate(-($label-padding-left-delta), -($std-input-height/2)) scale(0.9, 0.9));
      opacity: 1;
      font-style: normal;
      border-left: 1px solid $dark-blue-light;
    }
    &[readonly=""] + label:before {
      @include pp-transform-duration(0.35s);
      @include pp-transform(translate(-($label-padding-left-delta), -($std-input-height/2)) scale(0.9, 0.9));
      opacity: 1;
      font-style: normal;
      border-left: 1px solid $dark-blue-light;
    }
    &[readonly] + label:before {
      @include pp-transform-duration(0.35s);
      @include pp-transform(translate(-($label-padding-left-delta), -($std-input-height/2)) scale(0.9, 0.9));
      opacity: 1;
      font-style: normal;
      border-left: 1px solid $dark-blue-light;
    }
  }



  input[type="radio"].rb-input,
  input[type="checkbox"].cb-input,
  input[type="file"].file-input {
//    opacity: 0.45;
    position: absolute;
    margin: 0;
    left: -7000em;
  }



  input[type="radio"].rb-input,
  input[type="checkbox"].cb-input,
  input[type="file"].file-input {

    & + .radio-div-cont, & + .checkbox-div-cont, & + .file-div-cont {
      font-family: MuseoSans;
      font-weight: 600;
      font-size: 16px;
      //      padding: 0.5em 0.5em 0.3em 1em;
      border: 1px solid $dark-blue-dark;
      @include rounded(1.5em);
//      @include box-sizing(content-box);
      outline: none;
      color: $dark-dark-blue;
      height: $std-input-height;
      display: inline-block;
      position: relative;
      margin: 0 0;

      @include responsive-w-min($large-input-width + 6em) {
        margin: 0 1em;
      }
      @include responsive-w-min(768px) {
        margin: 0 2em;
      }

      &.f-mini-input-width {
        width: $rb-input-w-mini;
        @include responsive-w-max($rb-input-w-mini + 4em) {
          width: 100%;
        }
      }
      &.f-midi-input-width {
        width: $rb-input-w-midi;
        @include responsive-w-max($rb-input-w-midi + 4em) {
          width: 100%;
        }
      }
      &.f-std-input-width {
        width: $rb-input-w-std;
        @include responsive-w-max($rb-input-w-std + 4em) {
          width: 100%;
        }
      }
      &.f-mega-input-width {
        width: $rb-input-w-mega;
        @include responsive-w-max($rb-input-w-mega + 4em) {
          width: 100%;
        }
      }
      &.f-maxi-input-width {
        width: $rb-input-w-maxi;
        @include responsive-w-max($rb-input-w-maxi + 4em) {
          width: 100%;
        }
      }
      &.f-kilo-input-width {
        width: $rb-input-w-kilo;
        @include responsive-w-max($rb-input-w-kilo + 4em) {
          width: 100%;
        }
      }
    }

    & + .radio-div-cont > label,
    & + .checkbox-div-cont > label,
    & + .file-div-cont > label.button-label {
      font-family: 'Raleway', Arial, sans-serif;
      font-weight: normal;
      position: relative;
      display: inline-block;
      height: inherit;
      cursor: pointer;
      @include rounded(1.5em);
      overflow: hidden;
      white-space: nowrap;
      margin: 0;
      width: 100%;
      //      text-align: left;
      color: $dark-blue-dark;
      //      background-color: rgba(50, 90, 250, .3); /// <<<

      &:before {
        font-family: FontAwesome;
        left: 0.25em;
        color: $dark-blue-dark;
        text-align: center;
        width: 1.5em;
        position: absolute;
        line-height: $std-input-height - 2px;
        font-size: 24px;
        //        background-color: rgba(darkorange, 0.75);
      }

      //      &:after {
      //        font-family: FontAwesome;
      //        right: 0em;
      //        color: $dark-blue-dark;
      //        text-align: center;
      //        width: 1.5em;
      //        position: absolute;
      //        //        font-size: 1.5em;
      //        line-height: $std-input-height - 2px;
      //        /* vertical-align: middle; */
      //        //        top: calc(50% - 0.75em);
      //        font-size: 24px;
      //        background-color: rgba(darkorange, 0.75);
      //      }

    }

    & + .radio-div-cont > label,
    & + .checkbox-div-cont > label {
      &:before {
        content: '\f1db';
        @include pp-transition(all 0.30s);
      }

      //      &:after {
      //        content: '\f011 ';
      //        @include pp-transition(all 0.30s);
      //      }

      & > span {
        line-height: $std-input-height - 2px;
        display: inline-block;
        //        width: 4em;
        //        padding: 0 0.8em 0 2.2em;
        text-align: center;
        position:relative;
        //        top: 3px;
      }
    }

    & + .file-div-cont > label {
      @include pp-transition(all 0.40s);
      overflow: hidden;
      &.button-label {
        &:before {
          content: '\f0c2';
          @include pp-transition(all 0.40s);
        }
      }
      & > span {
        line-height: $std-input-height - 2px;
        display: inline-block;
        text-align: center;
        position:relative;
      }

      &.selected-file {
        font-family: 'Raleway',Arial,sans-serif;
        font-weight: normal;
        position: absolute;
        display: inline-block;
        height: inherit;
        text-align: left;
        & > span {
          display: inline-table;
          white-space: nowrap;
          & > * {
            display: table-cell;
            vertical-align: middle;
          }
          i {
            padding: 0 0.25em 0;
          }

        }
      }
    }



    &:focus + .radio-div-cont,
    &:focus + .checkbox-div-cont,
    &:focus + .file-div-cont {
      border-color: $dark-blue-light;
      @include box-shadow(inset 0px 0px 1.5em 0.125em rgba(250, 235, 225, 0.1),
        0px 0px 1.3em 0.2em rgba(50, 40, 40, 0.40));
    }



    &:not(:checked) + .radio-div-cont > label:hover:before,
    &:not(:checked) + .checkbox-div-cont > label:hover:before {
      color: $dark-blue-light;
      content:  '\f00c'; //'\f05d';
    }
    &:checked + .radio-div-cont > label,
    &:checked + .checkbox-div-cont > label {
      &:before {
        content: '\f058';
        color: $dark-dark-blue;
      }
      color: $dark-dark-blue;
      & > span {
        font-family: MuseoSans;
        font-weight: 600;
      }
    }
    &:not(:valid) + .file-div-cont > label.button-label:hover:before {
      color: $dark-blue-light;
      content:  '\f0ee'; //'\f05d';
    }

  }

  input[type="file"].file-input {
    &:valid + .file-div-cont {
      text-align: left;
      padding-left: 0.75em;
      padding-right: 0.75em;

      & > label.button-label {
        width: 40%;
        text-align: right;
        @include responsive-w-max(559px) {
          text-align: left;
          &:before {
            content:  none !important;
          }
        }
        &:before {
          content:  '\f0ee';
        }

      }

      & > label.selected-file {
        width: 55%;
        display: inline-block;
        overflow: hidden;
        right: 0.75em;

        //        width: initial;
        padding: 0 0.75em;
      }
    }

  }


  .selected-span-cont {
    position:relative;

    .remove-selection {

      position: relative;
      width: 2em;
      font-size: 1.5em;
      /* top: 0.5em; */
      cursor: pointer;
      display: inline-block;
      /* left: 4em; */
      z-index: 5;

      &:hover {
        color: $red-close-icons;
      }
    }
  }

  .player-selector {
    .remove-selection {
      position: absolute;
      width: 2em;
      font-size: 1.5em;
      top: .5em;
//      right: -50px;
      cursor: pointer;
      &:hover {
        color: $red-close-icons;
      }
    }
  }


}







.submitter-cont {
  padding: 3px 0.5em;
  @include responsive-w-min(768px) {
    padding: 3px 2em;
  }
  & > div {
    font-family: MuseoSans;
    font-weight: 600;
    text-align: center;
  }

  .submitter {
    width: 12em;
    margin: 5px 10px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    @include pp-transition(all 0.20s cubic-bezier(0.295, 1.055, 0.500, 0.995));
    @include pp-transition-timing(cubic-bezier(0.295, 1.055, 0.500, 0.995));
    @include rounded(1.5em);
    border: 1px solid black;
    @include box-sizing(border-box);
    &.submit {
      width: 15em;
    }
    span, a {
      color: $light-blue-gray-light;
      padding: 0.5em 0.5em;
      display: block;
      //      height: 100%;
    }

    &.bbb-flag-v-cibona-blue.submit {
      &:hover, &:focus {
        @include box-shadow(inset 0 0 8px rgba(0,0,0,0.8), 0 0 16px $dark-blue-dark);
      }
      &:active {
        @include box-shadow(inset 0 0 12px rgba(0,0,0,1), 0 0 18px $dark-blue-dark);
        span, a {
          color: white;
        }
      }
    }
    &.bbb-flag-v-cibona-blue.cancel {
      @include gradient-vertical-bbb-flag-white();
      span,a {
        color: $dark-dark-blue;
      }
      &:hover, &:focus {
        @include box-shadow(inset 0 0 8px rgba(0,0,0,0.8), 0 0 12px $red-required);
      }
      &:active {
        @include box-shadow(inset 0 0 12px rgba(0,0,0,0.8), 0 0 18px $red-required);
        span, a {
          color: black;
        }
      }
    }
  }
}


$message-line-height: 3em;
div.info {
  text-align: center;
  .status-container {
    display: inline-table;
    width: 100%;
    text-align: center;
    min-height: $message-line-height;
    height: $message-line-height;
    border-bottom: 2px dashed $dark-dark-blue;
    //    border-top: 2px dashed $dark-dark-blue;
    @include pp-transition(all 0.5s ease);

    &.successful-validation {
      background-color: $cibona-blue;
      color: $light-blue-gray-light;
      border-color: $light-blue-gray-light;
      h4 {
        color: $light-blue-gray-light;
      }
    }

    &.warning-msg {

      width: 100%;
      //      color: #fff;

      i.fa.warning {
        display: table-cell;
        vertical-align: middle;
      }
      i.status.fa {
        color: #fff;
        @include gradient-status-bg(15px);
      }
      &.live i.status.fa {
        background-color: $orange-warning;
      }

      &.error-msg i.status.fa {
        background-color: $red-error;
      }

      &.success-msg i.status.fa {
        background-color:$green-success;
      }
      &.status-msg i.status.fa {
        background-color: $blue-green-status;
      }
    }

    i.status.fa {
      vertical-align: middle;
      display: table-cell;
      width: 3em;
      &.close-info {
        cursor: pointer;
      }

      &:hover {
        color: $red-close-icons;
      }
    }


    h4 {
      display: inline-block;
      vertical-align: middle;
      font-family: MuseoSans;
      font-weight: 600;
      text-align: center;
      padding: 0.25em 1em 0.25em 1em;
      min-height: $message-line-height;
      height: $message-line-height;
      line-height: 125%;
      font-size: 16px;
    }

    .pp-icon-spin, .fuconz-spinner {
      font-size: 1.40em;
      color: $dark-dark-blue;
      vertical-align: middle;
      width: 2em;
      &.successful-validation {
        color: $light-blue-gray-light;
      }
    }

    &.live{
      h4, .fa {
        color: $dark-dark-blue;
        display: table-cell;
        vertical-align: middle;
      }
      &.successful-validation {
        h4, .fa {
          color: $light-blue-gray-light;
        }
      }
    }


    &.msg {
      min-height: 3em;
      height: 3em;
      vertical-align: middle;

      & > h4 {
        min-height: 2em;
        height: 2em;
        vertical-align: middle;
        display: table-cell;
        //        padding-right: 0;
        color: $dark-dark-blue;
        &.successful-validation {
          color: $light-blue-gray-light;
        }
      }

    }

  }
}

