@import '../modules/_modules.import';

$team-one-color: $light-blue-gray-dark;
$team-two-color: $dark-dark-blue;
$neutral-color-1: $cibona-blue;

@import '../match/_match.players';

@import '../match/_match.field';


.match-container.main {
  &.mega {
    @include gradient-dark-blue-radial;
    * {
      box-sizing: border-box;
    }
  }



  .velocity-animating {
    @include pp-transition(none !important);
  }
  .main {
    min-height: $main-field-h;
    overflow: hidden;
  }
  main {
    opacity: 0;
    position: relative;
    pointer-events: none;
  }

  .loading-info-cont {
    opacity: 0;
    .loading {
      width: 100%;
      padding: 1em 1em;
      background-color: rgba($cibona-blue, .9);
      color: $light-blue-gray-light;
      @include font-size(13px);
      box-sizing: border-box;
      margin: auto;
    }
  }

  .stage {
    position: relative;
    width: 100%;
    height: 100%;
//    z-index: 1;
  }
  .world {
    position: relative;
    margin: 0 auto;
    max-width: 40em;
    width: 100%;
    height: $main-field-h - 3em;
    top: -3em;
//    background-color: rgba(cadetblue, .35);
//    z-index: 1;
  }




  .switcher {
//    height: 2.5em;
    padding: 0.5em 0.25em;
    @include responsive-w-min(400px) {
      padding: 0.5em 0.625em;
    }
    text-align: center;
    z-index: 5;
    position: relative;
  }
  .switch-btn {
    font-family: MuseoSans;
    width: 10em;
    padding: 6px 12px;

    @include responsive-w-min(400px) {
      width: 12em;
      padding: 6px 15px;
    }
    font-weight: 600;
    display: inline-block;
    border: solid 1px $cibona-blue;
    border-radius: 5px;
    text-align: center;
    color: $light-blue-gray-light;
    text-decoration: none;
    opacity: 1;
    font-size: 12px;
    @include pp-transition(all 0.15s);

    &.disabled {
      cursor: default;
    }

    &:not(.disabled):hover {
      &.teamOne {
        &:hover {
          @include box-shadow(0px 0px 0.5em 2px $team-one-color);
        }
      }
      &.teamTwo {
        &:hover {
          @include box-shadow(0px 0px 0.5em 2px $team-two-color);
        }
      }
    }
    &.teamOne {
      border-color: $team-one-color;
      &.disabled {
        background-color: $team-one-color;
        color: $team-two-color;
      }
      border-left-width: 25px;
      border-right-width: 15px;
      margin-right:4px;
    }
    &.teamTwo {
      border-color: $team-two-color;
      &.disabled {
        background-color: $team-two-color;
        color: $team-one-color;
      }
      border-right-width: 25px;
      border-left-width: 15px;
      margin-left: 4px;
    }

    &:first-child {
      border-radius: 1em 0 0 1em;
    }
    &:last-child {
      border-radius: 0 1em 1em 0;
    }
  }


  .game-data-holder {
    padding: 0.5em;
    text-align: center;
    z-index: 5;
    position: relative;
    margin: 0 auto;
//    width: 35em;

    .tr {
      background-color: $light-blue-gray-light;
      color: $dark-dark-blue;
      font-family: MuseoSans;
      font-weight: 600;
      display: inline-block;

      margin-bottom: 0.25em;
      padding: 0 0.375em;

      width: 100%;
      max-width: 28em;

      @include responsive-w-min(1024px) {
        margin-bottom: 0.25em;
        padding: 0 0.625em;
        width: 30em;
        margin-left: 1em;
        margin-right: 1em;
      }
      text-align: left;

      & > div {
        height: 2em;
      }
      .td {
        display:inline-table;
        height: 100%;
        vertical-align: top;
        & > * {
          display: table-cell;
          vertical-align: middle;
        }
        span {
          font-size: 0.95em;
        }

        .fw-std {
          @include responsive-w-max(1023px) {
            display: none;
          }
        }
        .fw-mid {
          display: none;
          @include responsive-w-min(570px) {
            display: table-cell;
          }
          @include responsive-w-min(1024px) {
            display: none;
          }
        }
        .fw-min {
          display: table-cell;
          @include responsive-w-min(570px) {
            display: none;
          }

        }

        .icon-holder {
          width: 3em;
          height: 2em;
          background-color: $light-blue-gray-light;

          .game-icon-cont {
            .game-icon {
              width: 2.25em;
              position: relative;
              height: 2em;
              margin: 0 auto;

              .icon, .icon-o {
                font-size: 1.7em;
                color: $dark-dark-blue;

                &.victory {
                  color: $green-badge-transparent-overlay;
                }
                &.loss {
                  color: $red-loss;
                }
                &.draw {
                  color: $orange-warning;
                }
                &.fa-question {
                  color: $cibona-blue-transp10;
                }
              }

              .pic-cont {
                margin: 0 auto;
                width: 100%;
                height: 100%;
                display: inline-table;

                & > .icon {
                  vertical-align: middle;
                  display: table-cell;
                }
              }
              .overlay-pic-cont {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                display: inline-table;

                clip: rect(auto 22px auto auto); /* IE4 to IE7 */
                clip: rect(auto, 22px, auto, auto);
                & > .icon-o {
                  vertical-align: middle;
                  display: table-cell;
                }
              }
            }
          }
        }

      }
      .left-th {
        width: 6em;
        text-align: left;
        span {
          font-size: 0.9em;
        }
      }
      &.result {
        .left-th {
          width: 10em;

        }
      }
    }

  }



  .team {
    position: absolute;
    width: 100%;
    height: 20em;
    //    @include pp-transform-style(preserve-3d);
//    z-index: 3;
    &.js-stub-team  {
//      z-index: 2;
    }


  }


}