@import 'modules/modules.import';


.profile-container.main {
  &.mega {
    @include gradient-dark-blue-radial;
    * {
      box-sizing: border-box;
    }
  }

  .velocity-animating {
    @include pp-transition(none !important);
  }
  .main {
    overflow: hidden;
  }
  main {
    opacity: 0;
    position: relative;
    pointer-events: none;
  }




  .loading-info-cont {
    opacity: 0;
    .loading {
      width: 100%;
      padding: 1em 1em;
      background-color: rgba($cibona-blue, .9);
      color: $light-blue-gray-light;
      @include font-size(13px);
      box-sizing: border-box;
      margin: auto;
    }
  }


  #unread-messages, #hot-bookings {
    vertical-align: top;
    margin-top: 1em;
    display: inline-block;


    font-family: MuseoSans;
    font-weight: 700;
    color: $light-blue-gray-light;

    .std-item {
      &.subtitle {
        display: inline-block;
        margin: 0 auto .5em auto;

        & > div {
          display: inline-table;
          height: 2em;
          vertical-align: top;
          background-color: $light-blue-gray-light;

          &:first-of-type {
            padding-left: 1em;
          }
          &:last-of-type {
            padding-right: 3em;
          }
        }
        .subtitle-holder {
          color: $dark-dark-blue;
          span {
            display: table-cell;
            vertical-align: middle;
            padding: 0px 8px;

          }
        }
        .icon-holder {
          width: 3em;
          .message-icon-cont {
            .message-icon {
              width: 1.75em;
              height: 1.75em;
              .pic-cont {
                & > .icon {
                  color: $dark-dark-blue;
                  font-size: 1em;
                }
              }
            }
          }
        }
      }
    }


    .external-link-holder {

      display: block;
      width: $message-td-w + $has-been-read-status-td-w - 2em;
      @include pp-transition(all 0.35s ease-out);
      background-color: $cibona-blue;
      color: $light-blue-gray-light;
      text-align: center;
      padding: 3px 0;
      margin: 1em;

      &:hover {
        background-color: $light-blue-gray-light;
        color: $dark-dark-blue;
      }
    }
  }


  $message-td-w: 28em;
  $has-been-read-status-td-w: 3em;
  
  #unread-messages {
    width: $message-td-w + $has-been-read-status-td-w;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;


    .std-item {
      &.profile-home-message {
        width: $message-td-w + $has-been-read-status-td-w;
        display: block;
        text-align: center;

        .inner-box {
          padding: 6px 0 4px 0;
        }

        &:not(:last-of-type) {
          border-bottom: 2px dashed $light-blue-gray-light;
        }


        section.td {
          border: 0;
          display: table-cell;
          vertical-align: top;

          &.message {
            width: $message-td-w;
            text-align: left;
            .time-label-holder {
              width: 14em;
              height: 1.75em;
              display: inline-table;
              position: relative;
              padding: 0 0.5em;
              box-sizing: border-box;

              @include pp-transition(all 0.45s ease-out);
              color: $dark-dark-blue;
              > span {
                display: table-cell;
                vertical-align: middle;
                font-size: 0.80em;
              }
            }

            .message-holder {
              padding: 0.25em 0.5em;
              color: $light-blue-gray-light;

              // styles of message itself:
              span {
                font-size: 0.95em;
              }

              ol, ul {
                list-style: square inside none;
                text-indent: -1em;
                padding-left: 1em;
                margin-top: 0.25em;
                margin-bottom: 0.25em;
                font-size: 0.95em;
              }

              .std-item.sender {
                margin-top: 4px;
                margin-left: 6px;
                min-width: 6em;
                padding: 3px 2px 2px 2px;
                border-top: 1px solid $light-blue-gray-light;
                display: inline-block;
              }
              .msg-sender-icon-holder {
                width: 2.375em;
                height: 2.375em;
                background-color: $light-blue-gray-dark;
                color: $light-blue-gray-light;
                margin-left: 6px;
                @include rounded(10em);
                .pic-cont > img {
                  @include rounded(10em);
                }
              }
              .sender-label {
                display: inline-table;
                height: 2.375em;
                vertical-align: top;
                & > span {
                  display: table-cell;
                  vertical-align: middle;
                  padding: 0px 6px;
                  font-size: 0.9em;
                  opacity: 0.9;
                }
              }


              .std-item.active-booking-user {
                margin-top: 4px;
                margin-left: 6px;
                min-width: 6em;
                padding: 3px 2px 2px 2px;
                display: inline-block;
                vertical-align: top;
              }
              .active-booking-user-icon-holder {
                width: 2.375em;
                height: 2.375em;
                background-color: $light-blue-gray-dark;
                color: $dark-dark-blue;
                margin-left: 6px;
                @include rounded(10em);
                .pic-cont > img {
                  @include rounded(10em);
                }
              }
              .active-booking-user-label {
                display: inline-table;
                height: 2.375em;
                vertical-align: top;
                & > span {
                  display: table-cell;
                  vertical-align: middle;
                  padding: 0px 6px;
                  font-size: 0.9em;
                }
              }

            }
          }

          &.has-been-read-status {
            width: $has-been-read-status-td-w;
            .status-holder {
              //          background-color: maroon;
              display: inline-table;
              width: 100%;
              height: 100%;
              a {
                line-height: 1.75em;
                width: $has-been-read-status-td-w;
                cursor: pointer;
                display: block;
                position: relative;
                @include pp-transition(all 0.3s ease-out);

                span {
                  vertical-align: middle;
                  @include pp-transition(all 0.3s ease-out);
                }
                span.selector {
                  color: rgba($light-blue-gray-light, .6);
                  font-size: 1.35em;
                  width: 100%;
                  text-align: left;
                  margin-left: .5em;
                }

                &.active:hover {
                  span.selector {
                    color: $light-blue-gray-light;
                    &:not(.fa-spin):before {
                      content: '\f046';
                    }
                  }
                }
              }
            }
          }
        }
        &.has-not-been-read {
          section.td.message .time-label-holder {
            background-color: $cibona-blue;
            color: white;
          }
        }
        &.has-been-read {
          section.td.message .time-label-holder {
            color: $dark-dark-blue;
            background-color: $light-blue-gray-light;
          }
        }
      }
    }
  }




  $booking-icon-td-w: 3em;
  $booking-label-td-w: 15em;
  $booking-info-td-w: 2.5em;
  $booking-cancelation-td-w: 8em;

  $booking-std-row-h: 2.375em;
  #hot-bookings {
    width: $booking-icon-td-w + $booking-label-td-w + $booking-info-td-w + $booking-cancelation-td-w;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;

    .bookings-label-holder {
      text-align: left;
      .bookings-label {
        width: 14em;
        height: 1.75em;
        display: inline-table;
        position: relative;
        padding: 0 0.5em;
        box-sizing: border-box;
        text-align: left;

        @include pp-transition(all 0.45s ease-out);
        background-color: $cibona-blue;
        color: white;
        > span {
          display: table-cell;
          vertical-align: middle;
          font-size: 0.80em;
        }
      }
    }

    .std-item {
      &.profile-hot-booking {
        width: $booking-icon-td-w + $booking-label-td-w + $booking-info-td-w + $booking-cancelation-td-w;
        display: block;
        text-align: center;

        .inner-box {
          padding: 4px 0 3px 0;
        }
        section.td {
          border: 0;
          display: table-cell;
          vertical-align: top;
          &.icon {
            width: $booking-icon-td-w;

            .icon-holder {
              width: $booking-icon-td-w;
              height: $booking-std-row-h;
              .booking-icon-cont {

                .booking-icon {
                  width: 2em;
//                  background-color: cadetblue;
                  position: relative;
                  .pic-cont {
                    & > .icon {
                      font-size: 1.5em;
                    }
                  }
                  .overlay-pic-cont {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                  }
                }
              }
            }

          }
          &.label {
            width: $booking-label-td-w;
            span {
              font-size: 0.95em;
            }
          }
          &.info {
            width: $booking-info-td-w;
            position: relative;

            .info-overlay, .info-overlay-right {
              display: none;
              position: absolute;
              top: 0;
              height: $booking-std-row-h;
              z-index: 2;
              .info-holder {
                position: relative;
                display: inline-table;
                height: 100%;

              }
            }
            .icon-holder {
              width: $booking-info-td-w;
              height: $booking-std-row-h;
              cursor: pointer;

              .info-icon-cont {
                .info-icon {
                  width: 2em;
                  height: $booking-std-row-h;

                  position: relative;
                  .pic-cont {
                    & > .icon {
//                      font-size: 1.25em;
                      color: $light-blue-gray-dark;
                      @include pp-transition(all .15s ease-out);
                    }
                  }
                }
              }
              &:hover {
                .pic-cont > .icon {
                  text-shadow: 0px 0px 0.3em $light-blue-gray-light;
                }
              }
            }
          }

          &.cancelation {
            width: $booking-cancelation-td-w;
            position: relative;

            .icon-holder {
              width: $booking-cancelation-td-w;
              height: $booking-std-row-h;
              cursor: pointer;
              @include pp-transition(all .25s ease-out);

              .cancel-label {
                text-align: right;
                vertical-align: middle;
                display: table-cell;
                overflow: hidden;
                font-size: 0.9em;
              }
              .cancelation-icon-cont {

                .cancelation-icon {
                  width: 2em;
                  height: $booking-std-row-h;
                  position: relative;
                  .pic-cont {
                    & > .icon {
                      @include pp-transition(all .25s ease-out);
                    }
                  }
                }
              }
              &:hover {
                background-color: $dark-dark-blue;
                color: $light-blue-gray-light;
                .pic-cont > .icon {
                  color: $red-close-icons;
                }
              }
            }
          }
        }




        &.booking-not-allowed {
          .td.info {
            .info-overlay {
              right: $booking-info-td-w;
              color: $dark-dark-blue;
              background-color: $light-blue-gray-light;
              width: $booking-label-td-w;
              .info-holder {
                width: $booking-label-td-w;
                span {
                  display: table-cell;
                  vertical-align: middle;
                  @include font-size(14px);
                }
              }
            }
          }

          .td.icon .icon-holder{
            background-color: $light-blue-gray-light;

            .booking-icon {
              height: $booking-std-row-h;
              .pic-cont {

              }
              .overlay-pic-cont {
                .icon-o {
                  font-size: 2em;
                  color: $dark-dark-blue;

                  &.fa-check {
                    color: $green-badge-transparent-overlay;
                  }
                  &.fa-times {
                    color: $red-badge-transparent-overlay;
                  }
                  &.fa-question {
                    color: $cibona-blue-transp10;
                  }
                }
              }
            }
          }
        }


        &.booking-ended {
          .td.icon .icon-holder {
            background-color: $dark-dark-blue;

            .booking-icon {
              height: $booking-std-row-h;

              .pic-cont {
                .icon {
                  color: $light-blue-gray-light;

                  font-size: 1.25em;
                  &.fa-check {
                    color: $green-badge-transparent-overlay;
                  }
                  &.fa-times {
                    color: $red-badge-transparent-overlay;
                  }
                  &.fa-question {
                    color: $light-blue-gray-light;
                  }
                }
              }
            }
          }
        }



        &.booking-allowed {

          .td.info {
            .info-overlay, .info-overlay-right {
              color: white;
              background-color: $cibona-blue;
              .info-holder {
                height: 100%;
                display: inline-table;
                .datetime-holder, .availability-holder {
                  display: block;
                }
                .datetime-holder {
                  .datetime {
                    text-align: center;
//                    display: table-cell;
//                    vertical-align: middle;
                    @include font-size(14px);
                    span.time {
                      font-weight: 300;
                    }
                  }
                }
              }
            }
            .info-overlay {
              right: $booking-info-td-w;
              width: $booking-label-td-w;

              .info-holder {
                width: $booking-label-td-w;

                text-align: left;

                .datetime-holder {
                  width: $booking-label-td-w;
                }
                .availability-holder {
                  width: $booking-label-td-w;
                  text-align: center;

                  & > span {
                    text-align: center;
                    @include font-size(14px);
                  }
                }
              }

            }

            .info-overlay-right {
              left: $booking-info-td-w;
              width: $booking-cancelation-td-w;

              .info-holder {
                width: $booking-cancelation-td-w;
                text-align: left;

                .datetime-holder {
                  width: $booking-cancelation-td-w;
                }
              }

            }

          }

          .td.icon .icon-holder {
            background-color: $cibona-blue;

            .booking-icon {
              height: $booking-std-row-h;
              .pic-cont {
                color: white;
              }
              .overlay-pic-cont {
                .icon-o {
                  color: $light-blue-gray-light;
                  font-size: 0.85em;
                  position: absolute;
                  right: -10px;

                  &.fa-exclamation {
//                    color: $green-badge-transparent-overlay;
                  }
                }
              }
            }
          }
        }


      }

    }
  }

  .general-holder {
//    text-align: center;
    margin: 0 auto;
    width: $booking-icon-td-w + $booking-label-td-w + $booking-info-td-w + $booking-cancelation-td-w + $message-td-w + $has-been-read-status-td-w + 4em;
  }

}