@import "modules/modules.import";

#content {
  clear: both;
  position: relative;
  @include pp-transition(padding .25s ease-out);

  .main-block-cont {
    position: relative;
    padding: 0 0 10px 0;
  }

  .main-block-cont:first-child, .main-block-cont.first {
//    padding-top: 50px;
  }

  .main-title-box {
    width: 100%;
    background-color: $dark-dark-blue;
    .flag {
      @include gradient-pole-black-blue-white-1();
      height: 7px;
    }
    .page-title {
      text-align: center;
      font-family: MuseoSans;
      font-weight: 500;
      padding: 10px 0 8px 0px;
      h1{
        color: $light-blue-gray-light;
        font-size: 2em;
        text-transform: uppercase;
      }
    }
  }

  .main-content-box {
    width: 100%;
    background-color: $main-content-bg-color;

    .vertical-section {
      padding: 3px 0;

      & > div {
        padding: 0.25em 0.5em;
        &.std-item {
          padding: 0 0.5em;
        }
      }

      &.dashed-spacer, .dashed-spacer {
        border-bottom: 2px dashed $dark-dark-blue;
        box-sizing: border-box;
      }

      &.multirow {
        display: inline-block;
        min-width: 35em;
      }

      &.multirow-special {
        display: inline-block;
        height: 3.5em;
        & > div {
          padding: 0.2em 0.7em;
        }
      }
      h3 {
        text-align: center;
        font-family: MuseoSans;
        font-weight: 700;
        /* font-style: italic; */
        font-size: 1em;
        padding: 0.25em 1em;
        background-color: $dark-dark-blue;
        color: $light-blue-gray-light;
      }
      h4 a {
        color: $dark-dark-blue;
        @include pp-transition(background-color .25s ease-out, color .25s ease-out, border .25s ease-out);
        padding: 0 0.1em;
        cursor: pointer;

        &:hover, &:focus {
          color: white;
          background-color: $dark-dark-blue;

        }
      }

    }


    .home-container.main {
      &.mega {
        @include gradient-horizontal-bbb-flag-cibona-blue;

        min-height: 24em;
        padding: 2em 0;
        position: relative;
        & > div.main-img-holder {
          height: 18em;
          min-width: 960px;
          margin-top: 3em;
          opacity: 0;
          overflow:hidden;
          & > img {
            float: right;
          }
        }

        .homepage-cont-holder {
          position: absolute;
          top: 0;
          margin: 0 auto;
          width: 50em;
          left: 0;
          right: 0;
          color: white;
          padding-top: 6em;

          opacity: 0;
          .subtitle-std {
            padding: 1em 1em;

            @include font-size(13px);
            box-sizing: border-box;
            &.lev1 {
              background-color: rgba($cibona-blue, .8);
              color: $light-blue-gray-light;
              font-family: MuseoSans;
              font-weight: 500;
              text-transform: uppercase;
            }
            &.lev2 {
              background-color: $light-blue-gray-light;
              color: $dark-dark-blue;
              padding-left: 2em;
              padding-bottom: 0.5em;
            }

            &.lev3 {
              text-align: center;
              padding: 0.2em 0.5em 1em 0.5em;
              i.fa {
                font-size: 3em;
                color: $light-blue-gray-light;

                &:first-of-type {
                  font-size: 2.9em;
                  transform: rotateZ(20deg);
                  padding: 0.2em 0.1em 0.1em 0.4em;
                }
                &:nth-of-type(2) {
                  transform: rotateZ(5deg);
                  padding: 0.1em 0.3em 0em 0.5em;
                }
                &:nth-of-type(3) {
                  transform: rotateZ(345deg);
                  padding: 0.1em 0.1em 0em 0.6em;
                  font-size: 2em;
                }
                &:nth-of-type(4) {
                  transform: rotateZ(20deg);
                  padding: 0.0em 0.0em 0em 0.3em;
                  font-size: 3.2em;
                }
                &:nth-of-type(5) {
                  padding: 0.3em 0.2em 0em 0.4em;
                  font-size: 2.7em;
                }
              }
            }
          }
        }
      }
    }


      .std-item {
      .std-icon-holder {
        display: inline-table;
        .std-icon-cont {
          text-align: center;
          vertical-align: middle;
          display: table-cell;
          overflow: hidden;
          .thumbnail {
            margin: 0 auto;
            .std-pic-cont {
              margin: 0 auto;
              width: 100%;
              height: 100%;
              display: inline-table;
              & > .v-align-helper {
                display: inline-block;
                height: 100%;
                vertical-align: middle;
              }
              & > img {
                max-width: 95%;
                max-height: 95%;
                vertical-align: middle;
              }
              & > .icon {
                display: table-cell;
                vertical-align: middle;
              }

            }
          }
        }
      }


    }

    @import 'content.messages';

    @import 'content.bookings';

    @import 'profile.home';

    .loading-gif-div {
      z-index: 80;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      color: $cibona-blue;
      &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
      i {
        font-size: 10em;
        vertical-align: middle;
        display: inline-block;
        vertical-align: middle;
      }
    }




  }

}






::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-track {
  background-color: white;
  border-left: 1px solid $light-blue-gray-dark;
}
::-webkit-scrollbar-thumb {
  @include pp-transition(background-color .30s ease-out, color .30s ease-out);
  background-color: $cibona-blue;
  @include rounded(8px);
  cursor: pointer;

}
::-webkit-scrollbar-thumb:hover {
  background-color: $cibona-blue-dark-overlay;
}

::-webkit-scrollbar-thumb:active {
  background-color: $dark-dark-blue;
}