@import "modules/modules.import";


.left-fl {
  float: left;
}
.right-fl {
  float: right;
}

.text-centered {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}


.black-horiz-spacer-5 {
  @include horizontal-spacer(5px, #000000);
}

.black-horiz-spacer-10 {
  @include horizontal-spacer(10px, #000000);
}

.black-horiz-spacer-20 {
  @include horizontal-spacer(20px, #000000);
}


.inner-70pct {
  @include inner-centered-stretched(70%);
}

.empty-horiz-spacer-5 {
  width: 100%;
  height: 5px;
}

.empty-horiz-spacer-10 {
  width: 100%;
  height: 10px;
}


.empty-horiz-spacer-20 {
  width: 100%;
  height: 20px;
}

.bbb-cross-flag {
  @include gradient-dinamo-cross-flag();
}
.bbb-flag-v {
  @include gradient-vertical-bbb-flag();
}
.bbb-flag-v.reversed {
  @include gradient-vertical-bbb-flag-reversed();
}
.bbb-flag-h {
  @include gradient-horizontal-bbb-flag();
}

.bbb-flag-v-cibona-blue {
  @include gradient-vertical-bbb-flag-cibona-blue();
}

.white {
  color: white;
}
.white-bg {
  background-color: white;
}

.light-blue-gray-l {
  color: $light-blue-gray-light;
}

.light-blue-gray-d {
  color: $light-blue-gray-dark;
}

.dark-dark-blue {
  color: $dark-dark-blue;
}

.dark-blue-light {
  color: $dark-blue-light;
}

.dark-blue-dark {
  color: $dark-blue-dark;
}

.light-blue-gray-l-bg {
  background-color: $light-blue-gray-light;
}

.light-blue-gray-d-bg {
  background-color: $light-blue-gray-dark;
}

.dark-dark-blue-bg {
  background-color: $dark-dark-blue;
}

.dark-blue-light-bg {
  background-color: $dark-blue-light;
}

.dark-blue-dark-bg {
  background-color: $dark-blue-dark;
}

a.underline-link {
  text-decoration: underline;
}

.disabled-button, .disabledbutton {
  pointer-events:none;
}

.flexbox {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}