{% extends "admin/templates/default.twig" %}

{% block title %}
    Dodavanje utakmice
{% endblock %}

{% block content %}


    <div class = "main-block-cont">
        <div class = "black-horiz-spacer-10"></div>

        <div class = "main-title-box">
            <div class = "inner-cont flag"></div>
            <div class = "inner-cont page-title">
                <h1>Dodavanje utakmice</h1>
            </div>
        </div>
        <div class = "black-horiz-spacer-5"></div>

        <div class = "main-content-box">
            {% include "admin/templates/partials/admin_messages.twig" %}

            <div class = "inner-cont">

                {% include "calendar/wrapper.twig" %}

                <input type = "hidden" name = "csrf-token" value = "{{ csrf_token }}">

            </div>
        </div>
    </div>

{% endblock %}


{% block additional_js %}
    <script type="text/javascript" src="public/code/js/calendar.js?{{ "now"|date("YmdHis") }}"></script>
    <script type="text/javascript" src="public/code/js/admin/validation.js?{{ "now"|date("YmdHis") }}"></script>

{% endblock %}