@import '../modules/_modules.import';

.match-container.main {


  .terrain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //    @include pp-transform-style(inherit);
    @include pp-transform-style(preserve-3d);
    @include perspective-origin(50% -12em);
    @include perspective(55em);
    .terrain-holder {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include pp-transform-style(inherit);
    }
  }




  .field {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eee;
//    z-index: 2;
    @include pp-transform( rotateX(90deg) translateZ(0) );
    @include pp-transform-origin(50% 50%);
    box-sizing: content-box;
    @include backface-visibility(hidden);
  }
  .field--alt {
    display: block;
    width: 84%;
    left: 8%;
    @include pp-transform(rotateX(90deg) translateZ(-10px));
    background: #000;
    opacity: 0.3;
    box-shadow: 0 0 40px 20px #000;
  }

  .field__texture {
    width: 100%;
    height: 100%;
    position: absolute;
//    z-index: 3;


    &.field__texture--gradient {
      background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.2), transparent);
      background-image: linear-gradient(to top, rgba(0,0,0,0.2), transparent);
//      z-index: 4;
    }
    &.field__texture--gradient-b {
      opacity: 0;
      background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.2), transparent);
      background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), transparent);
//      z-index: 4;
    }
  }
  .flipped .field__texture.field__texture--gradient {
    opacity: 0;
  }
  .flipped .field__texture.field__texture--gradient-b {
    opacity: 1;
  }
  .texture .field__texture.field__texture--grass {
    background-image: url("../../graphics/grass2.png");
    background-repeat: repeat;
    background-size: 80px 100px;
  }


  .field__side {
    position: absolute;
    top: ($main-field-h - 3)/2;
    left: 0;
    width: 100%;
    height: 8px;
    @include pp-transform( rotateX(180deg) translateZ(-(($main-field-h - 3)/2)));
    @include pp-transform-origin(50% 50%);

    background-color: #f7f7f7;
//    z-index: 9;

    &.field__side--left,
    &.field__side--right {
      top: 0;
      left: -8px;
      height: 100%;
      width: 8px;
      @include pp-transform-origin(100% 50%);
      @include pp-transform(rotateX(90deg) rotateY(-90deg) translateZ(0));
    }

    &.field__side--right {
      left: auto;
      right: 0;
    }

    &.field__side--back {
      @include pp-transform(rotateX(180deg) translateZ(($main-field-h - 3)/2));
    }
  }
  .texture .field__side {
    background-color: #000;
    &:after {
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      opacity: 0.55;
      background-image: url("../../graphics/mud.png");
      background-repeat: repeat;
      background-size: 75px 75px;
      background-position: -20px -20px;
    }
  }


  .field__line {
    position: absolute;
    width: 100%;
    height: 3px;
//    z-index: 4;
  }

  .field__line--goal {
    width: 16%;
    height: 6%;
    border: solid 3px rgba(255,255,255,0.5);
    border-bottom: none;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 4%;
  }
  .field__line--goal--far {
    top: 4%;
    bottom: auto;
    border: solid 3px rgba(255,255,255,0.5);
    border-top: none;
  }
  .field__line--penalty-arc {
    width: 20%;
    height: 20%;
    overflow: hidden;
    bottom: 20%;
    left: 0;
    right: 0;
    margin: auto;
    &:after {
      position: absolute;
      top: 75%;
      width: 100%;
      height: 100%;
      left: 0;
      content: ' ';
      display: block;
      border-radius: 50% 50% 0 0;
      border: solid 3px rgba(255,255,255,0.5);
      border-bottom: none;
      box-sizing: border-box;
    }
  }
  .field__line--penalty-arc--far {
    bottom: auto;
    top: 20%;
    &:after {
      bottom: 75%;
      top: auto;
      border: solid 3px rgba(255,255,255,0.5);
      border-top: none;
      border-radius: 0 0 50% 50%;
    }
  }

  .field__line--penalty {
    width: 44%;
    height: 16%;
    border: solid 3px rgba(255,255,255,0.5);
    border-bottom: none;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 4%;
  }
  .field__line--penalty--far {
    top: 4%;
    bottom: auto;
    border: solid 3px rgba(255,255,255,0.5);
    border-top: none;
  }
  .field__line--outline {
    width: 92%;
    height: 92%;
    top: 4%;
    left: 4%;
    border: solid 3px rgba(255,255,255,0.5);
  }
  .field__line--mid {
    top: 50%;
    width: 92%;
    left: 4%;
    background-color: rgba(255,255,255,0.5);
  }
  .field__line--circle {
    width: 20%;
    height: 20%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: solid 3px rgba(255,255,255,0.5);
    border-radius: 50%;
  }

}