<div class = "calendar-widget widget-content clearfix-helper">
    <div class = "calendar-overlay">
        <div class = "calendar-container" id = "booking-calendar-ultra">
            {% include 'user/bookings/calendar/months_navigation.ultra.twig' %}
        </div>
    </div>

</div>