
{#<span>months...</span>#}
{% include 'user/bookings/calendar/months_header_navigation.twig' %}
{#<span>..months</span>#}

{#<span>days...</span>#}
{% include 'user/bookings/calendar/month_grid.twig' %}
{#<span>..days</span>#}


{#<span>months...</span>#}
{#{% include 'user/bookings/calendar/months_header_navigation.twig' %}#}
{#<span>..months</span>#}