@import "../modules/modules.import";

#header.admin {


  nav {


    &.main {
      height: 57px;
      line-height: 58px;
      font-size: 15px;
      font-family: MuseoSans;
      font-weight: 700;
      text-transform: none;
    }

    &.main {

      background-color: $cibona-blue;
      
      ul.menu {
        right: 20px;
        position: absolute;

        li {
          position: relative;
        }
        li {
          border-left: 1px solid $light-blue-gray-light;
        }
        li:first-child {
          border-left: none;
        }
        & > li {
          float: left;
        }

        li a, li span {
          display: block;
          height: 57px;
          color: $light-blue-gray-light;
          background-color: $cibona-blue;
          @include pp-transition(background-color .25s ease-out, color .25s ease-out);

        }

        li.admin-sign {
          line-height: initial;
          height: 100%;
          font-size: 25px;
          color: $light-blue-gray-light;
          @include gradient-horizontal-bbb-flag-cibona-blue();

          & > i {
            display: inline-block;
            padding: 0 15px;
            height: 100%;
            &:before {
              position: relative;
              top: 15px;
            }
          }
        }

        li.signed {
          line-height: initial;
          height: 100%;
          & > div {
            line-height: initial;
          }
          a, span {
            height: 19px;
            padding: 4px 15px;
          }
          span {
            padding-top: 5px;
            display: inline-block;
          }
        }



        & > li a:hover, & > li.open span {
          background-color: $light-blue-gray-dark;
          color: $dark-dark-blue;

        }

      }
    }

    &.secondary {
      background-color: #ffffff;
      height: 57px;

      line-height: 58px;
      font-size: 16px;
      font-family: MuseoSans;
      font-weight: 700;
      text-transform: none;



      ul.menu {
        right: initial;
        position: initial;
        display: inline-block;
      }

      ul.menu {
        li {
          position: relative;
        }
        li {
//          border-left: 2px dashed $dark-dark-blue;
          margin-right: 12px;
        }
        li:first-child {
          border-left: none;
        }
        & > li {
          float: left;
          &.open:not(.active) {
            a, span {
              border-bottom: 2px solid $dark-dark-blue;
//              border-top: 3px solid $dark-dark-blue;

            }
          }

        }
        li a, li span {
          display: block;
          height: 57px;
          @include box-sizing(border-box);
//          border-bottom: 2px dashed transparent;

          color: $dark-dark-blue;
          @include pp-transition(background-color .25s ease-out, color .25s ease-out, border .25s ease-out);
          padding: 0 25px 0 10px;

          &:hover, &:focus {
            color: white;
            background-color: $dark-dark-blue;

          }
        }
      }

      .menu li:first-child span {
//        padding-left: 20px;
      }

      li.dropdown span:after {
        content: '';
        position: relative;
//        @include pp-transition(all .25s ease-out);
        font-family: FontAwesome;
        right: -15px;
      }



      li.dropdown span:after {
        content: '\f107';
      }

      li.open.dropdown span:after {
        content: '\f106';
      }

      li.dropdown:hover, li.dropdown:focus {
        span:after {
          content: '\f103';
        }
      }
      li.open.dropdown:hover, li.open.dropdown:focus {
        span:after {
          content: '\f102';
        }
      }

      & > div {
        display: inline-block;
      }

      li.dropdown span {
        padding-right: 30px;
        cursor: pointer;
      }

      li.dropdown.active {
        span {
          border-bottom: 2px solid $cibona-blue;
//          border-top: 3px solid $cibona-blue;
          color: $cibona-blue;
        }
      }


    }


  }

  nav.nav-filters {
    display: none;
    height: auto;
    line-height: auto;
    z-index: 1;
    font-size: 15px;
    font-family: MuseoSans;
    font-weight: 700;

    .filter {
      display: none;
      overflow: hidden;
      padding: 8px 20px 8px 240px;
    }

    .list-tags {
      overflow: hidden;
      ul {
        overflow: hidden;
      }
      li {
        position: relative;
        float: left;
        margin: 0 12px 6px 2px;
        line-height: 29px;
        font-size: 15px;
        a {
          display: block;
          height: 28px;
          line-height: 28px;
          padding: 0 14px;
//          background: #d4d5d6;
          color: $dark-dark-blue;
          @include pp-transition(background-color .25s ease-out, color .25s ease-out);
        }

        a.active, a:hover {
          background-color: $cibona-blue;
          color: $light-blue-gray-light;
        }
      }
      li {
        border-left: 2px dashed $dark-dark-blue;
      }
      li:first-child {
        border-left: none;
      }
    }
  }


  nav.search {
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    z-index: 9;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
    &.open {
      visibility: visible;
      opacity: 1;
    }
  }
}


