$cibona-blue: #12408d;

$cibona-blue-dark-overlay: #0f3678;

$cibona-blue-transp10: rgba(18, 64, 141, .9);


$dark-dark-blue: #0c131d;

$light-blue-gray-dark: #eaeef1;
$light-blue-gray-light: #edf0f4;

$dark-blue-light: #183293;
$dark-blue-dark: #122b72;

$red-required: #bf1a1a;
/* "X" icons hover */
$red-close-icons: #ae2e15; //rgb(174, 46, 21);

$red-transparent-overlay: rgba(175, 20, 5, 0.70);


$red-badge-transparent-overlay: #8d2d24;
$green-badge-transparent-overlay: #1f6d4d;
$white-badge-transparent-overlay: #b5bfd0;
$gray-clock-transparent-overlay: #4b5d7a;

$blue-green-status:#246173;
$orange-warning: #eaaf51;
$red-error: #bf1a1a;
$green-success: #67b11c;



// gmaps
// colors

$main-text: #2d313f; // main text
$link: #d36868; // anchor tags
$background: #e7eaf0; // body background color

$color-1: #2d313f; // blue
$color-2: #d36868; // red
$color-3: #ffffff; // white

// fonts

$primary-font: 'Lora', serif;
