$cibona-blue: #12408d;

$dark-dark-blue: #0c131d;

$light-blue-gray-dark: #eaeef1;
$light-blue-gray-light: #edf0f4;

$dark-blue-light: #183293;
$dark-blue-dark: #122b72;

$red-required: #bf1a1a;
/* "X" icons hover */
$red-close-icons: #ae2e15; //rgb(174, 46, 21);


$blue-green-status:#246173;
$orange-warning: #eaaf51;
$red-error: #bf1a1a;
$green-success: #67b11c;