{% extends "templates/default.twig" %}

{% block title %}
    Rezervacija termina
{% endblock %}

{% block content %}


    <div class = "main-block-cont">
        <div class = "black-horiz-spacer-10"></div>

        <div class = "main-title-box">
            <div class = "inner-cont flag"></div>
            <div class = "inner-cont page-title">
                <h1>Rezervacija termina</h1>
            </div>
        </div>
        <div class = "black-horiz-spacer-5"></div>

        <div class = "main-content-box">


            <div class = "inner-cont">

                {% include "templates/partials/user_messages.twig" %}


                <div class = "form-container">

                    <form method = "post" name = "user-course-booking" id = "user-course-booking"  onsubmit="return false;"
                          action = "{{ urlFor('user.book-training-course.post') }}">
                        <div class = "inputs-container">

                            <div class = "vertical-section text-centered">
                                <div>
                                    <div id = "calendar-datepicker">
                                        {% include  'user/bookings/calendar/calendar_selection.twig' %}
                                    </div>
                                </div>
                            </div>

                            {% include 'user/bookings/calendar/legend.twig' %}


                            <div id = "selected-spans">

                            </div>

                            <div class = "selected-span-cont blueprint">
                                <div class = "vertical-section text-centered multirow-special">
                                    <div class = "">
                                        <input type="text" name="selected-spans-description-labels[]" required
                                               maxlength="255" spellcheck="false" autocomplete="on" readonly
                                               class = "large-text-input large-input-width description-label"/>
                                        <label alt="Odabrani termin" placeholder="Odabrani termin" data-info="Odabrani termin"></label>
                                    </div>
                                </div>

                                <div class = "vertical-section text-centered multirow-special">
                                    <div class = "">
                                        <input type="text" name="selected-spans-availability-labels[]" required
                                               maxlength="255" spellcheck="false" autocomplete="on" readonly
                                               class = "small-text-input small-input-width availability-label"/>
                                        <label alt="Popunjenost" placeholder="Popunjenost termina" data-info="Popunjenost termina"></label>

                                    </div>
                                </div>

                                <input type="hidden" name="selected-spans[]" class = "selected-spans-input" value = "-">

                            </div>


                            <script>
                                $(document).on("ready", function(){

                                    $('#selected-spans').mixItUp({
                                        animation: {
                                            duration: 700
                                        },
                                        layout: {
                                            display: 'block'
                                        }
                                    });
                                });
                            </script>



                        </div>


                        {% include "templates/partials/live_status.container.twig" %}

                        <input type = "hidden" name = "csrf-token" value = "{{ csrf_token }}">

                        <div class = "submitter-cont">
                            <div class = "inner-70pct">
                                <div class = "submitter submit bbb-flag-v-cibona-blue" tabindex="9"
                                     onclick="validateAndSubmitUserBooking('user-course-booking')">
                                    <span>REZERVACIJA</span>
                                </div>
                                <div class="submitter bbb-flag-v-cibona-blue reversed cancel">
                                    <a href = "{{ urlFor('user.home') }}" tabindex="10">ODUSTANI</a>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>

    </div>

    <script>
        $(document).ready(function(){
            function valSub() {
                if(formSubmittingActive == true) {
                    validateAndSubmitUserBooking('user-course-booking');
                    return false;
                }
            }
            $('#user-course-booking').keydown(function(e) {
                if (e.keyCode == 13) {
                    valSub();
                }
            });
            $('.submitter.submit').keydown(function(e) {

                if (e.keyCode == 13) {
                    valSub();
                }
            });

        });
    </script>

{% endblock %}