/*********************
 BREAKPOINTS
 *********************//* "X" icons hover *//* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edf0f4+0,eaeef1+100 */#header.admin nav.main {
  height: 57px;
  line-height: 58px;
  font-size: 15px;
  font-family: MuseoSans;
  font-weight: 700;
  text-transform: none;
}
#header.admin nav.main {
  background-color: #12408d;
}
#header.admin nav.main ul.menu {
  right: 20px;
  position: absolute;
}
#header.admin nav.main ul.menu li {
  position: relative;
}
#header.admin nav.main ul.menu li {
  border-left: 1px solid #edf0f4;
}
#header.admin nav.main ul.menu li:first-child {
  border-left: none;
}
#header.admin nav.main ul.menu > li {
  float: left;
}
#header.admin nav.main ul.menu li a, #header.admin nav.main ul.menu li span {
  display: block;
  height: 57px;
  color: #edf0f4;
  background-color: #12408d;
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  -moz-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  -o-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  -ms-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
}
#header.admin nav.main ul.menu li.admin-sign {
  line-height: initial;
  height: 100%;
  font-size: 25px;
  color: #edf0f4;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0c131d+0,0c131d+8,eaeef1+8,edf0f4+11,12408d+11,12408d+89,edf0f4+89,eaeef1+92,0c131d+92,0c131d+100 */
  background: #0c131d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #0c131d 0%, #0c131d 8%, #eaeef1 8%, #edf0f4 11%, #12408d 11%, #12408d 89%, #edf0f4 89%, #eaeef1 92%, #0c131d 92%, #0c131d 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0c131d), color-stop(8%, #0c131d), color-stop(8%, #eaeef1), color-stop(11%, #edf0f4), color-stop(11%, #12408d), color-stop(89%, #12408d), color-stop(89%, #edf0f4), color-stop(92%, #eaeef1), color-stop(92%, #0c131d), color-stop(100%, #0c131d));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0c131d 0%, #0c131d 8%, #eaeef1 8%, #edf0f4 11%, #12408d 11%, #12408d 89%, #edf0f4 89%, #eaeef1 92%, #0c131d 92%, #0c131d 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0c131d 0%, #0c131d 8%, #eaeef1 8%, #edf0f4 11%, #12408d 11%, #12408d 89%, #edf0f4 89%, #eaeef1 92%, #0c131d 92%, #0c131d 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0c131d 0%, #0c131d 8%, #eaeef1 8%, #edf0f4 11%, #12408d 11%, #12408d 89%, #edf0f4 89%, #eaeef1 92%, #0c131d 92%, #0c131d 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #0c131d 0%, #0c131d 8%, #eaeef1 8%, #edf0f4 11%, #12408d 11%, #12408d 89%, #edf0f4 89%, #eaeef1 92%, #0c131d 92%, #0c131d 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0c131d', endColorstr='#0c131d',GradientType=0);
  /* IE6-9 */
}
#header.admin nav.main ul.menu li.admin-sign > i {
  display: inline-block;
  padding: 0 15px;
  height: 100%;
}
#header.admin nav.main ul.menu li.admin-sign > i:before {
  position: relative;
  top: 15px;
}
#header.admin nav.main ul.menu li.signed {
  line-height: initial;
  height: 100%;
}
#header.admin nav.main ul.menu li.signed > div {
  line-height: initial;
}
#header.admin nav.main ul.menu li.signed a, #header.admin nav.main ul.menu li.signed span {
  height: 19px;
  padding: 4px 15px;
}
#header.admin nav.main ul.menu li.signed span {
  padding-top: 5px;
  display: inline-block;
}
#header.admin nav.main ul.menu > li a:hover, #header.admin nav.main ul.menu > li.open span {
  background-color: #eaeef1;
  color: #0c131d;
}
#header.admin nav.secondary {
  background-color: #fff;
  height: 57px;
  line-height: 58px;
  font-size: 16px;
  font-family: MuseoSans;
  font-weight: 700;
  text-transform: none;
}
#header.admin nav.secondary ul.menu {
  right: initial;
  position: initial;
  display: inline-block;
}
#header.admin nav.secondary ul.menu li {
  position: relative;
}
#header.admin nav.secondary ul.menu li {
  margin-right: 12px;
}
#header.admin nav.secondary ul.menu li:first-child {
  border-left: none;
}
#header.admin nav.secondary ul.menu > li {
  float: left;
}
#header.admin nav.secondary ul.menu > li.open:not(.active) a, #header.admin nav.secondary ul.menu > li.open:not(.active) span {
  border-bottom: 2px solid #0c131d;
}
#header.admin nav.secondary ul.menu li a, #header.admin nav.secondary ul.menu li span {
  display: block;
  height: 57px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #0c131d;
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out, border 0.25s ease-out;
  -moz-transition: background-color 0.25s ease-out, color 0.25s ease-out, border 0.25s ease-out;
  -o-transition: background-color 0.25s ease-out, color 0.25s ease-out, border 0.25s ease-out;
  -ms-transition: background-color 0.25s ease-out, color 0.25s ease-out, border 0.25s ease-out;
  transition: background-color 0.25s ease-out, color 0.25s ease-out, border 0.25s ease-out;
  padding: 0 25px 0 10px;
}
#header.admin nav.secondary ul.menu li a:hover, #header.admin nav.secondary ul.menu li span:hover, #header.admin nav.secondary ul.menu li a:focus, #header.admin nav.secondary ul.menu li span:focus {
  color: white;
  background-color: #0c131d;
}
#header.admin nav.secondary li.dropdown span:after {
  content: '';
  position: relative;
  font-family: FontAwesome;
  right: -15px;
}
#header.admin nav.secondary li.dropdown span:after {
  content: '\f107';
}
#header.admin nav.secondary li.open.dropdown span:after {
  content: '\f106';
}
#header.admin nav.secondary li.dropdown:hover span:after, #header.admin nav.secondary li.dropdown:focus span:after {
  content: '\f103';
}
#header.admin nav.secondary li.open.dropdown:hover span:after, #header.admin nav.secondary li.open.dropdown:focus span:after {
  content: '\f102';
}
#header.admin nav.secondary > div {
  display: inline-block;
}
#header.admin nav.secondary li.dropdown span {
  padding-right: 30px;
  cursor: pointer;
}
#header.admin nav.secondary li.dropdown.active span {
  border-bottom: 2px solid #12408d;
  color: #12408d;
}
#header.admin nav.nav-filters {
  display: none;
  height: auto;
  line-height: auto;
  z-index: 1;
  font-size: 15px;
  font-family: MuseoSans;
  font-weight: 700;
}
#header.admin nav.nav-filters .filter {
  display: none;
  overflow: hidden;
  padding: 8px 20px 8px 240px;
}
#header.admin nav.nav-filters .list-tags {
  overflow: hidden;
}
#header.admin nav.nav-filters .list-tags ul {
  overflow: hidden;
}
#header.admin nav.nav-filters .list-tags li {
  position: relative;
  float: left;
  margin: 0 12px 6px 2px;
  line-height: 29px;
  font-size: 15px;
}
#header.admin nav.nav-filters .list-tags li a {
  display: block;
  height: 28px;
  line-height: 28px;
  padding: 0 14px;
  color: #0c131d;
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  -moz-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  -o-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  -ms-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
}
#header.admin nav.nav-filters .list-tags li a.active, #header.admin nav.nav-filters .list-tags li a:hover {
  background-color: #12408d;
  color: #edf0f4;
}
#header.admin nav.nav-filters .list-tags li {
  border-left: 2px dashed #0c131d;
}
#header.admin nav.nav-filters .list-tags li:first-child {
  border-left: none;
}
#header.admin nav.search {
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  z-index: 9;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#header.admin nav.search.open {
  visibility: visible;
  opacity: 1;
}
