@import '../modules/_modules.import';

$cell-width: 13.5%;
$cell-height: 5em;

.month-grid.standard {
  .table-container.standard {
    width: 100%;
    .header .th,
    .tr .td {
      border: 0;
      display: inline-block;
      width: $cell-width;
      margin: 1px;
      @include responsive-w-min($tablet-bp) {
        margin: 2px;

      }
    }

    .header {
      text-align: center;
      .th {
        padding-top: 0.7em;
        padding-bottom: 0.5em;
        text-align: center;
      }
    }

    .tr {
      text-align: center;
      .td {
        text-align: center;
        font-weight: 300;
        vertical-align: bottom;
        & > .active-day, & > .inactive-day {
          height: 100%;
          position: relative;
        }

        & > .active-day {
          background: $cibona-blue;
          color: $light-blue-gray-light;
          box-sizing: border-box;

          &.today {
            @include gradient-status-bg(60px, 0.15);
          }

          &.weekend:not(.today) {
            background-color: $cibona-blue-dark-overlay;
          }

          .date-container {
            font-size: 1em;
            position: absolute;
            top: 0;
            right: 0;
            text-align: center;
            padding: 1px;
            z-index: 9;
            width: 25%;



            .day-ended {
              position: absolute;
              padding: 0;
              font-size: 1.5em;
              top: -3px;
              right: 5px;
              text-align: right;
              color: $red-transparent-overlay;
              text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
            }
            @include responsive-w-max($tablet-bp - 1px) {
              width: 30%;
              text-align: left;
            }
            @include responsive-w-min($small-desktop-bp) {
              font-size: 1.1em;
              .day-ended {
                font-size: 1.6em;

              }
            }
          }

          .day-container {
            position: relative;
            width: 100%;
            @include pp-transition(background-color .25s ease-out, color .25s ease-out);
            &.day-ended {
              background-color: rgba(0, 0, 0, .25);
            }

            .booking-slots-exists {
              width: 100%;
              height: 100%;
              position: absolute;
              bottom: 0;
              left: 0;
              z-index: 8;
            }
            .booking-slots {
              height: 100%;
              position: absolute;
              bottom: 0;
              left: 0;
              z-index: 12;
              text-align: left;
              overflow: hidden;
              width: 100%;
              .bookings-container {
                position: absolute;
                bottom: 0;
                .booking {
                  & > .clickable {
                    cursor: pointer;
                    display: block;

                    & > div {
                      @include pp-transition(background-color .25s ease-out, color .25s ease-out);
                      width: 100%;
                      display: inline-table;
                      vertical-align: bottom;
                      & > * {
                        display: table-cell;
                        vertical-align: middle;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

$cell-height-reservations-home: 4.5em;
$cell-height-adding-games: 4.75em;

.month-grid.standard .table-container.standard.template-blueprint,
//.month-grid.standard .table-container.standard.bookings,
.month-grid.standard .table-container.standard.adding-games,
.month-grid.standard .table-container.standard.reservations-home {
  .td > .active-day {
    .day-container {
      .booking-slots {
        .bookings-container {
          left: 0;
          width: 100%;
          .booking {
            display: inline-block;
//            width: 28%;
            padding: 1px 2px;
            text-align: center;
            .legend-icon-cont {
              height:1.375em;
              .fa {
                font-size: .95em;
              }
            }
            .existing-game-icon-cont {
              color: $dark-dark-blue;
              background-color: $light-blue-gray-light;
              height:1.3em;
              .fa {
                font-size: 0.85em;
              }
            }
            .duration-cont {
              height: 1.15em;
              .times {
                font-size: 0.7em;
              }
            }
            & > .clickable {
              &.existing-game-link {
                padding: 1px 0 2px 0;
                display: inline-block;
              }
              &:hover > div{
                &.duration-cont, &.legend-icon-cont {
                  background-color: $light-blue-gray-light;
                  color: $dark-dark-blue;
                }
                &.existing-game-icon-cont {
                  background-color: $cibona-blue;
                  color: $light-blue-gray-light;
                }
              }
            }
          }
        }
      }
    }
  }
}

.month-grid.standard .table-container.standard.reservations-home,
.month-grid.standard .table-container.standard.adding-games,
.month-grid.standard .table-container.standard.template-blueprint {
  .td .day-container {
      .booking-slots .bookings-container {
          .booking {
            width: 40%;
          }
      }
  }
}


// template CALENDAR
.month-grid.standard .table-container.standard.template-blueprint {
  .td > .active-day {
    .day-container {
      height: $cell-height-adding-games;
    }
  }
}

// adding games CALENDAR
.month-grid.standard .table-container.standard.adding-games{
  .td > .active-day {
    .day-container {
      height: $cell-height-adding-games;
    }
  }
}

// reservation courses home CALENDAR
.month-grid.standard .table-container.standard.reservations-home {
  .td > .active-day {
    .day-container {
      height: $cell-height-reservations-home;
    }
  }
}



// bookings CALENDAR
.month-grid.standard .table-container.standard.bookings {
  .td > .active-day {
    .day-container {
      height: $cell-height-reservations-home;

      &.selected-day {
        background-color: $light-blue-gray-dark;
        color: $dark-dark-blue;
        .booking-slots .bookings-container .booking {
          &.available-for-booking:not(.yes-selected):hover,
          &.booking-time-ended:hover {
            .duration-cont .times {
              text-shadow: 1px 0px 0px $light-blue-gray-light, 1px 1px 0px $light-blue-gray-light,
              -7px -2px 13px $dark-dark-blue, 7px 2px 12px $dark-dark-blue;
            }
          }
        }
        .booking-time-ended .legend-icon-cont .calendar-icon-holder .back {
          color: $light-blue-gray-light;
        }
      }
      &:not(.selected-day) {
        .bookings-container {
          a:not(.yes-selected):hover {
            .duration-cont {
              text-shadow: 1px 0 0 black,1px 1px 0 black,-7px -2px 13px white,7px 2px 12px white;
            }
          }
        }
      }

      .booking-slots {
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 12;
        text-align: left;
        overflow: hidden;

        width: 100%;

        @include responsive-w-max($small-desktop-bp - 1px) {
          font-size: 0.95em;
        }

        .bookings-container {
          position: absolute;
          bottom: 0;
          width: 100%;
          text-align: center;

          & > a {
            display: inline-block;
            width: 100%;

          }

          .booking {
            text-align: center;

            width: 42%;
            @include responsive-w-max($tablet-bp - 1px) {
              min-width: 42%;
            }
            @include responsive-w-min($small-desktop-bp) {
              width: 32%;
            }


            & > div {
              width: 100%;
              display: inline-table;
              vertical-align: bottom;


              & > * {
                display: table-cell;
                vertical-align: middle;
              }

              .calendar-icon-holder {
                position: relative;
              }
            }

            &.not-selected,
            &.yes-selected{
              cursor: pointer;
            }

            &.available-for-booking {
              .legend-icon-cont .calendar-icon-holder .leader {
                font-size: 140%;
              }
            }


            .legend-icon-cont {
              height:2.6em;
            }
            .duration-cont {
              height: 1.4em;
              .times {
                font-size: 0.7em;
                display: inherit;
                font-weight: 600;

                & > .fw {
                  display: none;
                }
              }
            }


          }
        }
      }
    }
  }
}

