@import 'modules/modules.import';

.chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms {
  background: $cibona-blue;
  .chat-rooms-container {


    .chat-room {
      width: 94%;
//      background-color: dodgerblue;
//      max-width: 30em;
      margin-bottom: 0.125em;
      margin-top: 0.125em;
      padding: 0.25em 0;
      position: relative;
      @include responsive-h-min($mobile-h-large-bp) {
        margin-bottom: 0.25em;
        margin-top: 0.25em;
        padding: 0.375em 0;
      }



      .chat-room-info {
        width: 75%;
        @include responsive-w-max($mobile-mid-bp - 1px) {
          width: 87%;
        }
//        background-color: darksalmon;
        position: relative;

        & > .participants-holder {
          padding: 0 3px 0 5px;
          height: 100%;

          .participant {
//            height: 100%;
            position: relative;
            display: inline-block;
            padding-top: 0.125em;
            padding-bottom: 0.125em;
            padding-left: 0.375em;
            padding-right: 0.375em;
            @include responsive-w-min($mobile-mid-bp) {
              padding-left: 0.5em;
              padding-right: 0.5em;
            }
            @include responsive-h-min($mobile-h-large-bp) {
              padding-top: 0.25em;
              padding-bottom: 0.25em;
            }

            & > span {
              @include responsive-w-max($mobile-mid-bp - 1px) {
                font-size: 0.875em;
              }
            }

            border-left: 1px solid $light-blue-gray-light;
            &:first-of-type {
//              border-left: 1px solid transparent;
            }

            .img-av-holder {
              width: 36px;
              height: 36px;
              border-radius: 5em;
              margin-right: 0.25em;
              margin-left: 0.0625em;
              @include responsive-w-min($mobile-mid-bp) {
                margin-right: 0.375em;
                margin-left: 0.125em;
              }

              @include box-shadow(inset 0px 0px 1.5em 0.125em rgba(250, 235, 225, 0.1),
                0px 0px 0.375em 0.15em rgba(50, 40, 40, 0.40));
              text-align: center;
              display: inline-block;
              vertical-align: middle;
              img {
                border-radius: 5em;
                position: relative;
                top: 4px;
              }
              & > i {
                display: inline-table;
                //        padding: 0 15px;
                height: 100%;
                font-size: 20px;
                padding: 8px 0;
                &:before {
                  position: relative;
                  display: table-cell;
                  vertical-align: middle;
                }
              }
            }
          }
        }

        .hot-msg-card {
          position: absolute;
          top: 15%;
          right: -2%;
          z-index: 5;
          @include responsive-w-min($mobile-mid-bp) {
            right: -7%;
          }
          font-size: 0.625em;
          .msg-card {
            color: orangered;
            margin: 0;
          }
          .number {
            margin: 0;
            font-size: 1.125em;
            color: white;
            font-family: MuseoSans;
            font-weight: 600;
          }
        }
      }


      .unread-messages-info {
        overflow: hidden;

        width: 10%;
        position: relative;
        text-align: center;
//        background-color: darkcyan;
        & > i.fa {
          font-size: 85%;
        }
        .alert-unread {
          color: orangered;
          &.faa-horizontal {
            @include pp-animation(horizontal-alarm-frames 6s ease infinite);
          }
        }


      }

      .desc-info {
        width: 12%;
//        background-color: maroon;
        position: relative;
        text-align: center;
        & > i.fa {
          font-size: 1.25em;
        }



      }

      .unread-messages-info, .chat-room-info, .desc-info {
        display: inline-block;
        line-height: normal;
        vertical-align: middle;
      }
    }
  }
}