@import 'modules/modules.import';

.match-container.main {


  $player-img-height: 4.5em;

  $player-cont-w: 4.5em;
  $placeholder-w: 2.5em;
  $card-w: 15.5em;
  $card-h: 16em;
  $image-w: 4.5em;

  .team {
    left: -($player-cont-w/2);
    &.js-team, &.js-stub-team {
//      background-color: rgba(darkcyan, 0.45);
      top: 6em - 2.25em;
    }
  }

  .player {
    position: absolute;
    height: 4.5em;
    width: $player-cont-w;
    //    z-index: 9;
//    left: -($player-cont-w/2);
    @include pp-transition(all 0.2s);
    text-align: center;
//    opacity: .95;
    z-index: 2;



    .player__placeholder {
      position: absolute;
      opacity: 0.1;
      height: 1em;
      width: $placeholder-w;
      bottom: -10px;
      left: ($player-cont-w - $placeholder-w)/2;
      margin: auto;
      border-radius: 50%;
      background-color: rgba($dark-dark-blue, 0.3);
      //      z-index: 1;
    }
    &.active .player__placeholder {
      opacity: 1;
    }
    .player__card {

      display: none;
      font-family: MuseoSans;
      font-weight: 600;
      position: absolute;
      bottom: 1.5em;
      left: ($player-cont-w - $card-w)/2;
      height: $card-h;
      background-color: $light-blue-gray-dark;
      opacity: 0.1;
      width: $card-w;
      padding: 0;
      color: $dark-dark-blue;
      @include rounded(5px);

      @include box-shadow(0 0 0 1px rgba(0,0,0,0.1),0 1px 10px rgba(0,0,0,.25));
      //      z-index: 2;
      &:after {
        position: absolute;
        display: block;
        content: '';
        height: 1px;
        width: 1px;
        border: solid 10px transparent;
        border-top: solid 10px $light-blue-gray-light;
        bottom: -21px;
        left: 0;
        right: 0;
        margin: auto;
        top: auto;
        box-sizing: content-box;
        //        z-index: 3;
      }
      i {
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 10px 15px;
        font-size: 24px;
        line-height: 20px;
        color: #fff;
        opacity: 0.3;
        cursor: pointer;
        @include pp-transition(all 0.15s);
        &:hover {
          opacity:0.6;
        }
      }
      .name {
        text-align: center;
        line-height: 1.5em;
        color: $light-blue-gray-light;
        padding: 0.5em 1.5em 2.5em;
        margin: 0 0 2.25em;
        border-radius: 4px 4px 0 0;
        background-color: $cibona-blue;
        h3 {

          font-size: 19px;
          font-family: MuseoSans;
          font-weight: 600;

          span:first-child {
            display: inline-block;
            height: 27px;
            width: 27px;
            border-radius: 50%;
            border: solid 1px #fff;
            line-height: 27px;
            opacity: 0.4;
            font-size: 18px;
          }
          span:last-child {
            font-size: 14px;
            opacity: 0.4;
          }
        }
      }
      .full-name {
        font-weight: 600;
        color: maroon;
        padding: 3px;
        span {
          @include font-size(16px);
        }
      }

      p {
        color: #777;
        font-syle: italic;
        text-align: center;
      }

      .player__card__list {
        font-family: MuseoSans;
        font-weight: 600;
        padding: 10px 0;
        font-size: 14px;
        color: #777;
        overflow: auto;
        text-align: center;
        li {
          display: inline-block;
          white-space: nowrap;
          text-overflow: ellipsis;
          text-align: center;
          font-size: 15px;
          padding-left: 20px;
          color: #333;
          span {
            font-size: 12px;
            text-transform: uppercase;
            color: #888;
            font-weight: 500;
          }
          &:first-child {
            padding-left: 0;
            border-left: none;
          }
        }
      }
      .player__card__list--last {
        position: absolute;
        width: 100%;
        bottom: 0;
        background-color: #eee;
        margin: 0;
        padding: 0;
        border-top: solid 1px #ddd;
        border-radius: 0 0 6px 6px;
        overflow: hidden;
        li {
          width: 50%;
          padding: 5px 0 10px 0;
//          color: #a40028;
          color: maroon;
          font-size: 26px;
          line-height: 20px;
        }
        li:last-child {
          border-left: solid 1px #ddd;
        }

      }
    }


    .player__img {
      position: absolute;
      top: 0;
      left: ($player-cont-w - $image-w)/2;
      width: $image-w;
      height: $player-img-height;
      &.midi {
        top: 0.25em;
        left: 0.25em;
        width: 4em;
        height: 4em;
      }
      //      z-index: 4;
      overflow: hidden;
      border-radius: 10em;
      cursor: pointer;
      @include backface-visibility(hidden);
      @include pp-transition(all 0.2s);

      .icon-holder {
        width: 100%;
        height: 100%;
        .user-avatar-cont {

          .user-icon {
            width: 3.5em;
            height: 3.5em;
            .pic-cont {
              border-radius: 50%;
              & > .icon {
                font-size: 2em;
              }

              & > .v-align-helper {
                display: inline-block;
                height: 100%;
                vertical-align: middle;
              }
              & > img {
                max-width: 95%;
                max-height: 95%;
                border-radius: 50%;
                vertical-align: middle;
              }
            }
          }
        }
      }
    }


    &.teamOne {
      .player__img {
        &:hover {
          & ~ .holder .player__label {
            @include box-shadow(0px 0px 0.5em 2px $team-one-color);
          }
        }
        .icon-holder {
          background-color: $team-one-color;
          color: $team-two-color;
        }
      }
    }
    &.teamTwo {
      .player__img {
        &:hover {
          & ~ .holder .player__label {
            @include box-shadow(0px 0px 0.5em 2px $team-two-color);
          }
        }
        .icon-holder {
          background-color: $team-two-color;
          color: $team-one-color;
        }
      }
    }

    .holder {
      position: absolute;
      top: 4.375em;
      @include responsive-w-min(560px) {
        top: 4.75em;
      }
      display: inline-block;
      left: -50%;
      right: -50%;
    }
    span.player__label {
      position: relative;
      display: block;
      text-align: center;
      opacity: 0;
      //      z-index: 2;
      @include pp-transition(all 0.2s);

      cursor: pointer;
      font-family: MuseoSans;
      font-weight: 600;
      font-size: 13px;
      padding: 4px 8px 4px 8px;
      border-radius: 5em;

    }


    &.teamOne {
      .player__label {
        background-color: $team-one-color;
        color: $team-two-color;
        &:hover {
          @include box-shadow(0px 0px 0.5em 2px $team-one-color);
        }
      }
    }
    &.teamTwo {
      .player__label {
        background-color: $team-two-color;
        color: $team-one-color;
        &:hover {
          @include box-shadow(0px 0px 0.5em 2px $team-two-color);
        }
      }
    }

  }



  .stub-player {
    position: absolute;
    height: $player-img-height;
    width: $player-cont-w;
    //    z-index: 9;
//    left: -2.5em;
    @include pp-transition(all 0.2s);

    .player__placeholder {
      position: absolute;
      opacity: 1;
      height: 2.0em;
      width: 3.5em;
      bottom: -5px;
      left: ($player-cont-w - 3.5em)/2;
      margin: auto;
      border-radius: 2em;
      pointer-events: none;
      text-align: center;
      i {
        font-size: 1.55em;
        @include responsive-w-min(560px) {
          font-size: 1.75em;
        }
        position: relative;
      }
    }

    &.teamOne {
      .player__placeholder i{
        color: $team-one-color;
        &:before {
          text-shadow: 0 0 1.5em $team-one-color;
        }
      }
    }
    &.teamTwo {
      .player__placeholder i{
        color: $team-two-color;
        &:before {
          text-shadow: 0 0 1.5em $team-two-color;
        }
      }
    }
//
//    .player__label {
//      position: absolute;
//      height: 1.5em;
//      display: inline-block;
//      width: auto;
//      left: -100%;
//      right: -100%;
//      margin: auto;
//      padding: 0 10px;
//      line-height: 1.5em;
//      text-align: center;
//      border-radius: 5em;
//      bottom: 0;
//      opacity: 0;
//
//      @include pp-transition(opacity 0.2s);
//      //      z-index: 2;
//      pointer-events: none;
//      top: 5em;
//      span {
//        background-color: $dark-dark-blue;
//        color: $light-blue-gray-light;
//        font-size: 13px;
//        padding: 3px 10px 3px 10px;
//        border-radius: 5em;
//      }
//    }
  }

}