@import "modules/modules.import";



.calendar-widget-holder {
  font-family: MuseoSans;
  font-weight: 600;

  padding: 0.25em 0.375em;

  margin: 1em 0;

  @include responsive-w-min($mobile-mid-bp) {
    padding: 0.25em 1em;
  }

  &.widget-content {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    background-color: $dark-dark-blue;
    color: $light-blue-gray-light;
  }

  &.clearfix-helper {
    min-height: 0;
    &:before,
    &:after {
      content: "";
      display: table;
      border-collapse: collapse;
    }
  }

  .calendar-overlay {
    position: relative;
  }

  .calendar-header.horizontal {
    color: $light-blue-gray-light;
    position: relative;
    padding: 0;
    max-width: 30em;
    margin: .4em auto .6em auto;
    @include responsive-w-max(599px) {
      overflow: hidden;
    }

    a.month-picker-prev,
    a.month-picker-next,
    a.offset-picker-prev,
    a.offset-picker-next {
      position:absolute;
      cursor: pointer;
      height: 100%;
      font-size: 1.1em;
      text-align: center;

      @include pp-transition(background-color .25s ease-out, color .25s ease-out, border .25s ease-out);

      &:hover,
      &:focus {
        background-color: $light-blue-gray-light;
        color: $dark-dark-blue;
      }

      span.fa {
        height: 100%;
        &:before {
          font-size: 20px;
          position: relative;
          top: 4px;
        }
      }
    }
    a.month-picker-prev, a.month-picker-next {
      width: 4em;
    }
    a.offset-picker-prev, a.offset-picker-next {
      width: 5.5em;
    }

    .month-picker-prev,
    .offset-picker-prev {
      left: 0;
      @include rounded-nw(2em);
      @include rounded-sw(2em);
    }
    .month-picker-prev {
      left: 0;
    }
    .offset-picker-prev {
      left: -2em;
    }

    .month-picker-next,
    .offset-picker-next {
      @include rounded-ne(2em);
      @include rounded-se(2em);
    }
    .month-picker-next {
      right: 0;
    }
    .offset-picker-next {
      right: -2em;
    }

    .month-picker-title,
    .offset-picker-title {
      @include gradient-vertical-bbb-flag-cibona-blue();

      line-height: 1.7em;
      text-align: center;
      font-size: 1.1em;
      font-weight: 600;
    }
    .month-picker-title {
      margin: 0 4em;
    }
    .offset-picker-title {
      margin: 0 2em;
    }
  }

  .vertical-aligner {
    display: inline-table;
    vertical-align: bottom;
    width: 100%;
    & > * {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .calendar-header.vertical {
    color: $light-blue-gray-light;
    position: relative;
    padding: 0;
    width: 5.5em;
    @include responsive-w-min($mobile-mid-bp) {
      width: 6em;
    }
    margin: auto .5em;
    height: 100%;
//    top: 1.5em;
//    float: right;
    vertical-align: middle;
//    @include responsive-w-max(599px) {
//      overflow: hidden;
//    }
//
    a.month-picker-prev,
    a.month-picker-next,
    a.offset-picker-prev,
    a.offset-picker-next {
      position:relative;
      cursor: pointer;
      width: 100%;
      text-align: center;
      display: block;
//
      @include pp-transition(background-color .25s ease-out, color .25s ease-out, border .25s ease-out);

      &:hover,
      &:focus {
        background-color: $light-blue-gray-light;
        color: $dark-dark-blue;
      }

      span.fa {
        width: 100%;
        font-size: 1.1em;
        height: 100%;
        display: inline-table;
        &:before {
          font-size: 20px;
          position: relative;
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
//    a.month-picker-prev, a.month-picker-next {
//      width: 4em;
//    }
    a.offset-picker-prev, a.offset-picker-next {
      height: 2.5em;
    }
//
    .month-picker-prev,
    .offset-picker-prev {
      left: 0;
      @include rounded-nw(2em);
      @include rounded-ne(2em);
    }
//    .month-picker-prev {
//      left: 0;
//    }
    .offset-picker-prev {
      top: -1em;
    }
//
    .month-picker-next,
    .offset-picker-next {
      @include rounded-sw(2em);
      @include rounded-se(2em);
    }
//    .month-picker-next {
//      right: 0;
//    }
    .offset-picker-next {
      bottom: -1em;
    }
//
    .month-picker-title,
    .offset-picker-title {
      @include gradient-horizontal-bbb-flag-cibona-blue();

//      line-height: 1.7em;
      text-align: center;
      font-weight: 600;
      display: inline-table;
      min-height: 9em;
      & > span {
        display: table-cell;
        vertical-align: middle;
        padding: 0 0.25em;

        @include responsive-w-min($mobile-small-bp) {
          font-size: 0.9em;
        }
        @include responsive-w-min($mobile-mid-bp) {
          font-size: 1em;
        }
        @include responsive-w-min($mobile-large-bp) {
          font-size: 1.1em;
        }
      }
    }
//    .month-picker-title {
//      margin: 0 4em;
//    }
//    .offset-picker-title {
//      margin: 0 2em;
//    }
  }


  .widget-content {
    &.month-grid {
      width: 100%;
      margin: 0;
    }
  }

  @import "calendar.standard";
  @import "calendar.ultra.horizontal";
  @import "calendar.ultra.vertical";

  /* Slider try */
  .pr.horizontal {
    overflow:hidden;
    margin: 0 auto;
    @include responsive-w-min($small-desktop-bp) {
      width: 912px;
    }
    @include responsive-w-min($large-desktop-bp) {
      width: 1120px;
    }
    & > ul {
      position: relative;
      width: 100%;
      overflow: hidden;
      & > li {
        float: left;
        width: 100%;
      }
    }
  }

  .pr.vertical {
    width: auto;
    padding-right: 0.375em;

    @include responsive-w-min($mobile-mid-bp) {
      padding-right: 1em;
    }

    overflow:hidden;
    margin: 0 auto;
//    @include responsive-w-min($small-desktop-bp) {
//      width: 912px;
//    }
//    @include responsive-w-min($large-desktop-bp) {
//      width: 1120px;
//    }
    & > ul {
      position: relative;
      width: 100%;
      overflow: hidden;
      & > li {
        float: left;
        width: 100%;
      }
    }
  }
}

@import 'calendar.selectors';