@import 'modules/modules.import';


$scrollbar-width: 15px;

.jspContainer
{
  overflow: hidden;
  position: relative;
}

.jspPane
{
//  position: absolute;
  position: relative;
}

.jspVerticalBar
{
  position: absolute;
  top: 0;
  right: 0;
  width: $scrollbar-width;
  height: 100%;
  background: red;
}

.jspHorizontalBar
{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $scrollbar-width;
  background: red;
}

.jspCap
{
  display: none;
}

.jspHorizontalBar .jspCap
{
  float: left;
}

.jspTrack
{
  background: white;
  position: relative;
  border-left: 1px solid $light-blue-gray-dark;

}

.jspDrag
{
  background-color: $cibona-blue;
  position: relative;
  top: 0;
  left: 0;
  @include rounded(8px);
  cursor: pointer;
  @include pp-transition(background-color .30s ease-out, color .30s ease-out);
  &:hover {
    background-color: $cibona-blue-dark-overlay;

  }
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
  float: left;
  height: 100%;
}

.jspArrow
{
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.jspArrow.jspDisabled
{
  cursor: default;
  background: #80808d;
}

.jspVerticalBar .jspArrow
{
  height: $scrollbar-width;
}

.jspHorizontalBar .jspArrow
{
  width: $scrollbar-width;
  float: left;
  height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
  outline: none;
}

.jspCorner
{
  background: #eeeef4;
  float: left;
  height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
  margin: 0 -3px 0 0;
}
