/*********************
 BREAKPOINTS
 *********************//* "X" icons hover *//* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edf0f4+0,eaeef1+100 */.month-grid.ultra.vertical .table-container.ultra.vertical * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.month-grid.ultra.vertical .table-container.ultra.vertical .tr {
  text-align: left;
  position: relative;
  width: 100%;
}
.month-grid.ultra.vertical .table-container.ultra.vertical .tr .cell {
  position: relative;
  width: 100%;
  border: 0;
  display: block;
  padding-left: 2px;
  padding-right: 2px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (min-height: 320px) {
  .month-grid.ultra.vertical .table-container.ultra.vertical .tr .cell {
    border-top: 1px dashed transparent;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media only screen and (min-height: 560px) {
  .month-grid.ultra.vertical .table-container.ultra.vertical .tr .cell {
    border-top: 1px dashed transparent;
    padding-top: 1px;
    padding-bottom: 1px;
  }
}
@media only screen and (min-height: 320px) {
  .month-grid.ultra.vertical .table-container.ultra.vertical .tr .cell.first-day-of-month {
    border-top: 1px dashed #edf0f4;
  }
}
@media only screen and (min-height: 560px) {
  .month-grid.ultra.vertical .table-container.ultra.vertical .tr .cell.first-day-of-month {
    border-top: 1px dashed #edf0f4;
  }
}
.month-grid.ultra.vertical .table-container.ultra.vertical .tr .cell .th, .month-grid.ultra.vertical .table-container.ultra.vertical .tr .cell .td {
  height: 100%;
  vertical-align: top;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.month-grid.ultra.vertical .table-container.ultra.vertical .tr .cell .th {
  padding-right: 0.1em;
  text-align: center;
  font-weight: bold;
  width: 3em;
}
.month-grid.ultra.vertical .table-container.ultra.vertical .tr .cell .th > .active-day, .month-grid.ultra.vertical .table-container.ultra.vertical .tr .cell .th > .inactive-day {
  height: 100%;
  display: inline-table;
  width: 100%;
}
.month-grid.ultra.vertical .table-container.ultra.vertical .tr .cell .th > .active-day > *, .month-grid.ultra.vertical .table-container.ultra.vertical .tr .cell .th > .inactive-day > * {
  display: table-cell;
  vertical-align: middle;
}
.month-grid.ultra.vertical .table-container.ultra.vertical .tr .cell .th > .active-day {
  border-left: 3px solid #12408d;
  padding-left: 0.1em;
  padding-right: 0.1em;
}
.month-grid.ultra.vertical .table-container.ultra.vertical .tr .cell .th > .active-day.today {
  background: #12408d;
  color: #edf0f4;
  -webkit-background-size: 60px 60px;
  -moz-background-size: 60px 60px;
  background-size: 60px 60px;
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  border-left: 3px solid #edf0f4;
}
.month-grid.ultra.vertical .table-container.ultra.vertical .tr .cell .th > .active-day.weekend:not(.today) {
  border-left: 3px solid #0f3678;
}
.month-grid.ultra.vertical .table-container.ultra.vertical .tr .cell .td {
  text-align: left;
  font-weight: 300;
  padding-left: 6px;
}
.month-grid.ultra.vertical .table-container.ultra.vertical .tr .cell .td > .active-day, .month-grid.ultra.vertical .table-container.ultra.vertical .tr .cell .td > .inactive-day {
  height: 100%;
}
.month-grid.ultra.vertical .table-container.ultra.vertical .tr .cell .td > .active-day {
  background: #12408d;
  color: #edf0f4;
  border-right: 3px dashed transparent;
  box-sizing: border-box;
}
.month-grid.ultra.vertical .table-container.ultra.vertical .tr .cell .td > .active-day.today {
  -webkit-background-size: 60px 60px;
  -moz-background-size: 60px 60px;
  background-size: 60px 60px;
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  border-right: 3px solid #edf0f4;
}
.month-grid.ultra.vertical .table-container.ultra.vertical .tr .cell .td > .active-day.weekend:not(.today) {
  background-color: #0f3678;
}
.month-grid.ultra.vertical .table-container.ultra.vertical .tr .cell .td > .active-day .day-container {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  -moz-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  -o-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  -ms-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
}
.month-grid.ultra.vertical .table-container.ultra.vertical .tr .cell .td > .active-day .day-container.day-ended {
  background-color: rgba(0, 0, 0, .3);
}
.month-grid.ultra.vertical .table-container.ultra.vertical .tr .cell .td > .active-day .date-container {
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  padding: 2px 1px 2px 4px;
  z-index: 9;
  width: 15%;
  min-width: 30px;
  height: 40%;
}
@media only screen and (min-width: 480px) {
  .month-grid.ultra.vertical .table-container.ultra.vertical .tr .cell .td > .active-day .date-container {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 480px) {
  .month-grid.ultra.vertical .table-container.ultra.vertical .tr .cell .td > .active-day .date-container {
    padding: 2px 2px 2px 6px;
  }
}
.month-grid.ultra.vertical .table-container.ultra.vertical .tr .cell .td > .active-day .date-container .day-ended {
  position: absolute;
  padding: 0;
  font-size: 1.6em;
  top: -3px;
  left: 1px;
  text-align: right;
  color: rgba(175, 20, 5, 0.70);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}
.month-grid.ultra.vertical .table-container.ultra.vertical {
  width: 100%;
}
.month-grid.ultra.vertical .table-container.ultra.vertical.template-blueprint .tr .cell .td, .month-grid.ultra.vertical .table-container.ultra.vertical.bookings .tr .cell .td {
  width: 84%;
}
.month-grid.ultra.vertical .table-container.ultra.vertical.template-blueprint .tr .cell .th, .month-grid.ultra.vertical .table-container.ultra.vertical.bookings .tr .cell .th {
  width: 16%;
}
.month-grid.ultra.vertical .table-container.ultra.vertical.template-blueprint .tr .cell {
  height: 3em;
}
@media only screen and (min-height: 320px) {
  .month-grid.ultra.vertical .table-container.ultra.vertical.bookings .tr .cell {
    height: 2.625em;
  }
}
@media only screen and (min-height: 560px) {
  .month-grid.ultra.vertical .table-container.ultra.vertical.bookings .tr .cell {
    height: 3em;
  }
}
.month-grid.ultra.vertical .table-container.ultra.vertical.bookings .tr .cell .td .day-container.selected-day {
  background-color: #eaeef1;
  color: #0c131d;
}
.month-grid.ultra.vertical .table-container.ultra.vertical.bookings .tr .cell .td .day-container.selected-day .booking-slots .bookings-container .booking.available-for-booking:not(.yes-selected):hover .duration-cont .times, .month-grid.ultra.vertical .table-container.ultra.vertical.bookings .tr .cell .td .day-container.selected-day .booking-slots .bookings-container .booking.booking-time-ended:hover .duration-cont .times {
  text-shadow: 1px 0px 0px #edf0f4, 1px 1px 0px #edf0f4, -7px -2px 13px #0c131d, 7px 2px 12px #0c131d;
}
.month-grid.ultra.vertical .table-container.ultra.vertical.bookings .tr .cell .td .day-container.selected-day .booking-time-ended .legend-icon-cont .calendar-icon-holder .back {
  color: #edf0f4;
}
.month-grid.ultra.vertical .table-container.ultra.vertical.bookings .tr .cell .td .day-container:not(.selected-day) .bookings-container a:not(.yes-selected):hover .duration-cont {
  text-shadow: 1px 0 0 black, 1px 1px 0 black, -7px -2px 13px white, 7px 2px 12px white;
}
.month-grid.ultra.vertical .table-container.ultra.vertical.bookings .tr .cell .td .day-container .booking-slots {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 12;
  text-align: right;
  overflow: hidden;
}
.month-grid.ultra.vertical .table-container.ultra.vertical.bookings .tr .cell .td .day-container .booking-slots .bookings-container {
  position: absolute;
  right: 0;
  height: 100%;
}
.month-grid.ultra.vertical .table-container.ultra.vertical.bookings .tr .cell .td .day-container .booking-slots .bookings-container > a {
  display: inline-block;
  height: 100%;
}
.month-grid.ultra.vertical .table-container.ultra.vertical.bookings .tr .cell .td .day-container .booking-slots .bookings-container .booking {
  text-align: center;
  display: inline-block;
  height: 100%;
}
@media only screen and (max-width: 479px) {
  .month-grid.ultra.vertical .table-container.ultra.vertical.bookings .tr .cell .td .day-container .booking-slots .bookings-container .booking {
    width: 2.75rem;
    padding-left: 12px;
    padding-right: 3px;
  }
}
@media only screen and (max-width: 479px) {
  .month-grid.ultra.vertical .table-container.ultra.vertical.bookings .tr .cell .td .day-container .booking-slots .bookings-container .booking > div {
    width: 100%;
    text-align: center;
    display: inline-table;
  }
}
@media only screen and (min-width: 480px) {
  .month-grid.ultra.vertical .table-container.ultra.vertical.bookings .tr .cell .td .day-container .booking-slots .bookings-container .booking > div {
    display: inline-table;
    height: 100%;
    vertical-align: bottom;
  }
  .month-grid.ultra.vertical .table-container.ultra.vertical.bookings .tr .cell .td .day-container .booking-slots .bookings-container .booking > div .legend-icon-cont .calendar-icon-holder, .month-grid.ultra.vertical .table-container.ultra.vertical.bookings .tr .cell .td .day-container .booking-slots .bookings-container .booking > div .duration-cont .times {
    font-size: 110%;
  }
}
.month-grid.ultra.vertical .table-container.ultra.vertical.bookings .tr .cell .td .day-container .booking-slots .bookings-container .booking > div > * {
  display: table-cell;
  vertical-align: middle;
}
.month-grid.ultra.vertical .table-container.ultra.vertical.bookings .tr .cell .td .day-container .booking-slots .bookings-container .booking.not-selected, .month-grid.ultra.vertical .table-container.ultra.vertical.bookings .tr .cell .td .day-container .booking-slots .bookings-container .booking.yes-selected {
  cursor: pointer;
}
.month-grid.ultra.vertical .table-container.ultra.vertical.bookings .tr .cell .td .day-container .booking-slots .bookings-container .booking .legend-icon-cont {
  height: 70%;
}
@media only screen and (min-width: 480px) {
  .month-grid.ultra.vertical .table-container.ultra.vertical.bookings .tr .cell .td .day-container .booking-slots .bookings-container .booking .legend-icon-cont {
    height: 100%;
    float: right;
    padding-left: 3px;
    padding-right: 3px;
  }
}
@media only screen and (max-width: 479px) {
  .month-grid.ultra.vertical .table-container.ultra.vertical.bookings .tr .cell .td .day-container .booking-slots .bookings-container .booking .legend-icon-cont {
    font-size: 80%;
  }
}
.month-grid.ultra.vertical .table-container.ultra.vertical.bookings .tr .cell .td .day-container .booking-slots .bookings-container .booking .legend-icon-cont .calendar-icon-holder {
  position: relative;
}
@media only screen and (min-width: 480px) {
  .month-grid.ultra.vertical .table-container.ultra.vertical.bookings .tr .cell .td .day-container .booking-slots .bookings-container .booking .legend-icon-cont .calendar-icon-holder {
    height: 100%;
  }
}
.month-grid.ultra.vertical .table-container.ultra.vertical.bookings .tr .cell .td .day-container .booking-slots .bookings-container .booking.available-for-booking .legend-icon-cont .calendar-icon-holder .leader {
  font-size: 140%;
}
.month-grid.ultra.vertical .table-container.ultra.vertical.bookings .tr .cell .td .day-container .booking-slots .bookings-container .booking .duration-cont {
  height: 30%;
}
@media only screen and (min-width: 480px) {
  .month-grid.ultra.vertical .table-container.ultra.vertical.bookings .tr .cell .td .day-container .booking-slots .bookings-container .booking .duration-cont {
    height: 100%;
    padding-left: 16px;
    padding-right: 4px;
  }
}
.month-grid.ultra.vertical .table-container.ultra.vertical.bookings .tr .cell .td .day-container .booking-slots .bookings-container .booking .duration-cont .times {
  font-size: 0.7em;
  font-weight: 600;
}
@media only screen and (min-width: 480px) {
  .month-grid.ultra.vertical .table-container.ultra.vertical.bookings .tr .cell .td .day-container .booking-slots .bookings-container .booking .duration-cont .times {
    width: 3rem;
    text-align: right;
  }
}
.month-grid.ultra.vertical .table-container.ultra.vertical.bookings .tr .cell .td .day-container .booking-slots .bookings-container .booking .duration-cont .times > .fw {
  display: none;
}
