.f-calendar-selector {
  width: 2em;
  height: 2em;
  margin: 0 auto;
}
.f-calendar-selector span {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.f-calendar-selector span.main-legend-icon i.fa:before {
  font-size: 150%;
}
.f-calendar-selector span i.fa {
  display: inline-table;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.f-calendar-selector span i.fa.f-std-centered:before {
  display: table-cell;
  vertical-align: middle;
}
.f-calendar-selector span i.fa.sub-legend-icon.inner-60:before {
  font-size: 90%;
}
.f-calendar-selector span i.fa.sub-legend-icon.f-offset:before {
  font-size: 75%;
  top: 45%;
  position: absolute;
  left: 0;
  right: 0;
}
.f-calendar-selector span i.fa.sub-legend-icon.f-triggered:before {
  font-size: 75%;
  top: 5%;
  position: absolute;
  right: -5%;
}
.f-calendar-selector span i.fa.descriptor {
  color: lightcoral;
}
.f-calendar-selector span i.fa.descriptor-b {
  color: lightsalmon;
  font-size: 130%;
}
.month-grid .table-container.bookings .day-container .bookings-container .booking .legend-icon-cont .yes-canceled .f-calendar-selector .calendar-icon-holder .descriptor {
  color: ;
}
.month-grid .table-container.bookings .day-container .bookings-container .booking .legend-icon-cont .not-canceled .f-calendar-selector .calendar-icon-holder .descriptor {
  color: ;
}
.month-grid .table-container.bookings .day-container .bookings-container .booking .legend-icon-cont .not-activated .f-calendar-selector .calendar-icon-holder .descriptor {
  color: ;
}
.month-grid .table-container.bookings .day-container .bookings-container .booking .legend-icon-cont .null-canceled .f-calendar-selector .calendar-icon-holder .descriptor, .month-grid .table-container.bookings .day-container .bookings-container .booking .legend-icon-cont .null-activated .f-calendar-selector .calendar-icon-holder .descriptor {
  color: ;
}
.month-grid .table-container.bookings .day-container .bookings-container .booking.available-for-booking:not(.yes-selected):hover .legend-icon-cont .leader:before {
  content: "\f192";
}
.month-grid .table-container.bookings .day-container .bookings-container .booking.available-for-booking:not(.yes-selected):hover .duration-cont .times {
  text-shadow: 1px 0px 0px black, 1px 1px 0px black, -7px -2px 13px white, 7px 2px 12px white;
}
.month-grid .table-container.bookings .day-container .bookings-container .booking.available-for-booking.yes-selected .legend-icon-cont .leader:before {
  content: '\f058';
}
.month-grid .table-container.bookings .day-container .bookings-container .booking.available-for-booking.yes-selected .duration-cont .times span {
  text-decoration: underline;
}
.month-grid .table-container.bookings .day-container .bookings-container .booking.available-for-booking.yes-selected:hover {
  color: ;
}
.month-grid .table-container.bookings .day-container .bookings-container .booking.available-for-booking.yes-selected:hover .legend-icon-cont .leader:before {
  content: '\f057';
}
.month-grid .table-container.bookings .day-container .bookings-container .booking.course-finished .legend-icon-cont .leader {
  opacity: 0.5;
}
.month-grid .table-container.bookings .day-container .bookings-container .booking.course-finished .legend-icon-cont .descriptor-b, .month-grid .table-container.bookings .day-container .bookings-container .booking.course-finished .duration-cont {
  opacity: 0.5;
}
.month-grid .table-container.bookings .day-container .bookings-container .booking.course-finished .legend-icon-cont .descriptor-b {
  color: ;
}
