/*********************
 BREAKPOINTS
 *********************//* "X" icons hover *//* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edf0f4+0,eaeef1+100 */.chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms {
  background: #12408d;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room {
  width: 94%;
  margin-bottom: 0.125em;
  margin-top: 0.125em;
  padding: 0.25em 0;
  position: relative;
}
@media only screen and (min-height: 640px) {
  .chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room {
    margin-bottom: 0.25em;
    margin-top: 0.25em;
    padding: 0.375em 0;
  }
}
.chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .chat-room-info {
  width: 75%;
  position: relative;
}
@media only screen and (max-width: 479px) {
  .chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .chat-room-info {
    width: 87%;
  }
}
.chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .chat-room-info > .participants-holder {
  padding: 0 3px 0 5px;
  height: 100%;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .chat-room-info > .participants-holder .participant {
  position: relative;
  display: inline-block;
  padding-top: 0.125em;
  padding-bottom: 0.125em;
  padding-left: 0.375em;
  padding-right: 0.375em;
  border-left: 1px solid #edf0f4;
}
@media only screen and (min-width: 480px) {
  .chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .chat-room-info > .participants-holder .participant {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
@media only screen and (min-height: 640px) {
  .chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .chat-room-info > .participants-holder .participant {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  }
}
@media only screen and (max-width: 479px) {
  .chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .chat-room-info > .participants-holder .participant > span {
    font-size: 0.875em;
  }
}
.chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .chat-room-info > .participants-holder .participant .img-av-holder {
  width: 36px;
  height: 36px;
  border-radius: 5em;
  margin-right: 0.25em;
  margin-left: 0.0625em;
  -webkit-box-shadow: inset 0px 0px 1.5em 0.125em rgba(250, 235, 225, 0.1), 0px 0px 0.375em 0.15em rgba(50, 40, 40, 0.40);
  -moz-box-shadow: inset 0px 0px 1.5em 0.125em rgba(250, 235, 225, 0.1), 0px 0px 0.375em 0.15em rgba(50, 40, 40, 0.40);
  box-shadow: inset 0px 0px 1.5em 0.125em rgba(250, 235, 225, 0.1), 0px 0px 0.375em 0.15em rgba(50, 40, 40, 0.40);
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
@media only screen and (min-width: 480px) {
  .chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .chat-room-info > .participants-holder .participant .img-av-holder {
    margin-right: 0.375em;
    margin-left: 0.125em;
  }
}
.chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .chat-room-info > .participants-holder .participant .img-av-holder img {
  border-radius: 5em;
  position: relative;
  top: 4px;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .chat-room-info > .participants-holder .participant .img-av-holder > i {
  display: inline-table;
  height: 100%;
  font-size: 20px;
  padding: 8px 0;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .chat-room-info > .participants-holder .participant .img-av-holder > i:before {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .chat-room-info .hot-msg-card {
  position: absolute;
  top: 15%;
  right: -2%;
  z-index: 5;
  font-size: 0.625em;
}
@media only screen and (min-width: 480px) {
  .chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .chat-room-info .hot-msg-card {
    right: -7%;
  }
}
.chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .chat-room-info .hot-msg-card .msg-card {
  color: orangered;
  margin: 0;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .chat-room-info .hot-msg-card .number {
  margin: 0;
  font-size: 1.125em;
  color: white;
  font-family: MuseoSans;
  font-weight: 600;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .unread-messages-info {
  overflow: hidden;
  width: 10%;
  position: relative;
  text-align: center;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .unread-messages-info > i.fa {
  font-size: 85%;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .unread-messages-info .alert-unread {
  color: orangered;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .unread-messages-info .alert-unread.faa-horizontal {
  -webkit-animation: horizontal-alarm-frames 6s ease infinite;
  -moz-animation: horizontal-alarm-frames 6s ease infinite;
  -o-animation: horizontal-alarm-frames 6s ease infinite;
  animation: horizontal-alarm-frames 6s ease infinite;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .desc-info {
  width: 12%;
  position: relative;
  text-align: center;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .desc-info > i.fa {
  font-size: 1.25em;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .unread-messages-info, .chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .chat-room-info, .chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .desc-info {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
}
