/*********************
 BREAKPOINTS
 *********************//* "X" icons hover *//* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edf0f4+0,eaeef1+100 */.std-item.game {
  text-align: center;
  margin: 2px 0;
  font-family: MuseoSans;
  font-weight: 600;
  color: #0c131d;
  padding-top: 0.125em;
  padding-bottom: 0.125em;
}
@media only screen and (min-width: 570px) {
  .std-item.game {
    margin: 4px 0;
  }
}
@media only screen and (min-width: 570px) {
  .std-item.game {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  }
}
.std-item.game a {
  color: #0c131d;
}
.std-item.game .section-group-selector {
  display: block;
}
@media only screen and (min-width: 768px) {
  .std-item.game .section-group-selector:nth-of-type(1) {
    display: inline-block;
  }
}
@media only screen and (min-width: 768px) {
  .std-item.game .section-group-selector:nth-of-type(2) {
    display: inline-block;
  }
}
.std-item.game .icon-holder {
  width: 3em;
  height: 2.375em;
}
.std-item.game .icon-holder .game-icon-cont {
  background-color: #edf0f4;
}
.std-item.game .icon-holder .game-icon-cont .game-icon {
  width: 3em;
  height: 2.25em;
  position: relative;
}
.std-item.game .icon-holder .game-icon-cont .game-icon .pic-cont > .icon {
  font-size: 1.8em;
  color: #0c131d;
}
.std-item.game .icon-holder .game-icon-cont .game-icon .pic-cont > .icon.victory {
  color: #1f6d4d;
}
.std-item.game .icon-holder .game-icon-cont .game-icon .pic-cont > .icon.loss {
  color: #be2323;
}
.std-item.game .icon-holder .game-icon-cont .game-icon .pic-cont > .icon.draw {
  color: #eaaf51;
}
.std-item.game .icon-holder .game-icon-cont .game-icon .pic-cont > .icon.fa-question {
  color: rgba(18, 64, 141, .9);
}
.std-item.game .icon-holder .game-icon-cont .game-icon .overlay-pic-cont {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  clip: rect(auto 30px auto auto);
  /* IE4 to IE7 */
  clip: rect(auto, 30px, auto, auto);
}
.std-item.game .icon-holder .game-icon-cont .game-icon .overlay-pic-cont .icon-o {
  font-size: 1.8em;
}
.std-item.game .icon-holder .game-icon-cont .game-icon .overlay-pic-cont .icon-o.victory {
  color: #1f6d4d;
}
.std-item.game .icon-holder .game-icon-cont .game-icon .overlay-pic-cont .icon-o.loss {
  color: #be2323;
}
.std-item.game .icon-holder .game-icon-cont .game-icon .overlay-pic-cont .icon-o.draw {
  color: #eaaf51;
}
.std-item.game .icon-holder .game-icon-cont .game-icon .overlay-pic-cont .icon-o.fa-question {
  color: rgba(18, 64, 141, .9);
}
.std-item.game .ext-link {
  position: relative;
}
.std-item.game .ext-link .icon-holder {
  width: 3em;
  height: 2.375em;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.std-item.game .ext-link .icon-holder .ext-link-icon-cont {
  cursor: pointer;
}
.std-item.game .ext-link .icon-holder .ext-link-icon-cont .ext-link-icon {
  width: 2em;
  height: 2.25em;
  position: relative;
}
.std-item.game .ext-link .icon-holder .ext-link-icon-cont:hover {
  background-color: #edf0f4;
}
@media only screen and (max-width: 1023px) {
  .std-item.game section.td.course-span .span-info-holder .fw-std {
    display: none;
  }
}
.std-item.game section.td.course-span .span-info-holder .fw-mid {
  display: none;
}
@media only screen and (min-width: 570px) {
  .std-item.game section.td.course-span .span-info-holder .fw-mid {
    display: block;
  }
}
@media only screen and (min-width: 1024px) {
  .std-item.game section.td.course-span .span-info-holder .fw-mid {
    display: none;
  }
}
.std-item.game section.td.course-span .span-info-holder .fw-min {
  display: block;
}
@media only screen and (min-width: 570px) {
  .std-item.game section.td.course-span .span-info-holder .fw-min {
    display: none;
  }
}
.std-item.game section.td {
  text-align: left;
  padding: 0 0.5em;
  height: 2.625em;
}
@media only screen and (min-width: 1024px) {
  .std-item.game section.td {
    height: 2.875em;
  }
}
.std-item.game section.td.icon {
  width: 4em;
}
.std-item.game section.td.course-span {
  width: 12em;
}
@media only screen and (min-width: 570px) {
  .std-item.game section.td.course-span {
    width: 18em;
  }
}
@media only screen and (min-width: 1024px) {
  .std-item.game section.td.course-span {
    width: 24em;
  }
}
.std-item.game section.td.result {
  width: 14em;
}
.std-item.game section.td.ext-link {
  width: 3em;
}
