/*********************
 BREAKPOINTS
 *********************//* "X" icons hover *//* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edf0f4+0,eaeef1+100 */.home-container.main.mega {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0c131d+0,0c131d+8,eaeef1+8,edf0f4+11,12408d+11,12408d+89,edf0f4+89,eaeef1+92,0c131d+92,0c131d+100 */
  background: #0c131d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #0c131d 0%, #0c131d 8%, #eaeef1 8%, #edf0f4 11%, #12408d 11%, #12408d 89%, #edf0f4 89%, #eaeef1 92%, #0c131d 92%, #0c131d 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0c131d), color-stop(8%, #0c131d), color-stop(8%, #eaeef1), color-stop(11%, #edf0f4), color-stop(11%, #12408d), color-stop(89%, #12408d), color-stop(89%, #edf0f4), color-stop(92%, #eaeef1), color-stop(92%, #0c131d), color-stop(100%, #0c131d));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0c131d 0%, #0c131d 8%, #eaeef1 8%, #edf0f4 11%, #12408d 11%, #12408d 89%, #edf0f4 89%, #eaeef1 92%, #0c131d 92%, #0c131d 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0c131d 0%, #0c131d 8%, #eaeef1 8%, #edf0f4 11%, #12408d 11%, #12408d 89%, #edf0f4 89%, #eaeef1 92%, #0c131d 92%, #0c131d 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0c131d 0%, #0c131d 8%, #eaeef1 8%, #edf0f4 11%, #12408d 11%, #12408d 89%, #edf0f4 89%, #eaeef1 92%, #0c131d 92%, #0c131d 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #0c131d 0%, #0c131d 8%, #eaeef1 8%, #edf0f4 11%, #12408d 11%, #12408d 89%, #edf0f4 89%, #eaeef1 92%, #0c131d 92%, #0c131d 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0c131d', endColorstr='#0c131d',GradientType=0);
  /* IE6-9 */
  padding: 2em 0;
  position: relative;
}
.home-container.main.mega > div.main-img-holder {
  margin-top: 3em;
  margin-bottom: 3em;
  opacity: 0;
  overflow: hidden;
  position: relative;
}
.home-container.main.mega > div.main-img-holder.active::before {
  content: "";
  background-position-x: 80%;
  background-image: url("../../graphics/background.jpg");
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}
.home-container.main.mega .homepage-cont-holder {
  z-index: 5;
  margin: 0 auto;
  color: white;
  padding: 1em 0;
  opacity: 0;
}
@media only screen and (min-width: 380px) {
  .home-container.main.mega .homepage-cont-holder {
    padding: 1em;
  }
}
.home-container.main.mega .homepage-cont-holder .subtitle-std {
  padding: 1em 0;
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
  font-size: 0.875rem;
  box-sizing: border-box;
}
@media only screen and (min-width: 288px) {
  .home-container.main.mega .homepage-cont-holder .subtitle-std {
    padding: 1em 1em;
    min-width: 256px;
  }
}
@media only screen and (min-width: 400px) {
  .home-container.main.mega .homepage-cont-holder .subtitle-std {
    width: 75%;
    min-width: 368px;
  }
}
.home-container.main.mega .homepage-cont-holder .subtitle-std.lev1 {
  background-color: rgba(18, 64, 141, .8);
  color: #edf0f4;
  font-family: MuseoSans;
  font-weight: 600;
  text-transform: uppercase;
}
.home-container.main.mega .homepage-cont-holder .subtitle-std.lev1 h4 {
  font-size: 14px;
  font-size: 0.875rem;
}
@media only screen and (min-width: 25em) {
  .home-container.main.mega .homepage-cont-holder .subtitle-std.lev1 h4 {
    font-size: 15px;
    font-size: 0.9375rem;
  }
}
.home-container.main.mega .homepage-cont-holder .subtitle-std.lev2 {
  background-color: #edf0f4;
  color: #0c131d;
  padding: 0.5em 1em;
}
.home-container.main.mega .homepage-cont-holder .subtitle-std.lev3 {
  text-align: center;
  padding: 0.2em 0.5em 1em 0.5em;
}
.home-container.main.mega .homepage-cont-holder .subtitle-std.lev3 i.fa {
  font-size: 3em;
  color: #edf0f4;
}
.home-container.main.mega .homepage-cont-holder .subtitle-std.lev3 i.fa:first-of-type {
  font-size: 2.9em;
  transform: rotateZ(20deg);
  padding: 0.2em 0.1em 0.1em 0.4em;
}
.home-container.main.mega .homepage-cont-holder .subtitle-std.lev3 i.fa:nth-of-type(2) {
  transform: rotateZ(5deg);
  padding: 0.1em 0.3em 0em 0.5em;
}
.home-container.main.mega .homepage-cont-holder .subtitle-std.lev3 i.fa:nth-of-type(3) {
  transform: rotateZ(345deg);
  padding: 0.1em 0.1em 0em 0.6em;
  font-size: 2em;
}
.home-container.main.mega .homepage-cont-holder .subtitle-std.lev3 i.fa:nth-of-type(4) {
  transform: rotateZ(20deg);
  padding: 0em 0em 0em 0.3em;
  font-size: 3.2em;
}
.home-container.main.mega .homepage-cont-holder .subtitle-std.lev3 i.fa:nth-of-type(5) {
  padding: 0.3em 0.2em 0em 0.4em;
  font-size: 2.7em;
}
