/*********************
 BREAKPOINTS
 *********************//* "X" icons hover *//* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edf0f4+0,eaeef1+100 */.match-container.main .terrain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective-origin: 50% -12em;
  perspective-origin: 50% -12em;
  -webkit-perspective: 55em;
  perspective: 55em;
}
.match-container.main .terrain .terrain-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-style: inherit;
  transform-style: inherit;
}
.match-container.main .field {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eee;
  -webkit-transform: rotateX(90deg) translateZ(0);
  -ms-transform: rotateX(90deg) translateZ(0);
  transform: rotateX(90deg) translateZ(0);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  box-sizing: content-box;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.match-container.main .field--alt {
  display: block;
  width: 84%;
  left: 8%;
  -webkit-transform: rotateX(90deg) translateZ(-10px);
  -ms-transform: rotateX(90deg) translateZ(-10px);
  transform: rotateX(90deg) translateZ(-10px);
  background: #000;
  opacity: 0.3;
  box-shadow: 0 0 40px 20px #000;
}
.match-container.main .field__texture {
  width: 100%;
  height: 100%;
  position: absolute;
}
.match-container.main .field__texture.field__texture--gradient {
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.2), transparent);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent);
}
.match-container.main .field__texture.field__texture--gradient-b {
  opacity: 0;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2), transparent);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent);
}
.match-container.main .flipped .field__texture.field__texture--gradient {
  opacity: 0;
}
.match-container.main .flipped .field__texture.field__texture--gradient-b {
  opacity: 1;
}
.match-container.main .texture .field__texture.field__texture--grass {
  background-image: url("../../graphics/grass2.png");
  background-repeat: repeat;
  background-size: 80px 100px;
}
.match-container.main .field__side {
  position: absolute;
  top: 15.5em;
  left: 0;
  width: 100%;
  height: 8px;
  -webkit-transform: rotateX(180deg) translateZ(-15.5em);
  -ms-transform: rotateX(180deg) translateZ(-15.5em);
  transform: rotateX(180deg) translateZ(-15.5em);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  background-color: #f7f7f7;
}
.match-container.main .field__side.field__side--left, .match-container.main .field__side.field__side--right {
  top: 0;
  left: -8px;
  height: 100%;
  width: 8px;
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform: rotateX(90deg) rotateY(-90deg) translateZ(0);
  -ms-transform: rotateX(90deg) rotateY(-90deg) translateZ(0);
  transform: rotateX(90deg) rotateY(-90deg) translateZ(0);
}
.match-container.main .field__side.field__side--right {
  left: auto;
  right: 0;
}
.match-container.main .field__side.field__side--back {
  -webkit-transform: rotateX(180deg) translateZ(15.5em);
  -ms-transform: rotateX(180deg) translateZ(15.5em);
  transform: rotateX(180deg) translateZ(15.5em);
}
.match-container.main .texture .field__side {
  background-color: #000;
}
.match-container.main .texture .field__side:after {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  opacity: 0.55;
  background-image: url("../../graphics/mud.png");
  background-repeat: repeat;
  background-size: 75px 75px;
  background-position: -20px -20px;
}
.match-container.main .field__line {
  position: absolute;
  width: 100%;
  height: 3px;
}
.match-container.main .field__line--goal {
  width: 16%;
  height: 6%;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-bottom: none;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 4%;
}
.match-container.main .field__line--goal--far {
  top: 4%;
  bottom: auto;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-top: none;
}
.match-container.main .field__line--penalty-arc {
  width: 20%;
  height: 20%;
  overflow: hidden;
  bottom: 20%;
  left: 0;
  right: 0;
  margin: auto;
}
.match-container.main .field__line--penalty-arc:after {
  position: absolute;
  top: 75%;
  width: 100%;
  height: 100%;
  left: 0;
  content: ' ';
  display: block;
  border-radius: 50% 50% 0 0;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-bottom: none;
  box-sizing: border-box;
}
.match-container.main .field__line--penalty-arc--far {
  bottom: auto;
  top: 20%;
}
.match-container.main .field__line--penalty-arc--far:after {
  bottom: 75%;
  top: auto;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-top: none;
  border-radius: 0 0 50% 50%;
}
.match-container.main .field__line--penalty {
  width: 44%;
  height: 16%;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-bottom: none;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 4%;
}
.match-container.main .field__line--penalty--far {
  top: 4%;
  bottom: auto;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-top: none;
}
.match-container.main .field__line--outline {
  width: 92%;
  height: 92%;
  top: 4%;
  left: 4%;
  border: solid 3px rgba(255, 255, 255, 0.5);
}
.match-container.main .field__line--mid {
  top: 50%;
  width: 92%;
  left: 4%;
  background-color: rgba(255, 255, 255, 0.5);
}
.match-container.main .field__line--circle {
  width: 20%;
  height: 20%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
