/*********************
 BREAKPOINTS
 *********************//* "X" icons hover *//* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edf0f4+0,eaeef1+100 */.match-container.main .team {
  left: -2.25em;
}
.match-container.main .team.js-team, .match-container.main .team.js-stub-team {
  top: 3.75em;
}
.match-container.main .player {
  position: absolute;
  height: 4.5em;
  width: 4.5em;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  text-align: center;
  z-index: 2;
}
.match-container.main .player .player__placeholder {
  position: absolute;
  opacity: 0.1;
  height: 1em;
  width: 2.5em;
  bottom: -10px;
  left: 1em;
  margin: auto;
  border-radius: 50%;
  background-color: rgba(12, 19, 29, 0.3);
}
.match-container.main .player.active .player__placeholder {
  opacity: 1;
}
.match-container.main .player .player__card {
  display: none;
  font-family: MuseoSans;
  font-weight: 600;
  position: absolute;
  bottom: 1.5em;
  left: -5.5em;
  height: 16em;
  background-color: #eaeef1;
  opacity: 0.1;
  width: 15.5em;
  padding: 0;
  color: #0c131d;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, .25);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, .25);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, .25);
}
.match-container.main .player .player__card:after {
  position: absolute;
  display: block;
  content: '';
  height: 1px;
  width: 1px;
  border: solid 10px transparent;
  border-top: solid 10px #edf0f4;
  bottom: -21px;
  left: 0;
  right: 0;
  margin: auto;
  top: auto;
  box-sizing: content-box;
}
.match-container.main .player .player__card i {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px 15px;
  font-size: 24px;
  line-height: 20px;
  color: #fff;
  opacity: 0.3;
  cursor: pointer;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  -ms-transition: all 0.15s;
  transition: all 0.15s;
}
.match-container.main .player .player__card i:hover {
  opacity: 0.6;
}
.match-container.main .player .player__card .name {
  text-align: center;
  line-height: 1.5em;
  color: #edf0f4;
  padding: 0.5em 1.5em 2.5em;
  margin: 0 0 2.25em;
  border-radius: 4px 4px 0 0;
  background-color: #12408d;
}
.match-container.main .player .player__card .name h3 {
  font-size: 19px;
  font-family: MuseoSans;
  font-weight: 600;
}
.match-container.main .player .player__card .name h3 span:first-child {
  display: inline-block;
  height: 27px;
  width: 27px;
  border-radius: 50%;
  border: solid 1px #fff;
  line-height: 27px;
  opacity: 0.4;
  font-size: 18px;
}
.match-container.main .player .player__card .name h3 span:last-child {
  font-size: 14px;
  opacity: 0.4;
}
.match-container.main .player .player__card .full-name {
  font-weight: 600;
  color: maroon;
  padding: 3px;
}
.match-container.main .player .player__card .full-name span {
  font-size: 16px;
  font-size: 1rem;
}
.match-container.main .player .player__card p {
  color: #777;
  font-syle: italic;
  text-align: center;
}
.match-container.main .player .player__card .player__card__list {
  font-family: MuseoSans;
  font-weight: 600;
  padding: 10px 0;
  font-size: 14px;
  color: #777;
  overflow: auto;
  text-align: center;
}
.match-container.main .player .player__card .player__card__list li {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  font-size: 15px;
  padding-left: 20px;
  color: #333;
}
.match-container.main .player .player__card .player__card__list li span {
  font-size: 12px;
  text-transform: uppercase;
  color: #888;
  font-weight: 500;
}
.match-container.main .player .player__card .player__card__list li:first-child {
  padding-left: 0;
  border-left: none;
}
.match-container.main .player .player__card .player__card__list--last {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #eee;
  margin: 0;
  padding: 0;
  border-top: solid 1px #ddd;
  border-radius: 0 0 6px 6px;
  overflow: hidden;
}
.match-container.main .player .player__card .player__card__list--last li {
  width: 50%;
  padding: 5px 0 10px 0;
  color: maroon;
  font-size: 26px;
  line-height: 20px;
}
.match-container.main .player .player__card .player__card__list--last li:last-child {
  border-left: solid 1px #ddd;
}
.match-container.main .player .player__img {
  position: absolute;
  top: 0;
  left: 0em;
  width: 4.5em;
  height: 4.5em;
  overflow: hidden;
  border-radius: 10em;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.match-container.main .player .player__img.midi {
  top: 0.25em;
  left: 0.25em;
  width: 4em;
  height: 4em;
}
.match-container.main .player .player__img .icon-holder {
  width: 100%;
  height: 100%;
}
.match-container.main .player .player__img .icon-holder .user-avatar-cont .user-icon {
  width: 3.5em;
  height: 3.5em;
}
.match-container.main .player .player__img .icon-holder .user-avatar-cont .user-icon .pic-cont {
  border-radius: 50%;
}
.match-container.main .player .player__img .icon-holder .user-avatar-cont .user-icon .pic-cont > .icon {
  font-size: 2em;
}
.match-container.main .player .player__img .icon-holder .user-avatar-cont .user-icon .pic-cont > .v-align-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.match-container.main .player .player__img .icon-holder .user-avatar-cont .user-icon .pic-cont > img {
  max-width: 95%;
  max-height: 95%;
  border-radius: 50%;
  vertical-align: middle;
}
.match-container.main .player.teamOne .player__img:hover ~ .holder .player__label {
  -webkit-box-shadow: 0px 0px 0.5em 2px ;
  -moz-box-shadow: 0px 0px 0.5em 2px ;
  box-shadow: 0px 0px 0.5em 2px ;
}
.match-container.main .player.teamOne .player__img .icon-holder {
  background-color: ;
  color: ;
}
.match-container.main .player.teamTwo .player__img:hover ~ .holder .player__label {
  -webkit-box-shadow: 0px 0px 0.5em 2px ;
  -moz-box-shadow: 0px 0px 0.5em 2px ;
  box-shadow: 0px 0px 0.5em 2px ;
}
.match-container.main .player.teamTwo .player__img .icon-holder {
  background-color: ;
  color: ;
}
.match-container.main .player .holder {
  position: absolute;
  top: 4.375em;
  display: inline-block;
  left: -50%;
  right: -50%;
}
@media only screen and (min-width: 560px) {
  .match-container.main .player .holder {
    top: 4.75em;
  }
}
.match-container.main .player span.player__label {
  position: relative;
  display: block;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  font-family: MuseoSans;
  font-weight: 600;
  font-size: 13px;
  padding: 4px 8px 4px 8px;
  border-radius: 5em;
}
.match-container.main .player.teamOne .player__label {
  background-color: ;
  color: ;
}
.match-container.main .player.teamOne .player__label:hover {
  -webkit-box-shadow: 0px 0px 0.5em 2px ;
  -moz-box-shadow: 0px 0px 0.5em 2px ;
  box-shadow: 0px 0px 0.5em 2px ;
}
.match-container.main .player.teamTwo .player__label {
  background-color: ;
  color: ;
}
.match-container.main .player.teamTwo .player__label:hover {
  -webkit-box-shadow: 0px 0px 0.5em 2px ;
  -moz-box-shadow: 0px 0px 0.5em 2px ;
  box-shadow: 0px 0px 0.5em 2px ;
}
.match-container.main .stub-player {
  position: absolute;
  height: 4.5em;
  width: 4.5em;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.match-container.main .stub-player .player__placeholder {
  position: absolute;
  opacity: 1;
  height: 2em;
  width: 3.5em;
  bottom: -5px;
  left: 0.5em;
  margin: auto;
  border-radius: 2em;
  pointer-events: none;
  text-align: center;
}
.match-container.main .stub-player .player__placeholder i {
  font-size: 1.55em;
  position: relative;
}
@media only screen and (min-width: 560px) {
  .match-container.main .stub-player .player__placeholder i {
    font-size: 1.75em;
  }
}
.match-container.main .stub-player.teamOne .player__placeholder i {
  color: ;
}
.match-container.main .stub-player.teamOne .player__placeholder i:before {
  text-shadow: 0 0 1.5em ;
}
.match-container.main .stub-player.teamTwo .player__placeholder i {
  color: ;
}
.match-container.main .stub-player.teamTwo .player__placeholder i:before {
  text-shadow: 0 0 1.5em ;
}
