/*********************
 BREAKPOINTS
 *********************//* "X" icons hover *//* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edf0f4+0,eaeef1+100 */#unread-messages {
  max-width: 31em;
  text-align: center;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
@media only screen and (min-width: 480px) {
  #unread-messages {
    margin-left: 1em;
    margin-right: 1em;
  }
}
#unread-messages .std-item.profile-home-message {
  max-width: 31em;
  display: block;
  text-align: center;
  margin: 0 auto;
}
#unread-messages .std-item.profile-home-message .inner-box {
  padding: 6px 0 4px 0;
}
#unread-messages .std-item.profile-home-message:not(:last-of-type) {
  border-bottom: 2px dashed #edf0f4;
}
#unread-messages .std-item.profile-home-message section.td {
  border: 0;
  display: table-cell;
  vertical-align: top;
}
#unread-messages .std-item.profile-home-message section.td.message {
  max-width: 28em;
  text-align: left;
}
#unread-messages .std-item.profile-home-message section.td.message .time-label-holder {
  width: 12em;
  height: 1.75em;
  display: inline-table;
  position: relative;
  padding: 0 0.5em;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease-out;
  -moz-transition: all 0.45s ease-out;
  -o-transition: all 0.45s ease-out;
  -ms-transition: all 0.45s ease-out;
  transition: all 0.45s ease-out;
  color: #0c131d;
}
#unread-messages .std-item.profile-home-message section.td.message .time-label-holder > span {
  display: table-cell;
  vertical-align: middle;
  font-size: 0.8em;
}
#unread-messages .std-item.profile-home-message section.td.message .message-holder {
  padding: 0.25em 0.5em;
  color: #edf0f4;
}
#unread-messages .std-item.profile-home-message section.td.message .message-holder span {
  font-size: 0.95em;
}
#unread-messages .std-item.profile-home-message section.td.message .message-holder span > span {
  font-size: 1em;
}
#unread-messages .std-item.profile-home-message section.td.message .message-holder ol, #unread-messages .std-item.profile-home-message section.td.message .message-holder ul {
  list-style: square inside none;
  text-indent: -1em;
  padding-left: 1em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
#unread-messages .std-item.profile-home-message section.td.message .message-holder .std-item.sender {
  margin-top: 4px;
  margin-left: 6px;
  min-width: 6em;
  padding: 3px 2px 2px 2px;
  border-top: 1px solid #edf0f4;
  display: inline-block;
}
#unread-messages .std-item.profile-home-message section.td.message .message-holder .msg-sender-icon-holder {
  width: 2.375em;
  height: 2.375em;
  background-color: #eaeef1;
  color: #edf0f4;
  margin-left: 6px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
}
#unread-messages .std-item.profile-home-message section.td.message .message-holder .msg-sender-icon-holder .pic-cont > img {
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
}
#unread-messages .std-item.profile-home-message section.td.message .message-holder .sender-label {
  display: inline-table;
  height: 2.375em;
  vertical-align: top;
}
#unread-messages .std-item.profile-home-message section.td.message .message-holder .sender-label > span {
  display: table-cell;
  vertical-align: middle;
  padding: 0px 6px;
  font-size: 0.9em;
  opacity: 0.9;
}
#unread-messages .std-item.profile-home-message section.td.message .message-holder .std-item.active-booking-user {
  margin-top: 4px;
  margin-left: 6px;
  min-width: 6em;
  padding: 3px 2px 2px 2px;
  display: inline-block;
  vertical-align: top;
}
#unread-messages .std-item.profile-home-message section.td.message .message-holder .active-booking-user-icon-holder {
  width: 2.375em;
  height: 2.375em;
  background-color: #eaeef1;
  color: #0c131d;
  margin-left: 6px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
}
#unread-messages .std-item.profile-home-message section.td.message .message-holder .active-booking-user-icon-holder .pic-cont > img {
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
}
#unread-messages .std-item.profile-home-message section.td.message .message-holder .active-booking-user-label {
  display: inline-table;
  height: 2.375em;
  vertical-align: top;
}
#unread-messages .std-item.profile-home-message section.td.message .message-holder .active-booking-user-label > span {
  display: table-cell;
  vertical-align: middle;
  padding: 0px 6px;
  font-size: 0.9em;
}
#unread-messages .std-item.profile-home-message section.td.has-been-read-status {
  width: 3em;
}
#unread-messages .std-item.profile-home-message section.td.has-been-read-status .status-holder {
  display: inline-table;
  width: 100%;
  height: 100%;
}
#unread-messages .std-item.profile-home-message section.td.has-been-read-status .status-holder a {
  line-height: 1.75em;
  width: 3em;
  cursor: pointer;
  display: block;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#unread-messages .std-item.profile-home-message section.td.has-been-read-status .status-holder a span {
  vertical-align: middle;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#unread-messages .std-item.profile-home-message section.td.has-been-read-status .status-holder a span.selector {
  color: rgba(237, 240, 244, .6);
  font-size: 1.35em;
  width: 100%;
  text-align: left;
  margin-left: 0.5em;
}
#unread-messages .std-item.profile-home-message section.td.has-been-read-status .status-holder a.active:hover span.selector {
  color: #edf0f4;
}
#unread-messages .std-item.profile-home-message section.td.has-been-read-status .status-holder a.active:hover span.selector:not(.fa-spin):before {
  content: '\f046';
}
#unread-messages .std-item.profile-home-message.has-not-been-read section.td.message .time-label-holder {
  background-color: #12408d;
  color: white;
}
#unread-messages .std-item.profile-home-message.has-been-read section.td.message .time-label-holder {
  color: #0c131d;
  background-color: #edf0f4;
}
