/*********************
 BREAKPOINTS
 *********************//* "X" icons hover *//* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edf0f4+0,eaeef1+100 */#hot-bookings {
  max-width: 28.5em;
  text-align: center;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
@media only screen and (min-width: 480px) {
  #hot-bookings {
    margin-left: 1em;
    margin-right: 1em;
  }
}
#hot-bookings .std-item.profile-hot-booking {
  max-width: 19.5em;
  display: block;
  text-align: center;
  margin: 0 auto;
}
@media only screen and (min-width: 480px) {
  #hot-bookings .std-item.profile-hot-booking {
    max-width: 28.5em;
  }
}
#hot-bookings .std-item.profile-hot-booking .inner-box {
  padding: 4px 0 3px 0;
}
#hot-bookings .std-item.profile-hot-booking section.td {
  border: 0;
  display: table-cell;
  vertical-align: top;
}
#hot-bookings .std-item.profile-hot-booking section.td.icon {
  width: 2.5em;
}
@media only screen and (min-width: 480px) {
  #hot-bookings .std-item.profile-hot-booking section.td.icon {
    width: 3em;
  }
}
#hot-bookings .std-item.profile-hot-booking section.td.icon .icon-holder {
  width: 2.5em;
  height: 2.375em;
}
@media only screen and (min-width: 480px) {
  #hot-bookings .std-item.profile-hot-booking section.td.icon .icon-holder {
    width: 3em;
  }
}
#hot-bookings .std-item.profile-hot-booking section.td.icon .icon-holder .booking-icon-cont .booking-icon {
  width: 1.75em;
  position: relative;
}
@media only screen and (min-width: 480px) {
  #hot-bookings .std-item.profile-hot-booking section.td.icon .icon-holder .booking-icon-cont .booking-icon {
    width: 2em;
  }
}
#hot-bookings .std-item.profile-hot-booking section.td.icon .icon-holder .booking-icon-cont .booking-icon .overlay-pic-cont {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#hot-bookings .std-item.profile-hot-booking section.td.label {
  max-width: 11em;
  padding: 0 0.25em;
  position: relative;
}
@media only screen and (min-width: 480px) {
  #hot-bookings .std-item.profile-hot-booking section.td.label {
    max-width: 15em;
  }
}
#hot-bookings .std-item.profile-hot-booking section.td.label > span {
  font-size: 0.95em;
}
#hot-bookings .std-item.profile-hot-booking section.td.label .info-overlay, #hot-bookings .std-item.profile-hot-booking section.td.label .info-overlay-right {
  display: none;
  position: absolute;
  top: 0;
  height: 100%;
}
#hot-bookings .std-item.profile-hot-booking section.td.label .info-overlay .info-holder {
  height: 100%;
  width: 100%;
  position: relative;
  display: inline-table;
  text-align: center;
}
#hot-bookings .std-item.profile-hot-booking section.td.label .info-overlay .info-holder > span {
  font-size: 14px;
  font-size: 0.875rem;
}
#hot-bookings .std-item.profile-hot-booking section.td.label .info-overlay .info-holder .datetime-holder, #hot-bookings .std-item.profile-hot-booking section.td.label .info-overlay .info-holder .availability-holder {
  display: inline-table;
  text-align: center;
  vertical-align: middle;
  height: 100%;
  position: relative;
}
#hot-bookings .std-item.profile-hot-booking section.td.label .info-overlay .info-holder .datetime-holder {
  width: 65%;
}
#hot-bookings .std-item.profile-hot-booking section.td.label .info-overlay .info-holder .datetime-holder .datetime {
  text-align: center;
  width: 100%;
}
#hot-bookings .std-item.profile-hot-booking section.td.label .info-overlay .info-holder .datetime-holder > div {
  display: inline-table;
  width: 100%;
}
#hot-bookings .std-item.profile-hot-booking section.td.label .info-overlay .info-holder .datetime-holder > div span {
  font-size: 14px;
  font-size: 0.875rem;
}
#hot-bookings .std-item.profile-hot-booking section.td.label .info-overlay .info-holder .availability-holder {
  width: 35%;
  text-align: center;
  -webkit-transition: all 0.32s ease-out;
  -moz-transition: all 0.32s ease-out;
  -o-transition: all 0.32s ease-out;
  -ms-transition: all 0.32s ease-out;
  transition: all 0.32s ease-out;
}
#hot-bookings .std-item.profile-hot-booking section.td.label .info-overlay .info-holder .availability-holder:hover {
  color: #0c131d;
  background-color: #edf0f4;
}
#hot-bookings .std-item.profile-hot-booking section.td.label .info-overlay .info-holder .availability-holder > span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
}
#hot-bookings .std-item.profile-hot-booking section.td.label .info-overlay .info-holder .availability-holder > span i.fa {
  font-size: 15px;
  font-size: 0.9375rem;
}
#hot-bookings .std-item.profile-hot-booking section.td.info {
  width: 2.5em;
  position: relative;
}
#hot-bookings .std-item.profile-hot-booking section.td.info .icon-holder {
  width: 2.5em;
  height: 2.375em;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#hot-bookings .std-item.profile-hot-booking section.td.info .icon-holder .info-icon-cont .info-icon {
  width: 2em;
  height: 2.375em;
  position: relative;
}
#hot-bookings .std-item.profile-hot-booking section.td.info .icon-holder .info-icon-cont .info-icon .pic-cont > .icon {
  color: #eaeef1;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
#hot-bookings .std-item.profile-hot-booking section.td.cancelation {
  width: 3em;
  position: relative;
}
@media only screen and (min-width: 480px) {
  #hot-bookings .std-item.profile-hot-booking section.td.cancelation {
    width: 8em;
  }
}
#hot-bookings .std-item.profile-hot-booking section.td.cancelation .icon-holder {
  width: 100%;
  height: 2.375em;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#hot-bookings .std-item.profile-hot-booking section.td.cancelation .icon-holder .cancel-label {
  text-align: right;
  vertical-align: middle;
  display: table-cell;
  overflow: hidden;
  font-size: 0.9em;
}
#hot-bookings .std-item.profile-hot-booking section.td.cancelation .icon-holder .cancelation-icon-cont .cancelation-icon {
  width: 2em;
  height: 2.375em;
  position: relative;
}
#hot-bookings .std-item.profile-hot-booking section.td.cancelation .icon-holder .cancelation-icon-cont .cancelation-icon .pic-cont > .icon {
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#hot-bookings .std-item.profile-hot-booking section.td.cancelation .icon-holder:hover {
  background-color: #0c131d;
  color: #edf0f4;
}
#hot-bookings .std-item.profile-hot-booking section.td.cancelation .icon-holder:hover .pic-cont > .icon {
  color: #ae2e15;
}
#hot-bookings .std-item.profile-hot-booking section.td.cancelation .info-overlay, #hot-bookings .std-item.profile-hot-booking section.td.cancelation .info-overlay-right {
  display: none;
  position: absolute;
  top: 0;
  height: 100%;
}
#hot-bookings .std-item.profile-hot-booking section.td.cancelation .info-overlay-right {
  color: white;
  background-color: #12408d;
  left: 0;
  width: 3em;
}
@media only screen and (min-width: 480px) {
  #hot-bookings .std-item.profile-hot-booking section.td.cancelation .info-overlay-right {
    width: 100%;
    left: 0;
  }
}
#hot-bookings .std-item.profile-hot-booking section.td.cancelation .info-overlay-right .info-holder {
  height: 100%;
  width: 100%;
  position: relative;
  display: inline-table;
  text-align: center;
}
#hot-bookings .std-item.profile-hot-booking section.td.cancelation .info-overlay-right .info-holder > span {
  font-size: 14px;
  font-size: 0.875rem;
}
#hot-bookings .std-item.profile-hot-booking section.td.cancelation .info-overlay-right .info-holder .datetime-holder {
  display: inline-table;
  text-align: center;
  vertical-align: middle;
  height: 100%;
  position: relative;
}
#hot-bookings .std-item.profile-hot-booking section.td.cancelation .info-overlay-right .info-holder .datetime-holder {
  width: 100%;
}
#hot-bookings .std-item.profile-hot-booking section.td.cancelation .info-overlay-right .info-holder .datetime-holder .datetime {
  text-align: center;
  width: 100%;
}
#hot-bookings .std-item.profile-hot-booking section.td.cancelation .info-overlay-right .info-holder .datetime-holder > div {
  display: inline-table;
  width: 100%;
}
#hot-bookings .std-item.profile-hot-booking section.td.cancelation .info-overlay-right .info-holder .datetime-holder > div span {
  font-size: 14px;
  font-size: 0.875rem;
}
#hot-bookings .std-item.profile-hot-booking.booking-not-allowed .td.label .info-overlay {
  color: #0c131d;
  background-color: #edf0f4;
  left: -2.5em;
  width: calc(100% + (3em - 0.5em));
}
@media only screen and (min-width: 480px) {
  #hot-bookings .std-item.profile-hot-booking.booking-not-allowed .td.label .info-overlay {
    width: 100%;
    left: 0;
  }
}
#hot-bookings .std-item.profile-hot-booking.booking-not-allowed .td.info .icon-holder:hover, #hot-bookings .std-item.profile-hot-booking.booking-not-allowed .td.info .icon-holder.clicked {
  background-color: #eaeef1;
}
#hot-bookings .std-item.profile-hot-booking.booking-not-allowed .td.info .icon-holder:hover .info-icon .pic-cont > .icon, #hot-bookings .std-item.profile-hot-booking.booking-not-allowed .td.info .icon-holder.clicked .info-icon .pic-cont > .icon {
  color: #0c131d;
}
#hot-bookings .std-item.profile-hot-booking.booking-not-allowed .td.icon .icon-holder {
  background-color: #edf0f4;
}
#hot-bookings .std-item.profile-hot-booking.booking-not-allowed .td.icon .icon-holder .booking-icon {
  height: 2.375em;
}
#hot-bookings .std-item.profile-hot-booking.booking-not-allowed .td.icon .icon-holder .booking-icon .pic-cont > .icon {
  font-size: 2em;
  color: #0c131d;
}
#hot-bookings .std-item.profile-hot-booking.booking-not-allowed .td.icon .icon-holder .booking-icon .pic-cont > .icon.fa-check {
  color: #1f6d4d;
}
#hot-bookings .std-item.profile-hot-booking.booking-not-allowed .td.icon .icon-holder .booking-icon .pic-cont > .icon.fa-times {
  color: #8d2d24;
}
#hot-bookings .std-item.profile-hot-booking.booking-not-allowed .td.icon .icon-holder .booking-icon .pic-cont > .icon.fa-question {
  color: rgba(18, 64, 141, .9);
}
#hot-bookings .std-item.profile-hot-booking.booking-ended .td.icon .icon-holder {
  background-color: #0c131d;
}
#hot-bookings .std-item.profile-hot-booking.booking-ended .td.icon .icon-holder .booking-icon {
  height: 2.375em;
}
#hot-bookings .std-item.profile-hot-booking.booking-ended .td.icon .icon-holder .booking-icon .pic-cont .icon {
  color: #edf0f4;
  font-size: 1.25em;
}
#hot-bookings .std-item.profile-hot-booking.booking-ended .td.icon .icon-holder .booking-icon .pic-cont .icon.fa-check {
  color: #1f6d4d;
}
#hot-bookings .std-item.profile-hot-booking.booking-ended .td.icon .icon-holder .booking-icon .pic-cont .icon.fa-times {
  color: #8d2d24;
}
#hot-bookings .std-item.profile-hot-booking.booking-ended .td.icon .icon-holder .booking-icon .pic-cont .icon.fa-question {
  color: #edf0f4;
}
#hot-bookings .std-item.profile-hot-booking.booking-allowed .td.label .info-overlay {
  color: white;
  background-color: #12408d;
  left: -2.5em;
  width: calc(100% + (3em - 0.5em));
}
@media only screen and (min-width: 480px) {
  #hot-bookings .std-item.profile-hot-booking.booking-allowed .td.label .info-overlay {
    width: 100%;
    left: 0;
  }
}
#hot-bookings .std-item.profile-hot-booking.booking-allowed .td.info .icon-holder:hover, #hot-bookings .std-item.profile-hot-booking.booking-allowed .td.info .icon-holder.clicked {
  background-color: #12408d;
}
#hot-bookings .std-item.profile-hot-booking.booking-allowed .td.info .icon-holder:hover .info-icon .pic-cont > .icon, #hot-bookings .std-item.profile-hot-booking.booking-allowed .td.info .icon-holder.clicked .info-icon .pic-cont > .icon {
  color: white;
}
#hot-bookings .std-item.profile-hot-booking.booking-allowed .td.icon .icon-holder {
  background-color: #12408d;
}
#hot-bookings .std-item.profile-hot-booking.booking-allowed .td.icon .icon-holder .booking-icon {
  height: 2.375em;
}
#hot-bookings .std-item.profile-hot-booking.booking-allowed .td.icon .icon-holder .booking-icon .pic-cont {
  color: white;
}
#hot-bookings .std-item.profile-hot-booking.booking-allowed .td.icon .icon-holder .booking-icon .pic-cont > .icon {
  font-size: 1.5em;
}
#hot-bookings .std-item.profile-hot-booking.booking-allowed .td.icon .icon-holder .booking-icon .overlay-pic-cont .icon-o {
  color: #edf0f4;
  font-size: 0.85em;
  position: absolute;
  right: -10px;
}
