/*********************
 BREAKPOINTS
 *********************//* "X" icons hover *//* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edf0f4+0,eaeef1+100 */.content-wrap {
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.content {
  position: relative;
  min-height: 100%;
}
.content::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 25;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  content: '';
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: opacity 0.4s, -webkit-transform 0s 0.4s;
  transition: opacity 0.4s, transform 0s 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
/* Menu */.chat-overlay-wrap {
  position: absolute;
  z-index: 1035;
  width: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#183293+0,122b72+100 */
  background: #183293;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #183293 0, #122b72 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #183293 0, #122b72 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #183293 0, #122b72 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#183293', endColorstr='#122b72',GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  padding-top: 1.5em;
  top: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  min-height: 100%;
  height: 100%;
  overflow: hidden;
}
.chat-overlay-wrap .loading-gif-div {
  color: #eaeef1;
  background-color: rgba(0, 0, 0, .8);
}
.chat-overlay-wrap a, .chat-overlay-wrap span, .chat-overlay-wrap h4, .chat-overlay-wrap h5, .chat-overlay-wrap p, .chat-overlay-wrap blockquote {
  font-family: MuseoSans;
  font-weight: 600;
}
.chat-overlay-wrap a, .chat-overlay-wrap p {
  color: #eaeef1;
}
.chat-overlay-wrap p {
  color: #edf0f4;
}
.chat-overlay-wrap .status-info-holder {
  width: 100%;
  text-align: left;
  height: 1.5em;
  color: white;
  display: block;
  position: absolute;
  top: 0;
  padding-left: 0.5em;
  overflow: hidden;
}
.chat-overlay-wrap .status-info-holder .req-status-container {
  height: 100%;
  position: relative;
  width: 100%;
  vertical-align: top;
}
.chat-overlay-wrap .status-info-holder .req-status-container .req-status-info {
  height: 100%;
  position: relative;
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
  /* clear the float */
}
.chat-overlay-wrap .status-info-holder .req-status-container .req-status-info > * {
  height: 100%;
}
.chat-overlay-wrap .status-info-holder .req-status-container .req-status-info > *:before, .chat-overlay-wrap .status-info-holder .req-status-container .req-status-info > *:after {
  content: "";
  vertical-align: middle;
  height: 100%;
  display: inline-block;
}
.chat-overlay-wrap .status-info-holder .req-status-container .req-status-info .version-title {
  float: left;
  width: 8em;
}
.chat-overlay-wrap .status-info-holder .req-status-container .req-status-info .version-title span {
  font-size: 0.625em;
  vertical-align: middle;
}
.chat-overlay-wrap .status-info-holder .req-status-container .req-status-info .chat-error-message {
  overflow: hidden;
  background-color: #eaeef1;
  color: #bf1a1a;
  padding: 0 0.75em;
  cursor: pointer;
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  -moz-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  -o-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  -ms-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
}
.chat-overlay-wrap .status-info-holder .req-status-container .req-status-info .chat-error-message:hover {
  color: white;
  background-color: #be2323;
}
.chat-overlay-wrap .status-info-holder .req-status-container .req-status-info .chat-error-message span {
  font-size: 0.75em;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}
.chat-overlay-wrap .status-info-holder .req-status-container .req-status-info .req-status {
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  -ms-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
  width: 2em;
  text-align: center;
  font-size: 0.5em;
  vertical-align: middle;
}
.chat-overlay-wrap .status-info-holder .req-status-container .req-status-info .req-status.faa-pulsation-a {
  -webkit-animation: pulsate-frames 1.25s ease infinite;
  -moz-animation: pulsate-frames 1.25s ease infinite;
  -o-animation: pulsate-frames 1.25s ease infinite;
  animation: pulsate-frames 1.25s ease infinite;
}
.chat-overlay-wrap .status-info-holder .req-status-container .req-status-info .req-status.no-req {
  color: rgba(255, 255, 255, 0.5);
}
.chat-overlay-wrap .status-info-holder .req-status-container .req-status-info .req-status.act-req {
  color: rgba(124, 252, 0, 0.95);
}
.chat-overlay-wrap .status-info-holder .req-status-container .req-status-info .req-status.pend-req {
  color: rgba(255, 165, 0, .9);
}
.chat-overlay-wrap .status-info-holder .req-status-container .req-status-info .req-status.canc-req {
  color: rgba(255, 0, 0, .7);
}
.chat-overlay-wrap .status-info-holder .req-status-container .req-status-info .req-status.end-req {
  color: dodgerblue;
}
.chat-overlay-wrap .chat-menu-bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.chat-overlay-wrap .chat-menu-bottom ul.chat-menu-items {
  width: 100%;
}
.chat-overlay-wrap .chat-menu-bottom ul.chat-menu-items li {
  position: relative;
}
.chat-overlay-wrap .chat-menu-bottom ul.chat-menu-items > li {
  text-align: center;
  display: inline-table;
  width: 20%;
  vertical-align: bottom;
}
.chat-overlay-wrap .chat-menu-bottom ul.chat-menu-items > li a {
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  -moz-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  -o-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  -ms-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
}
.chat-overlay-wrap .chat-menu-bottom ul.chat-menu-items > li a:hover, .chat-overlay-wrap .chat-menu-bottom ul.chat-menu-items > li a:focus {
  background-color: #eaeef1;
  color: #0c131d;
}
.chat-overlay-wrap .chat-menu-bottom ul.chat-menu-items > li a.closing-chat-btn:hover, .chat-overlay-wrap .chat-menu-bottom ul.chat-menu-items > li a.closing-chat-btn:focus {
  color: #ae2e15;
  background-color: #eaeef1;
}
.chat-overlay-wrap .chat-menu-bottom ul.chat-menu-items > li > a, .chat-overlay-wrap .chat-menu-bottom ul.chat-menu-items > li > span {
  cursor: pointer;
  display: block;
  height: 3em;
  line-height: 3em;
  background-color: #12408d;
  background-image: transparent;
  /* Old browsers */
  background-image: -moz-linear-gradient(top, #0c131d 0%, #0c131d 8%, #eaeef1 8%, #edf0f4 11%, rgba(18, 64, 141, 0) 11%, rgba(18, 64, 141, 0) 89%, #edf0f4 89%, #eaeef1 92%, #0c131d 92%, #0c131d 100%);
  /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0c131d), color-stop(8%, #0c131d), color-stop(8%, #eaeef1), color-stop(11%, #edf0f4), color-stop(11%, rgba(18, 64, 141, 0)), color-stop(89%, rgba(18, 64, 141, 0)), color-stop(89%, #edf0f4), color-stop(92%, #eaeef1), color-stop(92%, #0c131d), color-stop(100%, #0c131d));
  /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #0c131d 0%, #0c131d 8%, #eaeef1 8%, #edf0f4 11%, rgba(18, 64, 141, 0) 11%, rgba(18, 64, 141, 0) 89%, #edf0f4 89%, #eaeef1 92%, #0c131d 92%, #0c131d 100%);
  /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #0c131d 0%, #0c131d 8%, #eaeef1 8%, #edf0f4 11%, rgba(18, 64, 141, 0) 11%, rgba(18, 64, 141, 0) 89%, #edf0f4 89%, #eaeef1 92%, #0c131d 92%, #0c131d 100%);
  /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #0c131d 0%, #0c131d 8%, #eaeef1 8%, #edf0f4 11%, rgba(18, 64, 141, 0) 11%, rgba(18, 64, 141, 0) 89%, #edf0f4 89%, #eaeef1 92%, #0c131d 92%, #0c131d 100%);
  /* IE10+ */
  background-image: linear-gradient(to bottom, #0c131d 0%, #0c131d 8%, #eaeef1 8%, #edf0f4 11%, rgba(18, 64, 141, 0) 11%, rgba(18, 64, 141, 0) 89%, #edf0f4 89%, #eaeef1 92%, #0c131d 92%, #0c131d 100%);
  /* W3C */
}
@media only screen and (min-height: 540px) {
  .chat-overlay-wrap .chat-menu-bottom ul.chat-menu-items > li > a, .chat-overlay-wrap .chat-menu-bottom ul.chat-menu-items > li > span {
    height: 4em;
    line-height: 4em;
  }
}
@media only screen and (max-width: 767px) {
  .chat-overlay-wrap .chat-menu-bottom ul.chat-menu-items > li > a i.fa, .chat-overlay-wrap .chat-menu-bottom ul.chat-menu-items > li > span i.fa, .chat-overlay-wrap .chat-menu-bottom ul.chat-menu-items > li > a span, .chat-overlay-wrap .chat-menu-bottom ul.chat-menu-items > li > span span {
    width: 100%;
    display: inline-table;
    vertical-align: top;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  .chat-overlay-wrap .chat-menu-bottom ul.chat-menu-items > li > a i.fa, .chat-overlay-wrap .chat-menu-bottom ul.chat-menu-items > li > span i.fa, .chat-overlay-wrap .chat-menu-bottom ul.chat-menu-items > li > a span, .chat-overlay-wrap .chat-menu-bottom ul.chat-menu-items > li > span span {
    display: inline-block;
    margin: 0 5px;
  }
}
@media only screen and (max-width: 991px) {
  .chat-overlay-wrap .chat-menu-bottom ul.chat-menu-items > li > a span, .chat-overlay-wrap .chat-menu-bottom ul.chat-menu-items > li > span span {
    font-size: 0.9em;
  }
}
@media only screen and (max-width: 767px) {
  .chat-overlay-wrap .chat-menu-bottom ul.chat-menu-items > li > a i.fa, .chat-overlay-wrap .chat-menu-bottom ul.chat-menu-items > li > span i.fa {
    height: 100%;
    font-size: 1.65em;
  }
}
@media only screen and (max-width: 640px) and (min-height: 640px) {
  .chat-overlay-wrap .chat-menu-bottom ul.chat-menu-items > li > a i.fa, .chat-overlay-wrap .chat-menu-bottom ul.chat-menu-items > li > span i.fa {
    font-size: 1.75em;
  }
}
@media only screen and (max-width: 767px) {
  .chat-overlay-wrap .chat-menu-bottom ul.chat-menu-items > li > a i.fa:before, .chat-overlay-wrap .chat-menu-bottom ul.chat-menu-items > li > span i.fa:before {
    display: table-cell;
    vertical-align: middle;
  }
}
.chat-overlay-wrap .chat-menu-bottom ul.chat-menu-items > li > a .hot-card {
  position: absolute;
  top: 14%;
  right: 10%;
  font-size: 0.625em;
}
@media only screen and (max-height: 539px) {
  .chat-overlay-wrap .chat-menu-bottom ul.chat-menu-items > li > a .hot-card {
    top: 4%;
  }
}
@media only screen and (min-width: 768px) {
  .chat-overlay-wrap .chat-menu-bottom ul.chat-menu-items > li > a .hot-card {
    right: 0;
  }
}
.chat-overlay-wrap .chat-menu-bottom ul.chat-menu-items > li > a .hot-card .card {
  color: orangered;
  margin: 0;
}
.chat-overlay-wrap .chat-menu-bottom ul.chat-menu-items > li > a .hot-card .number {
  margin: 0;
  font-size: 1.125em;
  color: white;
  font-family: MuseoSans;
  font-weight: 600;
}
.chat-overlay-wrap .chat-menu-bottom ul.chat-menu-items > li.open > a, .chat-overlay-wrap .chat-menu-bottom ul.chat-menu-items > li.open > span {
  background-color: #0c131d;
  color: #edf0f4;
}
.chat-overlay-wrap .filter-section-desc-holder .section-desc-filters .filter {
  height: 1.5em;
}
@media only screen and (min-height: 640px) {
  .chat-overlay-wrap .filter-section-desc-holder .section-desc-filters .filter {
    height: 2em;
  }
}
.chat-overlay-wrap .filter-section-desc-holder .section-desc-filters .filter.filter-current-chat {
  height: 2.5em;
}
.chat-overlay-wrap .chat-content-holder.scroll-pane {
  width: 100%;
  overflow: auto;
}
.chat-overlay-wrap .chat-content-holder.scroll-pane:not(.pane-current-chat) {
  height: -moz-calc(100% - 3em - 1.5em);
  height: -o-calc(100% - 3em - 1.5em);
  height: -webkit-calc(100% - 3em - 1.5em);
  height: calc(100% - 3em - 1.5em);
}
@media only screen and (min-height: 540px) {
  .chat-overlay-wrap .chat-content-holder.scroll-pane:not(.pane-current-chat) {
    height: -moz-calc(100% - 4em - 1.5em);
    height: -o-calc(100% - 4em - 1.5em);
    height: -webkit-calc(100% - 4em - 1.5em);
    height: calc(100% - 4em - 1.5em);
  }
}
@media only screen and (min-height: 640px) {
  .chat-overlay-wrap .chat-content-holder.scroll-pane:not(.pane-current-chat) {
    height: -moz-calc(100% - 4em - 2em);
    height: -o-calc(100% - 4em - 2em);
    height: -webkit-calc(100% - 4em - 2em);
    height: calc(100% - 4em - 2em);
  }
}
.chat-overlay-wrap .chat-content-holder.scroll-pane.pane-current-chat {
  height: -moz-calc(100% - 3em - 2.5em);
  height: -o-calc(100% - 3em - 2.5em);
  height: -webkit-calc(100% - 3em - 2.5em);
  height: calc(100% - 3em - 2.5em);
}
@media only screen and (min-height: 540px) {
  .chat-overlay-wrap .chat-content-holder.scroll-pane.pane-current-chat {
    height: -moz-calc(100% - 4em - 2.5em);
    height: -o-calc(100% - 4em - 2.5em);
    height: -webkit-calc(100% - 4em - 2.5em);
    height: calc(100% - 4em - 2.5em);
  }
}
.chat-overlay-wrap .chat-content-holder.scroll-pane > .jspContainer {
  display: inline-table;
}
.chat-overlay-wrap .chat-content-holder.scroll-pane > .jspContainer > .jspPane {
  vertical-align: bottom;
  display: table-cell;
  height: 100%;
}
.chat-overlay-wrap a:hover, .chat-overlay-wrap a:focus {
  outline: none;
}
.chat-overlay-wrap button:focus {
  outline: none;
}
a {
  cursor: pointer;
}
/* Shown menu */.show-menu {
  overflow: hidden;
}
.show-menu .chat-overlay-wrap {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.show-menu .content::before {
  opacity: 1;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.clearfix:before, .clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}
/*********************
 BREAKPOINTS
 *********************//* "X" icons hover *//* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edf0f4+0,eaeef1+100 */.chat-content-holder nav.chat.chat-nav-filters {
  width: 100%;
  display: none;
  font-family: MuseoSans;
  font-weight: 600;
  z-index: 29;
  overflow: hidden;
  max-height: 100%;
  position: relative;
  height: 100%;
}
.chat-content-holder nav.chat.chat-nav-filters .filter {
  display: none;
  overflow: hidden;
  text-align: left;
  max-height: 100%;
  height: 100%;
  /* position: absolute; */
  width: 100%;
}
.chat-content-holder nav.chat.chat-nav-filters .filter:before {
  display: table;
  content: " ";
}
.chat-content-holder nav.chat.chat-nav-filters .filter.filter-users .users-container .user, .chat-content-holder nav.chat.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .user, .chat-content-holder nav.chat.chat-nav-filters .filter.filter-users .users-container .chat-room, .chat-content-holder nav.chat.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room {
  cursor: pointer;
  color: #edf0f4;
  display: block;
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  -moz-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  -o-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  -ms-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
}
.chat-content-holder nav.chat.chat-nav-filters .filter.filter-users .users-container .user:hover, .chat-content-holder nav.chat.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .user:hover, .chat-content-holder nav.chat.chat-nav-filters .filter.filter-users .users-container .chat-room:hover, .chat-content-holder nav.chat.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room:hover, .chat-content-holder nav.chat.chat-nav-filters .filter.filter-users .users-container .user:focus, .chat-content-holder nav.chat.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .user:focus, .chat-content-holder nav.chat.chat-nav-filters .filter.filter-users .users-container .chat-room:focus, .chat-content-holder nav.chat.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room:focus {
  background-color: #eaeef1;
  color: #0c131d;
}
.chat-content-holder nav.chat.chat-nav-filters .filter.filter-users .users-container .user .user-info, .chat-content-holder nav.chat.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .user .user-info, .chat-content-holder nav.chat.chat-nav-filters .filter.filter-users .users-container .chat-room .user-info, .chat-content-holder nav.chat.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .user-info {
  display: inline-table;
  height: 100%;
  vertical-align: bottom;
}
.chat-content-holder nav.chat.chat-nav-filters .filter.filter-users .users-container .user .user-info > *, .chat-content-holder nav.chat.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .user .user-info > *, .chat-content-holder nav.chat.chat-nav-filters .filter.filter-users .users-container .chat-room .user-info > *, .chat-content-holder nav.chat.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .user-info > * {
  display: table-cell;
  vertical-align: middle;
}
.chat-content-holder nav.chat.chat-nav-filters .filter.filter-users .users-container .user .user-info > div > span, .chat-content-holder nav.chat.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .user .user-info > div > span, .chat-content-holder nav.chat.chat-nav-filters .filter.filter-users .users-container .chat-room .user-info > div > span, .chat-content-holder nav.chat.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .user-info > div > span {
  vertical-align: top;
  display: inline-block;
  font-size: 90%;
}
.filter-section-desc-holder {
  width: 100%;
}
.filter-section-desc-holder .section-desc-filters {
  width: 100%;
  display: none;
  font-family: MuseoSans;
  font-weight: 600;
  z-index: 29;
  color: white;
}
.filter-section-desc-holder .section-desc-filters .filter {
  background: #12408d;
  border-bottom: 1px solid #0c131d;
  display: none;
  overflow: hidden;
  text-align: center;
}
.filter-section-desc-holder .section-desc-filters .filter:before {
  display: table;
  content: " ";
}
.filter-section-desc-holder .section-desc-filters .filter span {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 100;
  font-size: 0.875em;
}
/*********************
 BREAKPOINTS
 *********************//* "X" icons hover *//* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edf0f4+0,eaeef1+100 */.chat-content-holder nav.chat-nav-filters .filter.filter-users {
  background: #12408d;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-users .users-container .user {
  width: 90%;
  max-width: 30em;
  border-right: 1px solid #eaeef1;
  height: 3em;
  margin-bottom: 0.25em;
  position: relative;
}
@media only screen and (min-height: 640px) {
  .chat-content-holder nav.chat-nav-filters .filter.filter-users .users-container .user {
    margin-bottom: 0.375em;
    height: 3.375em;
  }
}
@media only screen and (min-width: 768px) {
  .chat-content-holder nav.chat-nav-filters .filter.filter-users .users-container .user {
    margin-left: auto;
    margin-right: auto;
  }
}
.chat-content-holder nav.chat-nav-filters .filter.filter-users .users-container .user .user-info {
  display: inline-table;
  height: 100%;
  overflow: hidden;
  vertical-align: bottom;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-users .users-container .user .user-info > div {
  padding: 0 0 0 6px;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-users .users-container .user .user-info > div .img-holder {
  width: 36px;
  height: 36px;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
  -webkit-box-shadow: inset 0px 0px 1.5em 0.125em rgba(250, 235, 225, 0.1), 0px 0px 0.375em 0.15em rgba(50, 40, 40, 0.40);
  -moz-box-shadow: inset 0px 0px 1.5em 0.125em rgba(250, 235, 225, 0.1), 0px 0px 0.375em 0.15em rgba(50, 40, 40, 0.40);
  box-shadow: inset 0px 0px 1.5em 0.125em rgba(250, 235, 225, 0.1), 0px 0px 0.375em 0.15em rgba(50, 40, 40, 0.40);
  text-align: center;
  display: inline-block;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-users .users-container .user .user-info > div .img-holder img {
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
  position: relative;
  top: 3px;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-users .users-container .user .user-info > div .img-holder > i {
  display: inline-table;
  height: 100%;
  width: 100%;
  position: relative;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-users .users-container .user .user-info > div .img-holder > i:before {
  font-size: 24px;
  display: table-cell;
  vertical-align: middle;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-users .users-container .user .user-info > div > i {
  display: inline-table;
  height: 100%;
  font-size: 24px;
  padding: 6px 0;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-users .users-container .user .user-info > div > i:before {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-users .users-container .user .user-info > div > span {
  height: 36px;
  padding: 0 0 0 6px;
  line-height: 36px;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-users .users-container .user .existing-conversation-info {
  display: inline-table;
  height: 100%;
  overflow: hidden;
  vertical-align: bottom;
  right: 0.25em;
  top: 0;
  width: 2em;
  text-align: center;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-users .users-container .user .existing-conversation-info > i.fa.ico-m {
  display: table-cell;
  vertical-align: middle;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-users .users-container .user .existing-conversation-info > i.fa.ico-m.not-exist {
  opacity: 0.15;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-users .users-container .user .existing-conversation-info > i.fa.ico-m.unread {
  color: white;
  font-size: 1.25em;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-users .users-container .user .existing-conversation-info > i.fa.unread-overlay-anim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-table;
  -webkit-animation: horizontal-alarm-frames 6s ease infinite;
  -moz-animation: horizontal-alarm-frames 6s ease infinite;
  -o-animation: horizontal-alarm-frames 6s ease infinite;
  animation: horizontal-alarm-frames 6s ease infinite;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-users .users-container .user .existing-conversation-info > i.fa.unread-overlay-anim:before {
  display: table-cell;
  vertical-align: middle;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-users .users-container .user .existing-conversation-info .hot-msg-card {
  position: absolute;
  top: 15%;
  right: -2%;
  z-index: 5;
  font-size: 0.625em;
}
@media only screen and (min-width: 480px) {
  .chat-content-holder nav.chat-nav-filters .filter.filter-users .users-container .user .existing-conversation-info .hot-msg-card {
    right: -7%;
  }
}
.chat-content-holder nav.chat-nav-filters .filter.filter-users .users-container .user .existing-conversation-info .hot-msg-card .msg-card {
  color: orangered;
  margin: 0;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-users .users-container .user .existing-conversation-info .hot-msg-card .number {
  margin: 0;
  font-size: 1.125em;
  color: white;
  font-family: MuseoSans;
  font-weight: 600;
}
/*********************
 BREAKPOINTS
 *********************//* "X" icons hover *//* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edf0f4+0,eaeef1+100 */.chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms {
  background: #12408d;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room {
  width: 94%;
  margin-bottom: 0.125em;
  margin-top: 0.125em;
  padding: 0.25em 0;
  position: relative;
}
@media only screen and (min-height: 640px) {
  .chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room {
    margin-bottom: 0.25em;
    margin-top: 0.25em;
    padding: 0.375em 0;
  }
}
.chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .chat-room-info {
  width: 75%;
  position: relative;
}
@media only screen and (max-width: 479px) {
  .chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .chat-room-info {
    width: 87%;
  }
}
.chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .chat-room-info > .participants-holder {
  padding: 0 3px 0 5px;
  height: 100%;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .chat-room-info > .participants-holder .participant {
  position: relative;
  display: inline-block;
  padding-top: 0.125em;
  padding-bottom: 0.125em;
  padding-left: 0.375em;
  padding-right: 0.375em;
  border-left: 1px solid #edf0f4;
}
@media only screen and (min-width: 480px) {
  .chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .chat-room-info > .participants-holder .participant {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
@media only screen and (min-height: 640px) {
  .chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .chat-room-info > .participants-holder .participant {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  }
}
@media only screen and (max-width: 479px) {
  .chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .chat-room-info > .participants-holder .participant > span {
    font-size: 0.875em;
  }
}
.chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .chat-room-info > .participants-holder .participant .img-av-holder {
  width: 36px;
  height: 36px;
  border-radius: 5em;
  margin-right: 0.25em;
  margin-left: 0.0625em;
  -webkit-box-shadow: inset 0px 0px 1.5em 0.125em rgba(250, 235, 225, 0.1), 0px 0px 0.375em 0.15em rgba(50, 40, 40, 0.40);
  -moz-box-shadow: inset 0px 0px 1.5em 0.125em rgba(250, 235, 225, 0.1), 0px 0px 0.375em 0.15em rgba(50, 40, 40, 0.40);
  box-shadow: inset 0px 0px 1.5em 0.125em rgba(250, 235, 225, 0.1), 0px 0px 0.375em 0.15em rgba(50, 40, 40, 0.40);
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
@media only screen and (min-width: 480px) {
  .chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .chat-room-info > .participants-holder .participant .img-av-holder {
    margin-right: 0.375em;
    margin-left: 0.125em;
  }
}
.chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .chat-room-info > .participants-holder .participant .img-av-holder img {
  border-radius: 5em;
  position: relative;
  top: 4px;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .chat-room-info > .participants-holder .participant .img-av-holder > i {
  display: inline-table;
  height: 100%;
  font-size: 20px;
  padding: 8px 0;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .chat-room-info > .participants-holder .participant .img-av-holder > i:before {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .chat-room-info .hot-msg-card {
  position: absolute;
  top: 15%;
  right: -2%;
  z-index: 5;
  font-size: 0.625em;
}
@media only screen and (min-width: 480px) {
  .chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .chat-room-info .hot-msg-card {
    right: -7%;
  }
}
.chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .chat-room-info .hot-msg-card .msg-card {
  color: orangered;
  margin: 0;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .chat-room-info .hot-msg-card .number {
  margin: 0;
  font-size: 1.125em;
  color: white;
  font-family: MuseoSans;
  font-weight: 600;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .unread-messages-info {
  overflow: hidden;
  width: 10%;
  position: relative;
  text-align: center;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .unread-messages-info > i.fa {
  font-size: 85%;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .unread-messages-info .alert-unread {
  color: orangered;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .unread-messages-info .alert-unread.faa-horizontal {
  -webkit-animation: horizontal-alarm-frames 6s ease infinite;
  -moz-animation: horizontal-alarm-frames 6s ease infinite;
  -o-animation: horizontal-alarm-frames 6s ease infinite;
  animation: horizontal-alarm-frames 6s ease infinite;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .desc-info {
  width: 12%;
  position: relative;
  text-align: center;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .desc-info > i.fa {
  font-size: 1.25em;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .unread-messages-info, .chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .chat-room-info, .chat-content-holder nav.chat-nav-filters .filter.filter-chat-rooms .chat-rooms-container .chat-room .desc-info {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
}
/*********************
 BREAKPOINTS
 *********************//* "X" icons hover *//* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edf0f4+0,eaeef1+100 */.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container {
  height: 100%;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container > div {
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  max-height: 100%;
  height: 100%;
  width: 100%;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  left: 0;
  margin: 0 auto;
}
@media only screen and (min-width: 480px) {
  .chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container > div {
    max-width: 26em;
  }
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder {
  background: #edf0f4;
  color: #0c131d;
  display: block;
  overflow: hidden;
  text-align: left;
  height: 100%;
  position: absolute;
  width: 100%;
  bottom: 0;
}
@media only screen and (min-height: 640px) and (min-width: 768px) {
  .chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder {
    max-height: 26em;
  }
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder:before {
  display: table;
  content: " ";
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .chatroom-title-container {
  display: block;
  height: 2.25em;
  border-bottom: 2px solid #0c131d;
  overflow: hidden;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .chatroom-title-container .chatroom-title {
  padding: 0 5px;
  display: block;
  overflow: hidden;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .chatroom-title-container .chatroom-title .participant {
  position: relative;
  display: inline-block;
  padding-left: 0.125em;
  padding-right: 0.125em;
  border-left: 1px solid #edf0f4;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .chatroom-title-container .chatroom-title .participant:first-of-type {
  border-left: 1px solid transparent;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .chatroom-title-container .chatroom-title .participant span {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.9em;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .chatroom-title-container .chatroom-title .participant .img-av-holder {
  width: 22px;
  height: 22px;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  margin-right: 0.25em;
  margin-left: 0.0625em;
  -webkit-box-shadow: inset 0px 0px 1.5em 0.125em rgba(250, 235, 225, 0.1), 0px 0px 0.375em 0.15em rgba(50, 40, 40, 0.40);
  -moz-box-shadow: inset 0px 0px 1.5em 0.125em rgba(250, 235, 225, 0.1), 0px 0px 0.375em 0.15em rgba(50, 40, 40, 0.40);
  box-shadow: inset 0px 0px 1.5em 0.125em rgba(250, 235, 225, 0.1), 0px 0px 0.375em 0.15em rgba(50, 40, 40, 0.40);
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .chatroom-title-container .chatroom-title .participant .img-av-holder img {
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 1px;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .chatroom-title-container .chatroom-title .participant .img-av-holder > i {
  display: inline-table;
  height: 100%;
  font-size: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .chatroom-title-container .chatroom-title .participant .img-av-holder > i:before {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .chatroom-title-container .chatroom-title > span {
  font-size: 0.9em;
  display: inline-block;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .chatroom-title-container .chatroom-title .img-avatar-holder {
  display: inline-block;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .messages-container {
  height: -moz-calc(100% - 2.25em - 3.75em);
  height: -o-calc(100% - 2.25em - 3.75em);
  height: -webkit-calc(100% - 2.25em - 3.75em);
  height: calc(100% - 2.25em - 3.75em);
  vertical-align: bottom;
  overflow-x: auto;
  padding-bottom: 6px;
  border-bottom: 4px solid #0c131d;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .messages-container .msg-m .msg-sender > section, .chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .messages-container .msg-m .msg-s > section {
  display: inline-block;
  position: relative;
  vertical-align: bottom;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .messages-container .msg-m .msg-sender > section.av-holder, .chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .messages-container .msg-m .msg-s > section.av-holder {
  width: 25%;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .messages-container .msg-m .msg-sender > section.msg-b-holder, .chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .messages-container .msg-m .msg-s > section.msg-b-holder {
  width: 75%;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .messages-container .msg-m .msg-s > section.av-holder {
  text-align: center;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .messages-container .msg-m .msg-s > section.av-holder .img-av-holder {
  width: 26px;
  height: 26px;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  position: relative;
  bottom: 3px;
  -webkit-box-shadow: inset 0px 0px 1.5em 0.125em rgba(250, 235, 225, 0.1), 0px 0px 0.375em 0.15em rgba(50, 40, 40, 0.40);
  -moz-box-shadow: inset 0px 0px 1.5em 0.125em rgba(250, 235, 225, 0.1), 0px 0px 0.375em 0.15em rgba(50, 40, 40, 0.40);
  box-shadow: inset 0px 0px 1.5em 0.125em rgba(250, 235, 225, 0.1), 0px 0px 0.375em 0.15em rgba(50, 40, 40, 0.40);
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .messages-container .msg-m .msg-s > section.av-holder .img-av-holder img {
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 2px;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .messages-container .msg-m .msg-s > section.av-holder .img-av-holder > i {
  display: inline-table;
  height: 100%;
  font-size: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .messages-container .msg-m .msg-s > section.av-holder .img-av-holder > i:before {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .messages-container .msg-m .msg-s > section.msg-b-holder .message-body {
  position: relative;
  font-size: 14px;
  font-size: 0.875rem;
  padding: 2px 5px 3px 5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin-bottom: 2px;
  border: 1px solid transparent;
  min-width: 60%;
  max-width: 90%;
  display: inline-table;
  min-height: 28px;
}
@media only screen and (max-width: 479px) {
  .chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .messages-container .msg-m .msg-s > section.msg-b-holder .message-body {
    min-width: 65%;
    max-width: 95%;
  }
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .messages-container .msg-m .msg-s > section.msg-b-holder .message-body > * {
  vertical-align: middle;
  display: table-cell;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .messages-container .msg-m .msg-s > section.msg-b-holder .message-body.last-in-a-row:after {
  position: absolute;
  display: block;
  content: '';
  height: 1px;
  width: 1px;
  margin: auto;
  box-sizing: content-box;
  bottom: 6px;
  border: solid 4px transparent;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .messages-container .msg-m .msg-s.my-m > section.msg-b-holder {
  padding-right: 1.25em;
  text-align: left;
}
@media only screen and (max-width: 479px) {
  .chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .messages-container .msg-m .msg-s.my-m > section.msg-b-holder {
    padding-right: 1em;
  }
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .messages-container .msg-m .msg-s.my-m > section.msg-b-holder .message-body {
  text-align: left;
  background-color: rgba(255, 255, 255, 0.9);
  border-color: rgba(24, 50, 147, .2);
  padding-right: 1.25em;
  -webkit-border-top-right-radius: 18px;
  -moz-border-radius-topright: 18px;
  border-top-right-radius: 18px;
  -webkit-border-bottom-right-radius: 18px;
  -moz-border-radius-bottomright: 18px;
  border-bottom-right-radius: 18px;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .messages-container .msg-m .msg-s.my-m > section.msg-b-holder .message-body.last-in-a-row:after {
  border-right: solid 4px rgba(24, 50, 147, .2);
  left: -9px;
  right: auto;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .messages-container .msg-m .msg-s.my-m > section.av-holder .img-av-holder {
  left: 15%;
  background-color: rgba(255, 255, 255, 0.9);
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .messages-container .msg-m .msg-s.not-my-m > section.msg-b-holder {
  padding-left: 1.25em;
  text-align: right;
}
@media only screen and (max-width: 479px) {
  .chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .messages-container .msg-m .msg-s.not-my-m > section.msg-b-holder {
    padding-left: 1em;
  }
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .messages-container .msg-m .msg-s.not-my-m > section.msg-b-holder .message-body {
  text-align: left;
  background-color: rgba(24, 50, 147, 0.08);
  border-color: rgba(18, 43, 114, .2);
  padding-left: 1.25em;
  -webkit-border-top-left-radius: 18px;
  -moz-border-radius-topleft: 18px;
  border-top-left-radius: 18px;
  -webkit-border-bottom-left-radius: 18px;
  -moz-border-radius-bottomleft: 18px;
  border-bottom-left-radius: 18px;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .messages-container .msg-m .msg-s.not-my-m > section.msg-b-holder .message-body.last-in-a-row:after {
  border-left: solid 4px rgba(18, 43, 114, .2);
  right: -9px;
  left: auto;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .messages-container .msg-m .msg-s.not-my-m > section.av-holder .img-av-holder {
  right: 15%;
  background-color: rgba(24, 50, 147, 0.1);
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .messages-container .msg-m .msg-sender {
  margin-top: 3px;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .messages-container .msg-m .msg-sender .sender-username {
  text-align: right;
  padding-right: 1em;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .messages-container .msg-m .msg-sender .sender-username span {
  font-size: 12px;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .messages-container .msg-m .msg-sender.i-am-sender .sender-username {
  text-align: left;
  padding-left: 1em;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .submit-message {
  background: white;
  height: 3.75em;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .submit-message .textarea-holder, .chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .submit-message .submitter-holder {
  display: inline-table;
  line-height: normal;
  vertical-align: middle;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .submit-message .textarea-holder {
  cursor: text;
  max-height: 80px;
  min-height: 16px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 0.5em;
  position: relative;
  width: 72%;
  height: 100%;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .submit-message .textarea-holder textarea {
  font-size: 13px;
  position: relative;
  padding: 4px 8px 8px 4px;
  width: 94%;
  resize: none;
  min-height: 16px;
  height: 44px;
  top: 8px;
  box-shadow: 1px 1px 4px lightgrey;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .submit-message .textarea-holder textarea:focus {
  box-shadow: 1px 1px 4px darkgrey;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .submit-message .textarea-holder .lights-holder {
  display: inline-block;
  width: 6%;
  vertical-align: top;
  text-align: center;
  height: 44px;
  top: 8px;
  position: relative;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .submit-message .textarea-holder .lights-holder .light {
  font-size: 0.625em;
  color: blueviolet;
  -webkit-transition: color 0.6s ease-out;
  -moz-transition: color 0.6s ease-out;
  -o-transition: color 0.6s ease-out;
  -ms-transition: color 0.6s ease-out;
  transition: color 0.6s ease-out;
  vertical-align: top;
  padding: 2px 0;
  margin: 0;
  position: relative;
  display: block;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .submit-message .textarea-holder .lights-holder .light.no {
  color: rgba(255, 255, 255, 0);
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .submit-message .textarea-holder .lights-holder .light.act {
  color: dodgerblue;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .submit-message .textarea-holder .lights-holder .light.pend {
  color: orange;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .submit-message .textarea-holder .lights-holder .light.canc {
  color: rgba(255, 0, 0, .7);
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .submit-message .textarea-holder .lights-holder .light.end {
  color: lightseagreen;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .submit-message .submitter-holder {
  width: 28%;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .submit-message .submitter-holder .submitter-cont {
  padding: 3px 0.25em;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .submit-message .submitter-holder .submitter-cont > div {
  font-family: MuseoSans;
  font-weight: 600;
  text-align: center;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .submit-message .submitter-holder .submitter-cont .submitter {
  text-align: center;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  border: 1px solid black;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (min-width: 480px) {
  .chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .submit-message .submitter-holder .submitter-cont .submitter {
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    border-radius: 1.5em;
  }
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .submit-message .submitter-holder .submitter-cont .submitter.submit {
  min-width: 3.5em;
}
@media only screen and (min-width: 480px) {
  .chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .submit-message .submitter-holder .submitter-cont .submitter.submit {
    width: 6.5em;
  }
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .submit-message .submitter-holder .submitter-cont .submitter.submit span {
  font-size: 0.9em;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .submit-message .submitter-holder .submitter-cont .submitter span, .chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .submit-message .submitter-holder .submitter-cont .submitter a {
  color: #edf0f4;
  padding: 0.25em 0.25em;
  display: block;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .submit-message .submitter-holder .submitter-cont .submitter i.fa {
  padding: 0.375em 0;
  color: #edf0f4;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .submit-message .submitter-holder .submitter-cont .submitter i.fa:before {
  font-size: 1.25em;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .submit-message .submitter-holder .submitter-cont .submitter.bbb-flag-v-cibona-blue.submit:hover, .chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .submit-message .submitter-holder .submitter-cont .submitter.bbb-flag-v-cibona-blue.submit:focus {
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8), 0 0 16px #122b72;
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8), 0 0 16px #122b72;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8), 0 0 16px #122b72;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .submit-message .submitter-holder .submitter-cont .submitter.bbb-flag-v-cibona-blue.submit:active {
  -webkit-box-shadow: inset 0 0 12px #000, 0 0 18px #122b72;
  -moz-box-shadow: inset 0 0 12px #000, 0 0 18px #122b72;
  box-shadow: inset 0 0 12px #000, 0 0 18px #122b72;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .submit-message .submitter-holder .submitter-cont .submitter.bbb-flag-v-cibona-blue.submit:active span, .chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .submit-message .submitter-holder .submitter-cont .submitter.bbb-flag-v-cibona-blue.submit:active a, .chat-content-holder nav.chat-nav-filters .filter.filter-current-chat .current-chat-messages-container .chat-conversation-holder .submit-message .submitter-holder .submitter-cont .submitter.bbb-flag-v-cibona-blue.submit:active i {
  color: white;
}
.filter-section-desc-holder nav.section-desc-filters .filter.filter-current-chat .current-chat-room-container {
  border-left: 5px solid #0c131d;
  border-right: 5px solid #0c131d;
  font-size: 0.75em;
  padding: 0 1em;
}
/*********************
 BREAKPOINTS
 *********************//* "X" icons hover *//* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edf0f4+0,eaeef1+100 */.chat-content-holder nav.chat-nav-filters .filter.filter-chat-info {
  background: #12408d;
}
.chat-content-holder nav.chat-nav-filters .filter.filter-chat-info .chat-info-container {
  color: white;
}
