/* Normal */@font-face {
  font-family: 'MuseoSans';
  src: url('../../font/museo-sans/museosans_300-webfont.eot');
  src: url('../../font/museo-sans/museosans_300-webfont.eot?#iefix') format('embedded-opentype'), url('../../font/museo-sans/museosans_300-webfont.woff') format('woff'), url('../../font/museo-sans/museosans_300-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSans';
  src: url('../../font/museo-sans/museosans_300_italic-webfont.eot');
  src: url('../../font/museo-sans/museosans_300_italic-webfont.eot?#iefix') format('embedded-opentype'), url('../../font/museo-sans/museosans_300_italic-webfont.woff') format('woff'), url('../../font/museo-sans/museosans_300_italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'MuseoSans';
  src: url('../../font/museo-sans/museosans_500-webfont-webfont.eot');
  src: url('../../font/museo-sans/museosans_500-webfont-webfont.eot?#iefix') format('embedded-opentype'), url('../../font/museo-sans/museosans_500-webfont-webfont.woff') format('woff'), url('../../font/museo-sans/museosans_500-webfont-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
/* Thin */@font-face {
  font-family: 'MuseoSans';
  src: url('../../font/museo-sans/museosans_100-webfont.eot');
  src: url('../../font/museo-sans/museosans_100-webfont.eot?#iefix') format('embedded-opentype'), url('../../font/museo-sans/museosans_100-webfont.woff') format('woff'), url('../../font/museo-sans/museosans_100-webfont.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSans';
  src: url('../../font/museo-sans/museosans_500-webfont-webfont.eot');
  src: url('../../font/museo-sans/museosans_500-webfont-webfont.eot?#iefix') format('embedded-opentype'), url('../../font/museo-sans/museosans_500-webfont-webfont.woff') format('woff'), url('../../font/museo-sans/museosans_500-webfont-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
/* Bold */@font-face {
  font-family: 'MuseoSans';
  src: url('../../font/museo-sans/museosans_700-webfont.eot');
  src: url('../../font/museo-sans/museosans_700-webfont.eot?#iefix') format('embedded-opentype'), url('../../font/museo-sans/museosans_700-webfont.woff') format('woff'), url('../../font/museo-sans/museosans_700-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
/* Extra-Bold */@font-face {
  font-family: 'MuseoSans';
  src: url('../../font/museo-sans/museosans_900-webfont.eot');
  src: url('../../font/museo-sans/museosans_900-webfont.eot?#iefix') format('embedded-opentype'), url('../../font/museo-sans/museosans_900-webfont.woff') format('woff'), url('../../font/museo-sans/museosans_900-webfont.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSans';
  src: url('../../font/museo-sans/museosans_900_italic-webfont.eot');
  src: url('../../font/museo-sans/museosans_900_italic-webfont.eot?#iefix') format('embedded-opentype'), url('../../font/museo-sans/museosans_900_italic-webfont.woff') format('woff'), url('../../font/museo-sans/museosans_900_italic-webfont.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
/* Regular */@font-face {
  font-family: 'MuseoSans_regular';
  src: url('../../font/museo-sans/museo300-regular-webfont.eot');
  src: url('../../font/museo-sans/museo300-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../../font/museo-sans/museo300-regular-webfont.woff') format('woff'), url('../../font/museo-sans/museo300-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSans_regular';
  src: url('../../font/museo-sans/museo500-regular-webfont.eot');
  src: url('../../font/museo-sans/museo500-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../../font/museo-sans/museo500-regular-webfont.woff') format('woff'), url('../../font/museo-sans/museo500-regular-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSans_regular';
  src: url('../../font/museo-sans/museo700-regular-webfont.eot');
  src: url('../../font/museo-sans/museo700-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../../font/museo-sans/museo700-regular-webfont.woff') format('woff'), url('../../font/museo-sans/museo700-regular-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
