/*********************
 BREAKPOINTS
 *********************//* "X" icons hover *//* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edf0f4+0,eaeef1+100 */.form-container {
  padding: 1em 0;
}
@media only screen and (min-width: 560px) {
  .form-container {
    padding: 1em 0.25em;
  }
}
@media only screen and (min-width: 768px) {
  .form-container {
    padding: 1em 1em;
  }
}
.form-container .inputs-container {
  text-align: center;
}
.form-container input {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 15;
}
@media only screen and (max-width: 32em) {
  .form-container .vertical-section, .form-container .horizontal-section {
    min-width: 100%;
  }
}
.form-container .vertical-section > div, .form-container .horizontal-section > div {
  width: 100%;
  padding: 0.375em 0;
  position: relative;
}
@media only screen and (min-width: 560px) {
  .form-container .vertical-section > div, .form-container .horizontal-section > div {
    padding: 0.375em 1em;
  }
}
@media only screen and (min-width: 1024px) {
  .form-container .vertical-section > div, .form-container .horizontal-section > div {
    padding: 0.375em 2.5em;
  }
}
.form-container .std-text-input, .form-container .large-text-input, .form-container .medium-text-input, .form-container .small-text-input {
  font-family: MuseoSans;
  font-weight: 600;
  width: 100%;
  font-size: 16px;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  padding: 10px 1.5em 3px 20px;
  border: 1px solid #122b72;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  border-radius: 1.5em;
  outline: none;
  color: #0c131d;
  height: 40px;
}
.form-container select.std-text-input, .form-container select.medium-text-input, .form-container select.small-text-input, .form-container select.large-text-input {
  cursor: pointer;
}
.form-container select.std-text-input option, .form-container select.medium-text-input option, .form-container select.small-text-input option, .form-container select.large-text-input option {
  font-family: 'Raleway', Arial, sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  padding: 0;
}
.form-container .medium-input-width {
  width: 20em;
}
@media only screen and (max-width: 21em) {
  .form-container .medium-input-width {
    width: 100%;
  }
}
.form-container .medium-input-width + label {
  width: 20em;
}
@media only screen and (max-width: 21em) {
  .form-container .medium-input-width + label {
    width: 100%;
  }
}
.form-container .std-input-width {
  width: 24em;
}
@media only screen and (max-width: 25em) {
  .form-container .std-input-width {
    width: 100%;
  }
}
.form-container .std-input-width + label {
  width: 24em;
}
@media only screen and (max-width: 25em) {
  .form-container .std-input-width + label {
    width: 100%;
  }
}
.form-container .large-input-width {
  width: 32em;
}
@media only screen and (max-width: 33em) {
  .form-container .large-input-width {
    width: 100%;
  }
}
.form-container .large-input-width + label {
  width: 32em;
}
@media only screen and (max-width: 33em) {
  .form-container .large-input-width + label {
    width: 100%;
  }
}
.form-container .small-input-width {
  width: 14em;
}
@media only screen and (max-width: 15em) {
  .form-container .small-input-width {
    width: 100%;
  }
}
.form-container .small-input-width + label {
  width: 14em;
}
@media only screen and (max-width: 15em) {
  .form-container .small-input-width + label {
    width: 100%;
  }
}
.form-container .micro-input-width {
  width: 9em;
}
@media only screen and (max-width: 10em) {
  .form-container .micro-input-width {
    width: 100%;
  }
}
.form-container .micro-input-width + label {
  width: 9em;
}
@media only screen and (max-width: 10em) {
  .form-container .micro-input-width + label {
    width: 100%;
  }
}
.form-container .nano-input-width {
  width: 6em;
}
@media only screen and (max-width: 7em) {
  .form-container .nano-input-width {
    width: 100%;
  }
}
.form-container .nano-input-width + label {
  width: 6em;
}
@media only screen and (max-width: 10em) {
  .form-container .nano-input-width + label {
    width: 100%;
  }
}
.form-container .std-text-input + label, .form-container .large-text-input + label, .form-container .medium-text-input + label, .form-container .small-text-input + label {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 100;
  display: inline-table;
  pointer-events: none;
  padding: 0;
  position: absolute;
  text-align: left;
  height: 40px;
  top: 0.375em;
  left: 0;
  right: 0;
  bottom: 0.375em;
  margin: 0 auto;
}
.form-container .std-text-input + label:before, .form-container .large-text-input + label:before, .form-container .medium-text-input + label:before, .form-container .small-text-input + label:before {
  content: attr(data-info);
  display: inline-block;
  line-height: 18px;
  white-space: nowrap;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: white;
  color: #122b72;
  text-align: left;
  padding: 1px 6px;
  font-style: italic;
  opacity: 0.7;
  position: relative;
  left: 48px;
  top: 10px;
}
.form-container .std-text-input + label.special-label, .form-container .large-text-input + label.special-label, .form-container .medium-text-input + label.special-label, .form-container .small-text-input + label.special-label {
  font-family: FontAwesome;
}
.form-container .std-text-input + label.special-label.availability-label:before, .form-container .large-text-input + label.special-label.availability-label:before, .form-container .medium-text-input + label.special-label.availability-label:before, .form-container .small-text-input + label.special-label.availability-label:before {
  content: "\f0c0";
}
.form-container .std-text-input + label:after, .form-container .large-text-input + label:after, .form-container .medium-text-input + label:after, .form-container .small-text-input + label:after {
  content: '\0020';
  display: inline-block;
  line-height: 18px;
  white-space: nowrap;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: #122b72;
  width: 2em;
  font-family: FontAwesome;
  position: absolute;
  text-align: center;
  padding: 1px 6px;
  right: 0;
  top: 10px;
}
.form-container .std-text-input + label.req:after, .form-container .large-text-input + label.req:after, .form-container .medium-text-input + label.req:after, .form-container .small-text-input + label.req:after {
  content: '\f12a';
  color: #bf1a1a;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}
.form-container .std-text-input:focus, .form-container .large-text-input:focus, .form-container .medium-text-input:focus, .form-container .small-text-input:focus {
  border-color: #183293;
  -webkit-box-shadow: inset 0px 0px 1.5em 0.125em rgba(250, 235, 225, 0.1), 0px 0px 1.3em 0.2em rgba(50, 40, 40, 0.40);
  -moz-box-shadow: inset 0px 0px 1.5em 0.125em rgba(250, 235, 225, 0.1), 0px 0px 1.3em 0.2em rgba(50, 40, 40, 0.40);
  box-shadow: inset 0px 0px 1.5em 0.125em rgba(250, 235, 225, 0.1), 0px 0px 1.3em 0.2em rgba(50, 40, 40, 0.40);
}
.form-container .std-text-input:valid + label:before, .form-container .large-text-input:valid + label:before, .form-container .medium-text-input:valid + label:before, .form-container .small-text-input:valid + label:before, .form-container .std-text-input:focus + label:before, .form-container .large-text-input:focus + label:before, .form-container .medium-text-input:focus + label:before, .form-container .small-text-input:focus + label:before, .form-container .std-text-input:read-only + label:before, .form-container .large-text-input:read-only + label:before, .form-container .medium-text-input:read-only + label:before, .form-container .small-text-input:read-only + label:before, .form-container .std-text-input[readonly] + label:before, .form-container .large-text-input[readonly] + label:before, .form-container .medium-text-input[readonly] + label:before, .form-container .small-text-input[readonly] + label:before, .form-container .std-text-input[readonly=""] + label:before, .form-container .large-text-input[readonly=""] + label:before, .form-container .medium-text-input[readonly=""] + label:before, .form-container .small-text-input[readonly=""] + label:before {
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transform: translate(-28px, -20px) scale(0.9, 0.9);
  -ms-transform: translate(-28px, -20px) scale(0.9, 0.9);
  transform: translate(-28px, -20px) scale(0.9, 0.9);
  opacity: 1;
  font-style: normal;
  border-left: 1px solid #183293;
}
.form-container .std-text-input[readonly=""] + label:before, .form-container .large-text-input[readonly=""] + label:before, .form-container .medium-text-input[readonly=""] + label:before, .form-container .small-text-input[readonly=""] + label:before {
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transform: translate(-28px, -20px) scale(0.9, 0.9);
  -ms-transform: translate(-28px, -20px) scale(0.9, 0.9);
  transform: translate(-28px, -20px) scale(0.9, 0.9);
  opacity: 1;
  font-style: normal;
  border-left: 1px solid #183293;
}
.form-container input[type="radio"].rb-input, .form-container input[type="checkbox"].cb-input, .form-container input[type="file"].file-input {
  position: absolute;
  margin: 0;
  left: -7000em;
}
.form-container input[type="radio"].rb-input + .radio-div-cont, .form-container input[type="checkbox"].cb-input + .radio-div-cont, .form-container input[type="file"].file-input + .radio-div-cont, .form-container input[type="radio"].rb-input + .checkbox-div-cont, .form-container input[type="checkbox"].cb-input + .checkbox-div-cont, .form-container input[type="file"].file-input + .checkbox-div-cont, .form-container input[type="radio"].rb-input + .file-div-cont, .form-container input[type="checkbox"].cb-input + .file-div-cont, .form-container input[type="file"].file-input + .file-div-cont {
  font-family: MuseoSans;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid #122b72;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  border-radius: 1.5em;
  outline: none;
  color: #0c131d;
  height: 40px;
  display: inline-block;
  position: relative;
  margin: 0 0;
}
@media only screen and (min-width: 38em) {
  .form-container input[type="radio"].rb-input + .radio-div-cont, .form-container input[type="checkbox"].cb-input + .radio-div-cont, .form-container input[type="file"].file-input + .radio-div-cont, .form-container input[type="radio"].rb-input + .checkbox-div-cont, .form-container input[type="checkbox"].cb-input + .checkbox-div-cont, .form-container input[type="file"].file-input + .checkbox-div-cont, .form-container input[type="radio"].rb-input + .file-div-cont, .form-container input[type="checkbox"].cb-input + .file-div-cont, .form-container input[type="file"].file-input + .file-div-cont {
    margin: 0 1em;
  }
}
@media only screen and (min-width: 768px) {
  .form-container input[type="radio"].rb-input + .radio-div-cont, .form-container input[type="checkbox"].cb-input + .radio-div-cont, .form-container input[type="file"].file-input + .radio-div-cont, .form-container input[type="radio"].rb-input + .checkbox-div-cont, .form-container input[type="checkbox"].cb-input + .checkbox-div-cont, .form-container input[type="file"].file-input + .checkbox-div-cont, .form-container input[type="radio"].rb-input + .file-div-cont, .form-container input[type="checkbox"].cb-input + .file-div-cont, .form-container input[type="file"].file-input + .file-div-cont {
    margin: 0 2em;
  }
}
.form-container input[type="radio"].rb-input + .radio-div-cont.f-mini-input-width, .form-container input[type="checkbox"].cb-input + .radio-div-cont.f-mini-input-width, .form-container input[type="file"].file-input + .radio-div-cont.f-mini-input-width, .form-container input[type="radio"].rb-input + .checkbox-div-cont.f-mini-input-width, .form-container input[type="checkbox"].cb-input + .checkbox-div-cont.f-mini-input-width, .form-container input[type="file"].file-input + .checkbox-div-cont.f-mini-input-width, .form-container input[type="radio"].rb-input + .file-div-cont.f-mini-input-width, .form-container input[type="checkbox"].cb-input + .file-div-cont.f-mini-input-width, .form-container input[type="file"].file-input + .file-div-cont.f-mini-input-width {
  width: 6em;
}
@media only screen and (max-width: 10em) {
  .form-container input[type="radio"].rb-input + .radio-div-cont.f-mini-input-width, .form-container input[type="checkbox"].cb-input + .radio-div-cont.f-mini-input-width, .form-container input[type="file"].file-input + .radio-div-cont.f-mini-input-width, .form-container input[type="radio"].rb-input + .checkbox-div-cont.f-mini-input-width, .form-container input[type="checkbox"].cb-input + .checkbox-div-cont.f-mini-input-width, .form-container input[type="file"].file-input + .checkbox-div-cont.f-mini-input-width, .form-container input[type="radio"].rb-input + .file-div-cont.f-mini-input-width, .form-container input[type="checkbox"].cb-input + .file-div-cont.f-mini-input-width, .form-container input[type="file"].file-input + .file-div-cont.f-mini-input-width {
    width: 100%;
  }
}
.form-container input[type="radio"].rb-input + .radio-div-cont.f-midi-input-width, .form-container input[type="checkbox"].cb-input + .radio-div-cont.f-midi-input-width, .form-container input[type="file"].file-input + .radio-div-cont.f-midi-input-width, .form-container input[type="radio"].rb-input + .checkbox-div-cont.f-midi-input-width, .form-container input[type="checkbox"].cb-input + .checkbox-div-cont.f-midi-input-width, .form-container input[type="file"].file-input + .checkbox-div-cont.f-midi-input-width, .form-container input[type="radio"].rb-input + .file-div-cont.f-midi-input-width, .form-container input[type="checkbox"].cb-input + .file-div-cont.f-midi-input-width, .form-container input[type="file"].file-input + .file-div-cont.f-midi-input-width {
  width: 10em;
}
@media only screen and (max-width: 14em) {
  .form-container input[type="radio"].rb-input + .radio-div-cont.f-midi-input-width, .form-container input[type="checkbox"].cb-input + .radio-div-cont.f-midi-input-width, .form-container input[type="file"].file-input + .radio-div-cont.f-midi-input-width, .form-container input[type="radio"].rb-input + .checkbox-div-cont.f-midi-input-width, .form-container input[type="checkbox"].cb-input + .checkbox-div-cont.f-midi-input-width, .form-container input[type="file"].file-input + .checkbox-div-cont.f-midi-input-width, .form-container input[type="radio"].rb-input + .file-div-cont.f-midi-input-width, .form-container input[type="checkbox"].cb-input + .file-div-cont.f-midi-input-width, .form-container input[type="file"].file-input + .file-div-cont.f-midi-input-width {
    width: 100%;
  }
}
.form-container input[type="radio"].rb-input + .radio-div-cont.f-std-input-width, .form-container input[type="checkbox"].cb-input + .radio-div-cont.f-std-input-width, .form-container input[type="file"].file-input + .radio-div-cont.f-std-input-width, .form-container input[type="radio"].rb-input + .checkbox-div-cont.f-std-input-width, .form-container input[type="checkbox"].cb-input + .checkbox-div-cont.f-std-input-width, .form-container input[type="file"].file-input + .checkbox-div-cont.f-std-input-width, .form-container input[type="radio"].rb-input + .file-div-cont.f-std-input-width, .form-container input[type="checkbox"].cb-input + .file-div-cont.f-std-input-width, .form-container input[type="file"].file-input + .file-div-cont.f-std-input-width {
  width: 14em;
}
@media only screen and (max-width: 18em) {
  .form-container input[type="radio"].rb-input + .radio-div-cont.f-std-input-width, .form-container input[type="checkbox"].cb-input + .radio-div-cont.f-std-input-width, .form-container input[type="file"].file-input + .radio-div-cont.f-std-input-width, .form-container input[type="radio"].rb-input + .checkbox-div-cont.f-std-input-width, .form-container input[type="checkbox"].cb-input + .checkbox-div-cont.f-std-input-width, .form-container input[type="file"].file-input + .checkbox-div-cont.f-std-input-width, .form-container input[type="radio"].rb-input + .file-div-cont.f-std-input-width, .form-container input[type="checkbox"].cb-input + .file-div-cont.f-std-input-width, .form-container input[type="file"].file-input + .file-div-cont.f-std-input-width {
    width: 100%;
  }
}
.form-container input[type="radio"].rb-input + .radio-div-cont.f-mega-input-width, .form-container input[type="checkbox"].cb-input + .radio-div-cont.f-mega-input-width, .form-container input[type="file"].file-input + .radio-div-cont.f-mega-input-width, .form-container input[type="radio"].rb-input + .checkbox-div-cont.f-mega-input-width, .form-container input[type="checkbox"].cb-input + .checkbox-div-cont.f-mega-input-width, .form-container input[type="file"].file-input + .checkbox-div-cont.f-mega-input-width, .form-container input[type="radio"].rb-input + .file-div-cont.f-mega-input-width, .form-container input[type="checkbox"].cb-input + .file-div-cont.f-mega-input-width, .form-container input[type="file"].file-input + .file-div-cont.f-mega-input-width {
  width: 20em;
}
@media only screen and (max-width: 24em) {
  .form-container input[type="radio"].rb-input + .radio-div-cont.f-mega-input-width, .form-container input[type="checkbox"].cb-input + .radio-div-cont.f-mega-input-width, .form-container input[type="file"].file-input + .radio-div-cont.f-mega-input-width, .form-container input[type="radio"].rb-input + .checkbox-div-cont.f-mega-input-width, .form-container input[type="checkbox"].cb-input + .checkbox-div-cont.f-mega-input-width, .form-container input[type="file"].file-input + .checkbox-div-cont.f-mega-input-width, .form-container input[type="radio"].rb-input + .file-div-cont.f-mega-input-width, .form-container input[type="checkbox"].cb-input + .file-div-cont.f-mega-input-width, .form-container input[type="file"].file-input + .file-div-cont.f-mega-input-width {
    width: 100%;
  }
}
.form-container input[type="radio"].rb-input + .radio-div-cont.f-maxi-input-width, .form-container input[type="checkbox"].cb-input + .radio-div-cont.f-maxi-input-width, .form-container input[type="file"].file-input + .radio-div-cont.f-maxi-input-width, .form-container input[type="radio"].rb-input + .checkbox-div-cont.f-maxi-input-width, .form-container input[type="checkbox"].cb-input + .checkbox-div-cont.f-maxi-input-width, .form-container input[type="file"].file-input + .checkbox-div-cont.f-maxi-input-width, .form-container input[type="radio"].rb-input + .file-div-cont.f-maxi-input-width, .form-container input[type="checkbox"].cb-input + .file-div-cont.f-maxi-input-width, .form-container input[type="file"].file-input + .file-div-cont.f-maxi-input-width {
  width: 28em;
}
@media only screen and (max-width: 32em) {
  .form-container input[type="radio"].rb-input + .radio-div-cont.f-maxi-input-width, .form-container input[type="checkbox"].cb-input + .radio-div-cont.f-maxi-input-width, .form-container input[type="file"].file-input + .radio-div-cont.f-maxi-input-width, .form-container input[type="radio"].rb-input + .checkbox-div-cont.f-maxi-input-width, .form-container input[type="checkbox"].cb-input + .checkbox-div-cont.f-maxi-input-width, .form-container input[type="file"].file-input + .checkbox-div-cont.f-maxi-input-width, .form-container input[type="radio"].rb-input + .file-div-cont.f-maxi-input-width, .form-container input[type="checkbox"].cb-input + .file-div-cont.f-maxi-input-width, .form-container input[type="file"].file-input + .file-div-cont.f-maxi-input-width {
    width: 100%;
  }
}
.form-container input[type="radio"].rb-input + .radio-div-cont.f-kilo-input-width, .form-container input[type="checkbox"].cb-input + .radio-div-cont.f-kilo-input-width, .form-container input[type="file"].file-input + .radio-div-cont.f-kilo-input-width, .form-container input[type="radio"].rb-input + .checkbox-div-cont.f-kilo-input-width, .form-container input[type="checkbox"].cb-input + .checkbox-div-cont.f-kilo-input-width, .form-container input[type="file"].file-input + .checkbox-div-cont.f-kilo-input-width, .form-container input[type="radio"].rb-input + .file-div-cont.f-kilo-input-width, .form-container input[type="checkbox"].cb-input + .file-div-cont.f-kilo-input-width, .form-container input[type="file"].file-input + .file-div-cont.f-kilo-input-width {
  width: 32em;
}
@media only screen and (max-width: 36em) {
  .form-container input[type="radio"].rb-input + .radio-div-cont.f-kilo-input-width, .form-container input[type="checkbox"].cb-input + .radio-div-cont.f-kilo-input-width, .form-container input[type="file"].file-input + .radio-div-cont.f-kilo-input-width, .form-container input[type="radio"].rb-input + .checkbox-div-cont.f-kilo-input-width, .form-container input[type="checkbox"].cb-input + .checkbox-div-cont.f-kilo-input-width, .form-container input[type="file"].file-input + .checkbox-div-cont.f-kilo-input-width, .form-container input[type="radio"].rb-input + .file-div-cont.f-kilo-input-width, .form-container input[type="checkbox"].cb-input + .file-div-cont.f-kilo-input-width, .form-container input[type="file"].file-input + .file-div-cont.f-kilo-input-width {
    width: 100%;
  }
}
.form-container input[type="radio"].rb-input + .radio-div-cont > label, .form-container input[type="checkbox"].cb-input + .radio-div-cont > label, .form-container input[type="file"].file-input + .radio-div-cont > label, .form-container input[type="radio"].rb-input + .checkbox-div-cont > label, .form-container input[type="checkbox"].cb-input + .checkbox-div-cont > label, .form-container input[type="file"].file-input + .checkbox-div-cont > label, .form-container input[type="radio"].rb-input + .file-div-cont > label.button-label, .form-container input[type="checkbox"].cb-input + .file-div-cont > label.button-label, .form-container input[type="file"].file-input + .file-div-cont > label.button-label {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: normal;
  position: relative;
  display: inline-block;
  height: inherit;
  cursor: pointer;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  border-radius: 1.5em;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  width: 100%;
  color: #122b72;
}
.form-container input[type="radio"].rb-input + .radio-div-cont > label:before, .form-container input[type="checkbox"].cb-input + .radio-div-cont > label:before, .form-container input[type="file"].file-input + .radio-div-cont > label:before, .form-container input[type="radio"].rb-input + .checkbox-div-cont > label:before, .form-container input[type="checkbox"].cb-input + .checkbox-div-cont > label:before, .form-container input[type="file"].file-input + .checkbox-div-cont > label:before, .form-container input[type="radio"].rb-input + .file-div-cont > label.button-label:before, .form-container input[type="checkbox"].cb-input + .file-div-cont > label.button-label:before, .form-container input[type="file"].file-input + .file-div-cont > label.button-label:before {
  font-family: FontAwesome;
  left: 0.25em;
  color: #122b72;
  text-align: center;
  width: 1.5em;
  position: absolute;
  line-height: 38px;
  font-size: 24px;
}
.form-container input[type="radio"].rb-input + .radio-div-cont > label:before, .form-container input[type="checkbox"].cb-input + .radio-div-cont > label:before, .form-container input[type="file"].file-input + .radio-div-cont > label:before, .form-container input[type="radio"].rb-input + .checkbox-div-cont > label:before, .form-container input[type="checkbox"].cb-input + .checkbox-div-cont > label:before, .form-container input[type="file"].file-input + .checkbox-div-cont > label:before {
  content: '\f1db';
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.form-container input[type="radio"].rb-input + .radio-div-cont > label > span, .form-container input[type="checkbox"].cb-input + .radio-div-cont > label > span, .form-container input[type="file"].file-input + .radio-div-cont > label > span, .form-container input[type="radio"].rb-input + .checkbox-div-cont > label > span, .form-container input[type="checkbox"].cb-input + .checkbox-div-cont > label > span, .form-container input[type="file"].file-input + .checkbox-div-cont > label > span {
  line-height: 38px;
  display: inline-block;
  text-align: center;
  position: relative;
}
.form-container input[type="radio"].rb-input + .file-div-cont > label, .form-container input[type="checkbox"].cb-input + .file-div-cont > label, .form-container input[type="file"].file-input + .file-div-cont > label {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
  overflow: hidden;
}
.form-container input[type="radio"].rb-input + .file-div-cont > label.button-label:before, .form-container input[type="checkbox"].cb-input + .file-div-cont > label.button-label:before, .form-container input[type="file"].file-input + .file-div-cont > label.button-label:before {
  content: '\f0c2';
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}
.form-container input[type="radio"].rb-input + .file-div-cont > label > span, .form-container input[type="checkbox"].cb-input + .file-div-cont > label > span, .form-container input[type="file"].file-input + .file-div-cont > label > span {
  line-height: 38px;
  display: inline-block;
  text-align: center;
  position: relative;
}
.form-container input[type="radio"].rb-input + .file-div-cont > label.selected-file, .form-container input[type="checkbox"].cb-input + .file-div-cont > label.selected-file, .form-container input[type="file"].file-input + .file-div-cont > label.selected-file {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: normal;
  position: absolute;
  display: inline-block;
  height: inherit;
  text-align: left;
}
.form-container input[type="radio"].rb-input + .file-div-cont > label.selected-file > span, .form-container input[type="checkbox"].cb-input + .file-div-cont > label.selected-file > span, .form-container input[type="file"].file-input + .file-div-cont > label.selected-file > span {
  display: inline-table;
  white-space: nowrap;
}
.form-container input[type="radio"].rb-input + .file-div-cont > label.selected-file > span > *, .form-container input[type="checkbox"].cb-input + .file-div-cont > label.selected-file > span > *, .form-container input[type="file"].file-input + .file-div-cont > label.selected-file > span > * {
  display: table-cell;
  vertical-align: middle;
}
.form-container input[type="radio"].rb-input + .file-div-cont > label.selected-file > span i, .form-container input[type="checkbox"].cb-input + .file-div-cont > label.selected-file > span i, .form-container input[type="file"].file-input + .file-div-cont > label.selected-file > span i {
  padding: 0 0.25em 0;
}
.form-container input[type="radio"].rb-input:focus + .radio-div-cont, .form-container input[type="checkbox"].cb-input:focus + .radio-div-cont, .form-container input[type="file"].file-input:focus + .radio-div-cont, .form-container input[type="radio"].rb-input:focus + .checkbox-div-cont, .form-container input[type="checkbox"].cb-input:focus + .checkbox-div-cont, .form-container input[type="file"].file-input:focus + .checkbox-div-cont, .form-container input[type="radio"].rb-input:focus + .file-div-cont, .form-container input[type="checkbox"].cb-input:focus + .file-div-cont, .form-container input[type="file"].file-input:focus + .file-div-cont {
  border-color: #183293;
  -webkit-box-shadow: inset 0px 0px 1.5em 0.125em rgba(250, 235, 225, 0.1), 0px 0px 1.3em 0.2em rgba(50, 40, 40, 0.40);
  -moz-box-shadow: inset 0px 0px 1.5em 0.125em rgba(250, 235, 225, 0.1), 0px 0px 1.3em 0.2em rgba(50, 40, 40, 0.40);
  box-shadow: inset 0px 0px 1.5em 0.125em rgba(250, 235, 225, 0.1), 0px 0px 1.3em 0.2em rgba(50, 40, 40, 0.40);
}
.form-container input[type="radio"].rb-input:not(:checked) + .radio-div-cont > label:hover:before, .form-container input[type="checkbox"].cb-input:not(:checked) + .radio-div-cont > label:hover:before, .form-container input[type="file"].file-input:not(:checked) + .radio-div-cont > label:hover:before, .form-container input[type="radio"].rb-input:not(:checked) + .checkbox-div-cont > label:hover:before, .form-container input[type="checkbox"].cb-input:not(:checked) + .checkbox-div-cont > label:hover:before, .form-container input[type="file"].file-input:not(:checked) + .checkbox-div-cont > label:hover:before {
  color: #183293;
  content: '\f00c';
}
.form-container input[type="radio"].rb-input:checked + .radio-div-cont > label, .form-container input[type="checkbox"].cb-input:checked + .radio-div-cont > label, .form-container input[type="file"].file-input:checked + .radio-div-cont > label, .form-container input[type="radio"].rb-input:checked + .checkbox-div-cont > label, .form-container input[type="checkbox"].cb-input:checked + .checkbox-div-cont > label, .form-container input[type="file"].file-input:checked + .checkbox-div-cont > label {
  color: #0c131d;
}
.form-container input[type="radio"].rb-input:checked + .radio-div-cont > label:before, .form-container input[type="checkbox"].cb-input:checked + .radio-div-cont > label:before, .form-container input[type="file"].file-input:checked + .radio-div-cont > label:before, .form-container input[type="radio"].rb-input:checked + .checkbox-div-cont > label:before, .form-container input[type="checkbox"].cb-input:checked + .checkbox-div-cont > label:before, .form-container input[type="file"].file-input:checked + .checkbox-div-cont > label:before {
  content: '\f058';
  color: #0c131d;
}
.form-container input[type="radio"].rb-input:checked + .radio-div-cont > label > span, .form-container input[type="checkbox"].cb-input:checked + .radio-div-cont > label > span, .form-container input[type="file"].file-input:checked + .radio-div-cont > label > span, .form-container input[type="radio"].rb-input:checked + .checkbox-div-cont > label > span, .form-container input[type="checkbox"].cb-input:checked + .checkbox-div-cont > label > span, .form-container input[type="file"].file-input:checked + .checkbox-div-cont > label > span {
  font-family: MuseoSans;
  font-weight: 600;
}
.form-container input[type="radio"].rb-input:not(:valid) + .file-div-cont > label.button-label:hover:before, .form-container input[type="checkbox"].cb-input:not(:valid) + .file-div-cont > label.button-label:hover:before, .form-container input[type="file"].file-input:not(:valid) + .file-div-cont > label.button-label:hover:before {
  color: #183293;
  content: '\f0ee';
}
.form-container input[type="file"].file-input:valid + .file-div-cont {
  text-align: left;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
.form-container input[type="file"].file-input:valid + .file-div-cont > label.button-label {
  width: 40%;
  text-align: right;
}
@media only screen and (max-width: 559px) {
  .form-container input[type="file"].file-input:valid + .file-div-cont > label.button-label {
    text-align: left;
  }
  .form-container input[type="file"].file-input:valid + .file-div-cont > label.button-label:before {
    content: none !important;
  }
}
.form-container input[type="file"].file-input:valid + .file-div-cont > label.button-label:before {
  content: '\f0ee';
}
.form-container input[type="file"].file-input:valid + .file-div-cont > label.selected-file {
  width: 55%;
  display: inline-block;
  overflow: hidden;
  right: 0.75em;
  padding: 0 0.75em;
}
.form-container .selected-span-cont {
  position: relative;
}
.form-container .selected-span-cont .remove-selection {
  position: relative;
  width: 2em;
  font-size: 1.5em;
  /* top: 0.5em; */
  cursor: pointer;
  display: inline-block;
  /* left: 4em; */
  z-index: 5;
}
.form-container .selected-span-cont .remove-selection:hover {
  color: #ae2e15;
}
.form-container .player-selector .remove-selection {
  position: absolute;
  width: 2em;
  font-size: 1.5em;
  top: 0.5em;
  cursor: pointer;
}
.form-container .player-selector .remove-selection:hover {
  color: #ae2e15;
}
.submitter-cont {
  padding: 3px 0.5em;
}
@media only screen and (min-width: 768px) {
  .submitter-cont {
    padding: 3px 2em;
  }
}
.submitter-cont > div {
  font-family: MuseoSans;
  font-weight: 600;
  text-align: center;
}
.submitter-cont .submitter {
  width: 12em;
  margin: 5px 10px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: all 0.2s cubic-bezier(0.295, 1.055, 0.5, 0.995);
  -moz-transition: all 0.2s cubic-bezier(0.295, 1.055, 0.5, 0.995);
  -o-transition: all 0.2s cubic-bezier(0.295, 1.055, 0.5, 0.995);
  -ms-transition: all 0.2s cubic-bezier(0.295, 1.055, 0.5, 0.995);
  transition: all 0.2s cubic-bezier(0.295, 1.055, 0.5, 0.995);
  -webkit-transition-timing-function: cubic-bezier(0.295, 1.055, 0.5, 0.995);
  /* older webkit */
  -moz-transition-timing-function: cubic-bezier(0.295, 1.055, 0.5, 0.995);
  -o-transition-timing-function: cubic-bezier(0.295, 1.055, 0.5, 0.995);
  transition-timing-function: cubic-bezier(0.295, 1.055, 0.5, 0.995);
  /* custom */
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  border-radius: 1.5em;
  border: 1px solid black;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.submitter-cont .submitter.submit {
  width: 15em;
}
.submitter-cont .submitter span, .submitter-cont .submitter a {
  color: #edf0f4;
  padding: 0.5em 0.5em;
  display: block;
}
.submitter-cont .submitter.bbb-flag-v-cibona-blue.submit:hover, .submitter-cont .submitter.bbb-flag-v-cibona-blue.submit:focus {
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8), 0 0 16px #122b72;
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8), 0 0 16px #122b72;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8), 0 0 16px #122b72;
}
.submitter-cont .submitter.bbb-flag-v-cibona-blue.submit:active {
  -webkit-box-shadow: inset 0 0 12px #000, 0 0 18px #122b72;
  -moz-box-shadow: inset 0 0 12px #000, 0 0 18px #122b72;
  box-shadow: inset 0 0 12px #000, 0 0 18px #122b72;
}
.submitter-cont .submitter.bbb-flag-v-cibona-blue.submit:active span, .submitter-cont .submitter.bbb-flag-v-cibona-blue.submit:active a {
  color: white;
}
.submitter-cont .submitter.bbb-flag-v-cibona-blue.cancel {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0c131d+0,0c131d+8,12408d+8,12408d+11,ffffff+11,ffffff+89,12408d+89,12408d+92,0c131d+92,0c131d+100 */
  background: #0c131d;
  /* Old browsers */
  background: -moz-linear-gradient(left, #0c131d 0%, #0c131d 8%, #12408d 8%, #12408d 11%, #fff 11%, #fff 89%, #12408d 89%, #12408d 92%, #0c131d 92%, #0c131d 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #0c131d), color-stop(8%, #0c131d), color-stop(8%, #12408d), color-stop(11%, #12408d), color-stop(11%, #fff), color-stop(89%, #fff), color-stop(89%, #12408d), color-stop(92%, #12408d), color-stop(92%, #0c131d), color-stop(100%, #0c131d));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #0c131d 0%, #0c131d 8%, #12408d 8%, #12408d 11%, #fff 11%, #fff 89%, #12408d 89%, #12408d 92%, #0c131d 92%, #0c131d 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #0c131d 0%, #0c131d 8%, #12408d 8%, #12408d 11%, #fff 11%, #fff 89%, #12408d 89%, #12408d 92%, #0c131d 92%, #0c131d 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #0c131d 0%, #0c131d 8%, #12408d 8%, #12408d 11%, #fff 11%, #fff 89%, #12408d 89%, #12408d 92%, #0c131d 92%, #0c131d 100%);
  /* IE10+ */
  background: linear-gradient(to right, #0c131d 0%, #0c131d 8%, #12408d 8%, #12408d 11%, #fff 11%, #fff 89%, #12408d 89%, #12408d 92%, #0c131d 92%, #0c131d 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0c131d', endColorstr='#0c131d',GradientType=1);
  /* IE6-9 */
}
.submitter-cont .submitter.bbb-flag-v-cibona-blue.cancel span, .submitter-cont .submitter.bbb-flag-v-cibona-blue.cancel a {
  color: #0c131d;
}
.submitter-cont .submitter.bbb-flag-v-cibona-blue.cancel:hover, .submitter-cont .submitter.bbb-flag-v-cibona-blue.cancel:focus {
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8), 0 0 12px #bf1a1a;
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8), 0 0 12px #bf1a1a;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8), 0 0 12px #bf1a1a;
}
.submitter-cont .submitter.bbb-flag-v-cibona-blue.cancel:active {
  -webkit-box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.8), 0 0 18px #bf1a1a;
  -moz-box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.8), 0 0 18px #bf1a1a;
  box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.8), 0 0 18px #bf1a1a;
}
.submitter-cont .submitter.bbb-flag-v-cibona-blue.cancel:active span, .submitter-cont .submitter.bbb-flag-v-cibona-blue.cancel:active a {
  color: black;
}
div.info {
  text-align: center;
}
div.info .status-container {
  display: inline-table;
  width: 100%;
  text-align: center;
  min-height: 3em;
  border-bottom: 2px dashed #0c131d;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
div.info .status-container.successful-validation {
  background-color: #12408d;
  color: #edf0f4;
  border-color: #edf0f4;
}
div.info .status-container.successful-validation h4 {
  color: #edf0f4;
}
div.info .status-container.warning-msg {
  width: 100%;
}
div.info .status-container.warning-msg i.fa.warning {
  display: table-cell;
  vertical-align: middle;
}
div.info .status-container.warning-msg i.status.fa {
  color: #fff;
  -webkit-background-size: 15px 15px;
  -moz-background-size: 15px 15px;
  background-size: 15px 15px;
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.25, rgba(255, 255, 255, 0.05)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.05)), color-stop(0.75, rgba(255, 255, 255, 0.05)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
}
div.info .status-container.warning-msg.live i.status.fa {
  background-color: #eaaf51;
}
div.info .status-container.warning-msg.error-msg i.status.fa {
  background-color: #bf1a1a;
}
div.info .status-container.warning-msg.success-msg i.status.fa {
  background-color: #67b11c;
}
div.info .status-container.warning-msg.status-msg i.status.fa {
  background-color: #246173;
}
div.info .status-container i.status.fa {
  vertical-align: middle;
  display: table-cell;
  width: 3em;
}
div.info .status-container i.status.fa.close-info {
  cursor: pointer;
}
div.info .status-container i.status.fa:hover {
  color: #ae2e15;
}
div.info .status-container h4 {
  display: inline-block;
  vertical-align: middle;
  font-family: MuseoSans;
  font-weight: 600;
  text-align: center;
  padding: 0.3em 1em 0.3em 1em;
  min-height: 3em;
  line-height: 125%;
  font-size: 16px;
}
div.info .status-container .pp-icon-spin, div.info .status-container .fuconz-spinner {
  font-size: 1.4em;
  color: #0c131d;
  vertical-align: middle;
  width: 2em;
}
div.info .status-container .pp-icon-spin.successful-validation, div.info .status-container .fuconz-spinner.successful-validation {
  color: #edf0f4;
}
div.info .status-container.live h4, div.info .status-container.live .fa {
  color: #0c131d;
  display: table-cell;
  vertical-align: middle;
}
div.info .status-container.live.successful-validation h4, div.info .status-container.live.successful-validation .fa {
  color: #edf0f4;
}
div.info .status-container.msg {
  min-height: 3em;
  vertical-align: middle;
}
div.info .status-container.msg > h4 {
  min-height: 2em;
  vertical-align: middle;
  display: table-cell;
  color: #0c131d;
}
div.info .status-container.msg > h4.successful-validation {
  color: #edf0f4;
}
