/*********************
 BREAKPOINTS
 *********************//* "X" icons hover *//* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edf0f4+0,eaeef1+100 */.jspContainer {
  overflow: hidden;
  position: relative;
}
.jspPane {
  position: relative;
}
.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 100%;
  background: red;
}
.jspHorizontalBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15px;
  background: red;
}
.jspCap {
  display: none;
}
.jspHorizontalBar .jspCap {
  float: left;
}
.jspTrack {
  background: white;
  position: relative;
  border-left: 1px solid #eaeef1;
}
.jspDrag {
  background-color: #12408d;
  position: relative;
  top: 0;
  left: 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-out, color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out, color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out, color 0.3s ease-out;
  -ms-transition: background-color 0.3s ease-out, color 0.3s ease-out;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
}
.jspDrag:hover {
  background-color: #0f3678;
}
.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag {
  float: left;
  height: 100%;
}
.jspArrow {
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.jspArrow.jspDisabled {
  cursor: default;
  background: #80808d;
}
.jspVerticalBar .jspArrow {
  height: 15px;
}
.jspHorizontalBar .jspArrow {
  width: 15px;
  float: left;
  height: 100%;
}
.jspVerticalBar .jspArrow:focus {
  outline: none;
}
.jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%;
}
/* Yuk! CSS Hack for IE6 3 pixel bug :( */* html .jspCorner {
  margin: 0 -3px 0 0;
}
