{% extends "templates/default.twig" %}

{% block title %}
    Promjena lozinke
{% endblock %}

{% block content %}


    <div class = "main-block-cont">
        <div class = "black-horiz-spacer-10"></div>

        <div class = "main-title-box">
            <div class = "inner-cont flag"></div>
            <div class = "inner-cont page-title">
                <h1>Promjena lozinke</h1>
            </div>
        </div>
        <div class = "black-horiz-spacer-5"></div>

        <div class = "main-content-box">
            <div class = "inner-cont">
                <div class = "form-container">

                    <form method = "post" name = "user-password-change" id = "user-password-change"  onsubmit="return false;"
                          action = "{{ urlFor('user.profile.password-change.post') }}">
                        <div class = "inputs-container">

                            <div class = "vertical-section text-centered">
                                <div class = "inner-70pct">
                                    <input type="password" name="old-password" id="old-password" required
                                           maxlength="255" spellcheck="false" autocomplete="off" tabindex="1"
                                           class = "std-text-input std-input-width req"/>
                                    <label id="password-label" class = "req" alt="Trenutna lozinka"
                                           placeholder="Trenutna lozinka" data-info="Trenutna lozinka"></label>
                                </div>
                            </div>

                            <div class = "vertical-section text-centered">
                                <div class = "inner-70pct">
                                    <input type="password" name="new-password" id="new-password" required
                                           maxlength="255" spellcheck="false" autocomplete="off" tabindex="2"
                                           class = "std-text-input std-input-width req"/>
                                    <label id="password-label" class = "req" alt="Nova lozinka"
                                           placeholder="Nova lozinka" data-info="Nova lozinka"></label>
                                </div>
                            </div>

                            <div class = "vertical-section text-centered">
                                <div class = "inner-70pct">
                                    <input type="password" name="new-password-repeated" id="new-password-repeated" required
                                           maxlength="255" spellcheck="false" autocomplete="off" tabindex="3"
                                           class = "std-text-input std-input-width req"/>
                                    <label id="password-repeated-label" class = "req" alt="Ponovi lozinku"
                                           placeholder="Ponovi lozinku" data-info="Ponovi lozinku"></label>
                                </div>
                            </div>




                        </div>

                        {% include "templates/partials/user_messages.twig" %}

                        {% include "templates/partials/live_status.container.twig" %}

                        <input type = "hidden" name = "{{ csrf_key }}" value = "{{ csrf_token }}">

                        <div class = "submitter-cont">
                            <div class = "inner-70pct">
                                <div class = "submitter submit bbb-flag-v-cibona-blue" tabindex="4"
                                     onclick="validateAndSubmitPassChange('user-password-change')">
                                    <span>SPREMI PROMJENU</span>
                                </div>
                                <div class="submitter bbb-flag-v-cibona-blue reversed cancel">
                                    <a href = "{{ urlFor('user.profile.home') }}" tabindex="5">ODUSTANI</a>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>

    </div>



    <script>
        $(document).ready(function(){
            function valSub() {
                if(formSubmittingActive == true) {
                    validateAndSubmitPassChange('user-password-change');
                    return false;
                }
            }
            $('#user-password-change').keydown(function(e) {

                if (e.keyCode == 13) {
                    valSub();
                }
            });
            $('.submitter.submit').keydown(function(e) {

                if (e.keyCode == 13) {
                    valSub();
                }
            });
        });
    </script>
{% endblock %}