{% extends "templates/default.twig" %}

{% block title %}
Fucon탑
{% endblock %}

{% block content %}

    <div class = "main-block-cont">
        <div class = "black-horiz-spacer-10"></div>

        <div class = "main-title-box">
            <div class = "inner-cont flag"></div>
            <div class = "inner-cont page-title">
                <h1>Korisni훾ke stranice {{ auth_user.ssbos('훾lanice', '훾lana') }}</h1>
            </div>
        </div>
        <div class = "black-horiz-spacer-5"></div>

        <div class = "main-content-box">
            <div class = "inner-cont">


                {% include "templates/partials/user_messages.twig" %}


                <div class = "pp-content">
                    <p>
                        <span>Korisnik: {{ user.email }}</span>
                        {% set avatar = auth_user.getAvatarPath %}
                        <span>Avatar path: {{ avatar }}</span>
                    </p>
                    <p>
                        <a href = "{{ urlFor('user.profile.home') }}"> Uredi profil</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
