{% extends "templates/default.twig" %}

{% block title %}
    Di halamo
{% endblock %}

{% block content %}

    <div class = "main-block-cont">
        <div class = "black-horiz-spacer-10"></div>

        <div class = "main-title-box">
            <div class = "inner-cont flag"></div>
            <div class = "inner-cont page-title">
                <h1>Dvojka</h1>
            </div>
        </div>
        <div class = "black-horiz-spacer-5"></div>

        <div class = "main-content-box">
            <div class = "inner-cont">


                {% include "templates/partials/user_messages.twig" %}


                <div class = "vertical-section text-centered">
                    <div class = "">
                        <section id="cd-google-map">
                            <div id="google-container"></div>
                            <div id="cd-zoom-in"></div>
                            <div id="cd-zoom-out"></div>
                            <address><a href = "http://www.dvojka-malinogomet.hr/" target="_blank">Sportski centar Dvojka</a>
                                <br>Zagrebački Velesajam, paviljon broj 2</address>
                        </section>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="public/js/gmaps.main.js"></script> <!-- Resource jQuery -->
{% endblock %}
